{% extends "layouts/home.html" %}
{% set pageTitle = 'Danh sách phiếu xuất kho đơn vận chuyển news 2' %}
{% set bodyClasses = '' %}
{% block content %}
{% include "include/home30.html" %}
{% endblock %}
