<header>
    <div class="header">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <h1 class="rs"><a href="#" class="logo"></a></h1>
                <div class="d-flex align-items-center">
                    <a class="box-menu hotline">Hotline: 0973.477.463</a>
                    <a class="box-menu search">Tra cứu đơn hàng</a>
                    <div class="box-menu box-lang">
                        <select>
                            <option>Tiếng Việt</option>
                            <option>Tiếng Anh</option>
                        </select>
                    </div>
                    <div class="box-cart-outer">
                        <a href="#" class="box-menu box-cart"><span class="number">0</span></a>
                        <div class="box-cart-main">
                            <div class="number-cart">5 sản phẩm</div>
                            <div class="main-cart">
                                <div class="lst-product-cart">
                                    <div class="item-cart d-flex align-items-center">
                                        <span class="thumb-cart"><img src="assets/img/img-sp1.png"/></span>
                                        <div class="detail-cart">
                                            <div class="name-product">
                                                <span class="icon icon-cart1"></span>
                                                Lorem Ipsum is simply dummy text of the printing
                                                Lorem Ipsum is simply dummy text of the printing
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="d-flex align-items-center cart-border">
                                                    <span> KL: </span> 500 g
                                                </div>
                                                <div class="d-flex align-items-center">
                                                     <span>SL: </span>1
                                                </div>
                                            </div>
                                        </div>
                                        <div class="price-cart">
                                            <p class="rs d-flex align-items-center"><span class="price">3.550.000đ</span> x 2</p>
                                            <a href="#" class="btn-delete"></a>
                                        </div>
                                    </div>
                                    <!--item cart-->
                                    <div class="item-cart d-flex align-items-center">
                                        <span class="thumb-cart"><img src="assets/img/img-sp1.png"/></span>
                                        <div class="detail-cart">
                                            <div class="name-product">
                                                <span class="icon icon-cart2"></span>
                                                Lorem Ipsum is simply dummy text of the printing
                                                Lorem Ipsum is simply dummy text of the printing
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="d-flex align-items-center cart-border">
                                                    <span> KL: </span> 500 g
                                                </div>
                                                <div class="d-flex align-items-center">
                                                    <span>SL: </span>1
                                                </div>
                                            </div>
                                        </div>
                                        <div class="price-cart">
                                            <p class="rs d-flex align-items-center"><span class="price">3.550.000đ </span> x2</p>
                                            <a href="#" class="btn-delete"></a>
                                        </div>
                                    </div>
                                    <!--item cart-->
                                    <div class="item-cart d-flex align-items-center">
                                        <span class="thumb-cart"><img src="assets/img/img-sp1.png"/></span>
                                        <div class="detail-cart">
                                            <div class="name-product">
                                                <span class="icon icon-cart3"></span>
                                                Lorem Ipsum is simply dummy text of the printing
                                                Lorem Ipsum is simply dummy text of the printing
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="d-flex align-items-center cart-border">
                                                    <span> KL: </span> 500 g
                                                </div>
                                                <div class="d-flex align-items-center">
                                                    <span>SL: </span>1
                                                </div>
                                            </div>
                                        </div>
                                        <div class="price-cart">
                                            <p class="rs d-flex align-items-center"><span class="price">3.550.000đ </span> x2</p>
                                            <a href="#" class="btn-delete"></a>
                                        </div>
                                    </div>
                                    <!--item cart-->
                                    <div class="item-cart d-flex align-items-center">
                                        <span class="thumb-cart"><img src="assets/img/img-sp1.png"/></span>
                                        <div class="detail-cart">
                                            <div class="name-product">
                                                <span class="icon icon-cart4"></span>
                                                Lorem Ipsum is simply dummy text of the printing
                                                Lorem Ipsum is simply dummy text of the printing
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <div class="d-flex align-items-center cart-border">
                                                    <span> KL: </span> 500 g
                                                </div>
                                                <div class="d-flex align-items-center">
                                                    <span>SL: </span>1
                                                </div>
                                            </div>
                                        </div>
                                        <div class="price-cart">
                                            <p class="rs d-flex align-items-center"><span class="price">3.550.000đ </span> x2</p>
                                            <a href="#" class="btn-delete"></a>
                                        </div>
                                    </div>
                                    <!--item cart-->
                                    <div class="box-total-price">
                                        <div class="price-number">
                                            Tổng cộng: <span class="number-price">12.550.000đ</span>
                                        </div>
                                        <a href="#" class="btn-pay">Thanh toán</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a href="#" class="box-menu box-notif"><span class="number">3</span></a>
                    <div class="box-user">
                        <span class="avatar"><img src="assets/img/avatar.png"/></span>

                        <div class="box-user-detail">
                            <div class="top-user">
                                <span class="avatar"><img src="assets/img/avatar.png"/></span>
                                <div class="info-user">
                                    <h5 class="rs username">Nguyễn Hà My</h5>
                                    <span class="mail">hamyng2965@gmail.com</span>
                                    <a href="#" class="btn btn-edit-user">Chỉnh sửa hồ sơ</a>
                                </div>
                            </div>
                            <ul class="list-menu-user rs">
                                <li><a href="#"><span class="name name-1">Quản lý đơn hàng</span><span class="tag-number">23</span></a></li>
                                <li><a href="#"><span class="name name-2">Ví của tôi</span></a></li>
                                <li><a href="#"><span class="name name-3">Cấp bậc của tôi</span><span class="tag-number">Nâng hạng</span></a></li>
                                <li><a href="#"><span class="name name-4">Hợp đồng của tôi</span></a></li>
                                <li><a href="#"><span class="name name-5">Địa chỉ của tôi</span></a></li>
                                <li><a href="#"><span class="name name-6">Lịch sử giao dịch</span></a></li>
                                <li><a href="#"><span class="name name-7">Công nợ</span></a></li>
                                <li><a href="#"><span class="name name-8">Tài khoản ngân hàng</span></a></li>
                                <li><a href="#"><span class="name name-9">Đổi mật khẩu</span></a></li>
                                <li><a href="#"><span class="name name-10">Đăng xuất</span></a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</header>