<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.7/css/swiper.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick-theme.min.css" rel="stylesheet">
    <link href="./assets/css/javascript-calendar.css" rel="stylesheet">
    <link href="./assets/css/daterangepicker.css" rel="stylesheet">
    <link href="./assets/css/style-home.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}} no-webp">
<div class="wrapper-pcs">
    {% include "../share/header.html" %}
    <div class="container">
        <div class="row main-pcs">
            {% include "../share/box-left.html" %}
            {% block content %}{% endblock %}
        </div>
    </div>
    {% include "../share/footer.html" %}
</div>
<script src="./assets/js/jquery-3.1.1.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.9/slick.min.js"></script>
<script src="./assets/js/javascript-calendar.js"></script>
<script src="./assets/js/javascript-calendar.js"></script>
<script src="./assets/js/moment.min.js"></script>
<script src="./assets/js/daterangepicker.min.js"></script>
<script src="./assets/js/page_all.js"></script>
</body>
</html>