<div class="col-9 box-right">
    <div class="row box-main flex-column">
        {% include "../share/box-top-main.html" %}
        <div class="box-product-recommend w-100 mb-24">
            <h4 class="title">Sản phẩm gợi ý trong tuần</h4>
            <div class="list-recommend">
                <div class="item-recommend">
                    <div class="box-images">
                        <img src="assets/img/image_92.png"/>
                        <span class="name-link">Amazon</span>
                    </div>
                    <div class="info-product">
                        <a href="#" class="title-pro">Đồng hồ nam chính hãng Lobinni No.311-2 Đồng hồ nam chính hãng Lobinni No.311-2</a>
                        <div class="box-price">
                            <span class="num-price">$250.00</span>
                            <a href="#" class="btn-add-cart" data-toggle="modal" data-target="#popup1"></a>
                        </div>
                    </div>
                </div>
                <div class="item-recommend">
                    <div class="box-images">
                        <img src="assets/img/image_85.png"/>
                        <span class="name-link">Amazon Amazon</span>
                    </div>
                    <div class="info-product">
                        <a href="#" class="title-pro">Đồng hồ nam chính hãng Lobinni No.311-2</a>
                        <div class="box-price">
                            <span class="num-price">$250.00</span>
                            <a href="#" class="btn-add-cart" data-toggle="modal" data-target="#popup1"></a>
                        </div>
                    </div>
                </div>
                <div class="item-recommend">
                    <div class="box-images">
                        <img src="assets/img/image_86.png"/>
                        <span class="name-link">Amazon</span>
                    </div>
                    <div class="info-product">
                        <a href="#" class="title-pro">Đồng hồ nam chính hãng Lobinni No.311-2</a>
                        <div class="box-price">
                            <span class="num-price">$250.00</span>
                            <a href="#" class="btn-add-cart" data-toggle="modal" data-target="#popup1"></a>
                        </div>
                    </div>
                </div>
                <div class="item-recommend">
                    <div class="box-images">
                        <img src="assets/img/image_87.png"/>
                        <span class="name-link">Amazon</span>
                    </div>
                    <div class="info-product">
                        <a href="#" class="title-pro">Đồng hồ nam chính hãng Lobinni No.311-2</a>
                        <div class="box-price">
                            <span class="num-price">$250.00</span>
                            <a href="#" class="btn-add-cart" data-toggle="modal" data-target="#popup1"></a>
                        </div>
                    </div>
                </div>
                <div class="item-recommend">
                    <div class="box-images">
                        <img src="assets/img/image_92.png"/>
                        <span class="name-link">Amazon</span>
                    </div>
                    <div class="info-product">
                        <a href="#" class="title-pro">Đồng hồ nam chính hãng Lobinni No.311-2</a>
                        <div class="box-price">
                            <span class="num-price">$250.00</span>
                            <a href="#" class="btn-add-cart" data-toggle="modal" data-target="#popup1"></a>
                        </div>
                    </div>
                </div>
                <div class="item-recommend">
                    <div class="box-images">
                        <img src="assets/img/image_92.png"/>
                        <span class="name-link">Amazon</span>
                    </div>
                    <div class="info-product">
                        <a href="#" class="title-pro">Đồng hồ nam chính hãng Lobinni No.311-2 Đồng hồ nam chính hãng Lobinni No.311-2</a>
                        <div class="box-price">
                            <span class="num-price">$250.00</span>
                            <a href="#" class="btn-add-cart" data-toggle="modal" data-target="#popup1"></a>
                        </div>
                    </div>
                </div>
                <div class="item-recommend">
                    <div class="box-images">
                        <img src="assets/img/image_85.png"/>
                        <span class="name-link">Amazon Amazon</span>
                    </div>
                    <div class="info-product">
                        <a href="#" class="title-pro">Đồng hồ nam chính hãng Lobinni No.311-2</a>
                        <div class="box-price">
                            <span class="num-price">$250.00</span>
                            <a href="#" class="btn-add-cart" data-toggle="modal" data-target="#popup1"></a>
                        </div>
                    </div>
                </div>
                <div class="item-recommend">
                    <div class="box-images">
                        <img src="assets/img/image_86.png"/>
                        <span class="name-link">Amazon</span>
                    </div>
                    <div class="info-product">
                        <a href="#" class="title-pro">Đồng hồ nam chính hãng Lobinni No.311-2</a>
                        <div class="box-price">
                            <span class="num-price">$250.00</span>
                            <a href="#" class="btn-add-cart" data-toggle="modal" data-target="#popup1"></a>
                        </div>
                    </div>
                </div>
                <div class="item-recommend">
                    <div class="box-images">
                        <img src="assets/img/image_87.png"/>
                        <span class="name-link">Amazon</span>
                    </div>
                    <div class="info-product">
                        <a href="#" class="title-pro">Đồng hồ nam chính hãng Lobinni No.311-2</a>
                        <div class="box-price">
                            <span class="num-price">$250.00</span>
                            <a href="#" class="btn-add-cart" data-toggle="modal" data-target="#popup1"></a>
                        </div>
                    </div>
                </div>
                <div class="item-recommend">
                    <div class="box-images">
                        <img src="assets/img/image_92.png"/>
                        <span class="name-link">Amazon</span>
                    </div>
                    <div class="info-product">
                        <a href="#" class="title-pro">Đồng hồ nam chính hãng Lobinni No.311-2</a>
                        <div class="box-price">
                            <span class="num-price">$250.00</span>
                            <a href="#" class="btn-add-cart" data-toggle="modal" data-target="#popup1"></a>
                        </div>
                    </div>
                </div>
                <a href="#"  class="btn-more w-100">Xem thêm</a>
            </div>
        </div>
    </div>
</div>


<!--popup modal-->
<div  class="modal-pcs modal " id="popup1" tabindex="-1" role="dialog" aria-labelledby="popup1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="rs name-title">Thông tin sản phẩm</h4>
            <div class="main-product modal-recommend">
                <div class="box-info-product">
                    <div class="box-slide">
                        <!-- Swiper -->
                        <div class="slider slider-for">
                            <div class="swiper-slide" style="">
                                <span><img src="assets/img/img-nckd2.png"/></span>
                            </div>
                            <div class="swiper-slide" style="">
                                <span><img src="assets/img/img-sp1.png"/></span>
                            </div>
                            <div class="swiper-slide" style="">
                                <span><img src="assets/img/img-shoes.png"/></span>
                            </div>
                            <div class="swiper-slide" style="">
                                <span><img src="assets/img/image_92.png"/></span>
                            </div>
                            <div class="swiper-slide" style="">
                                <span><img src="assets/img/image_85.png"/></span>
                            </div>
                            <div class="swiper-slide" style="">
                                <span><img src="assets/img/image_86.png"/></span>
                            </div>
                            <div class="swiper-slide" style="">
                                <span><img src="assets/img/image_87.png"/></span>
                            </div>
                        </div>
                        <div class="slider slider-nav">
                            <div class="swiper-slide" style="">
                                <span><img src="assets/img/img-nckd2.png"/></span>
                            </div>
                            <div class="swiper-slide" style="">
                                <span><img src="assets/img/img-sp2.png"/></span>
                            </div>
                            <div class="swiper-slide" style="">
                                <span><img src="assets/img/img-shoes.png"/></span>
                            </div>
                            <div class="swiper-slide" style="">
                                <span><img src="assets/img/image_92.png"/></span>
                            </div>
                            <div class="swiper-slide" style="">
                                <span><img src="assets/img/image_85.png"/></span>
                            </div>
                            <div class="swiper-slide" style="">
                                <span><img src="assets/img/image_86.png"/></span>
                            </div>
                            <div class="swiper-slide" style="">
                                <span><img src="assets/img/image_87.png"/></span>
                            </div>
                        </div>
                    </div>
                    <div class="info-slide">
                        <a href="#" class="name-product">
                            COSORI Air Fryer Max XL (100 Recipes) Nồi lò nóng kỹ thuật số,
                            một màn hình cảm ứng với 13 chức năng nấu, làm nóng trước và
                            nhắc nhở lắc, 5.8 QT,
                        </a>
                        <div class="origin-product">Link sản phẩm: <a href="#" class="country">amazon.com/COSO RI-Electric-Reminder-Touchscreen</a></div>
                        <div class="origin-product">Giá sản phẩm: <span class="price">$119,99</span></div>
                        <div class="list-feature-product">
                           <div class="item-feature">
                               <label class="m-0">Tên Modal:</label>
                               <span>Air Fryer Max XL(100 Recipes)</span>
                           </div>
                            <div class="item-feature">
                                <label class="m-0">Thương hiệu:</label>
                                <span>COSORI</span>
                            </div>
                            <div class="item-feature">
                                <label class="m-0">Dung tích:</label>
                                <span>5,8 Quarts</span>
                            </div>
                            <div class="item-feature">
                                <label class="m-0">Màu sắc:</label>
                                <span>Black</span>
                            </div>
                            <div class="item-feature">
                                <label class="m-0">Kích thước:</label>
                                <span>11.8 x 14.3 x 12.7 inches; 11.9 Pounds</span>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <button class="btn-bottom-feature active">Mua ngay</button>
                            <button class="btn-bottom-feature">Thêm vào giỏ hàng</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--popup-->