<div class="col-9 box-right">
    <div class="row box-main flex-column">
        {% include "../share/box-top-main.html" %}
        <div class="box-product-recommend w-100 mb-24">
            <h4 class="title">Sản phẩm gợi ý trong tuần</h4>
            <div class="list-recommend">
                <div class="item-recommend">
                    <div class="box-images">
                        <img src="assets/img/image_92.png"/>
                        <span class="name-link">Amazon</span>
                    </div>
                    <div class="info-product">
                        <a href="#" class="title-pro">Đồng hồ nam chính hãng Lobinni No.311-2 Đồng hồ nam chính hãng Lobinni No.311-2</a>
                        <div class="box-price">
                            <span class="num-price">$250.00</span>
                            <a href="#" class="btn-add-cart"></a>
                        </div>
                    </div>
                </div>
                <div class="item-recommend">
                    <div class="box-images">
                        <img src="assets/img/image_85.png"/>
                        <span class="name-link">Amazon Amazon</span>
                    </div>
                    <div class="info-product">
                        <a href="#" class="title-pro">Đồng hồ nam chính hãng Lobinni No.311-2</a>
                        <div class="box-price">
                            <span class="num-price">$250.00</span>
                            <a href="#" class="btn-add-cart"></a>
                        </div>
                    </div>
                </div>
                <div class="item-recommend">
                    <div class="box-images">
                        <img src="assets/img/image_86.png"/>
                        <span class="name-link">Amazon</span>
                    </div>
                    <div class="info-product">
                        <a href="#" class="title-pro">Đồng hồ nam chính hãng Lobinni No.311-2</a>
                        <div class="box-price">
                            <span class="num-price">$250.00</span>
                            <a href="#" class="btn-add-cart"></a>
                        </div>
                    </div>
                </div>
                <div class="item-recommend">
                    <div class="box-images">
                        <img src="assets/img/image_87.png"/>
                        <span class="name-link">Amazon</span>
                    </div>
                    <div class="info-product">
                        <a href="#" class="title-pro">Đồng hồ nam chính hãng Lobinni No.311-2</a>
                        <div class="box-price">
                            <span class="num-price">$250.00</span>
                            <a href="#" class="btn-add-cart"></a>
                        </div>
                    </div>
                </div>
                <div class="item-recommend">
                    <div class="box-images">
                        <img src="assets/img/image_92.png"/>
                        <span class="name-link">Amazon</span>
                    </div>
                    <div class="info-product">
                        <a href="#" class="title-pro">Đồng hồ nam chính hãng Lobinni No.311-2</a>
                        <div class="box-price">
                            <span class="num-price">$250.00</span>
                            <a href="#" class="btn-add-cart"></a>
                        </div>
                    </div>
                </div>
                <div class="item-recommend">
                    <div class="box-images">
                        <img src="assets/img/image_92.png"/>
                        <span class="name-link">Amazon</span>
                    </div>
                    <div class="info-product">
                        <a href="#" class="title-pro">Đồng hồ nam chính hãng Lobinni No.311-2 Đồng hồ nam chính hãng Lobinni No.311-2</a>
                        <div class="box-price">
                            <span class="num-price">$250.00</span>
                            <a href="#" class="btn-add-cart"></a>
                        </div>
                    </div>
                </div>
                <div class="item-recommend">
                    <div class="box-images">
                        <img src="assets/img/image_85.png"/>
                        <span class="name-link">Amazon Amazon</span>
                    </div>
                    <div class="info-product">
                        <a href="#" class="title-pro">Đồng hồ nam chính hãng Lobinni No.311-2</a>
                        <div class="box-price">
                            <span class="num-price">$250.00</span>
                            <a href="#" class="btn-add-cart"></a>
                        </div>
                    </div>
                </div>
                <div class="item-recommend">
                    <div class="box-images">
                        <img src="assets/img/image_86.png"/>
                        <span class="name-link">Amazon</span>
                    </div>
                    <div class="info-product">
                        <a href="#" class="title-pro">Đồng hồ nam chính hãng Lobinni No.311-2</a>
                        <div class="box-price">
                            <span class="num-price">$250.00</span>
                            <a href="#" class="btn-add-cart"></a>
                        </div>
                    </div>
                </div>
                <div class="item-recommend">
                    <div class="box-images">
                        <img src="assets/img/image_87.png"/>
                        <span class="name-link">Amazon</span>
                    </div>
                    <div class="info-product">
                        <a href="#" class="title-pro">Đồng hồ nam chính hãng Lobinni No.311-2</a>
                        <div class="box-price">
                            <span class="num-price">$250.00</span>
                            <a href="#" class="btn-add-cart"></a>
                        </div>
                    </div>
                </div>
                <div class="item-recommend">
                    <div class="box-images">
                        <img src="assets/img/image_92.png"/>
                        <span class="name-link">Amazon</span>
                    </div>
                    <div class="info-product">
                        <a href="#" class="title-pro">Đồng hồ nam chính hãng Lobinni No.311-2</a>
                        <div class="box-price">
                            <span class="num-price">$250.00</span>
                            <a href="#" class="btn-add-cart"></a>
                        </div>
                    </div>
                </div>
                <a href="#"  class="btn-more w-100">Xem thêm</a>
            </div>
        </div>
    </div>
</div>