<div class="col-9 box-right">
    <div class="row box-main flex-column">
        <div class="nav-menu-detail">
            <a href="#">Trang chủ</a>
            <a href="#">Đơn hàng mua hộ</a>
            <a href="#">Danh sách đơn hàng mua hộ</a>
            <a href="#">Chi tiết đơn hàng</a>
            <a href="#">Tạo khiếu nại</a>
            <span>Chi tiết khiếu nại</span>
        </div>
        <div class="box-detail-main">
            <div class="top-complaint">Chi tiết khiếu nại</div>
            <div class="detail-complaint">
                <div class="progress-complaint">
                    <div class="progress-item progress-1"><span class="number">1</span>Gửi khiếu nại</div>
                    <div class="progress-item progress-2 active"><span class="number">2</span>Đang xử lý</div>
                    <div class="progress-item progress-3"><span class="number">3</span>Đã xử lý</div>
                </div>
                <div class="detail-info-complaint">
                    <div class="box-left-detail">
                        <div class="item-detail-complaint">
                            <label class="rs">Mã ticket khiếu nại:</label>
                            <span class="text-red">SQT-KN-2108010001</span>
                        </div>
                        <div class="item-detail-complaint">
                            <label class="rs">Đơn hàng số:</label>
                            <span class="color-main">JPD210629013</span>
                        </div>
                        <div class="item-detail-complaint">
                            <label class="rs">Loại khiếu nại:</label>
                            <span>Hàng mất mát, thất lạc</span>
                        </div>
                        <div class="item-detail-complaint">
                            <label class="rs">Số tracking:</label>
                            <span>ABCXYZ123456789</span>
                        </div>
                        <div class="item-detail-complaint">
                            <label class="rs">Số Bill POST:</label>
                            <span>P987654321</span>
                        </div>
                        <div class="item-detail-complaint">
                            <label class="rs">Thời gian gửi KN:</label>
                            <span>2021/08/01 12:00 AM</span>
                        </div>
                        <div class="item-detail-complaint">
                            <label class="rs">Thời gian tiếp nhận KN:</label>
                            <span>2021/08/01 12:00 AM <small>(Hạn xử lý 2021/08/07 12:00 AM)</small></span>
                        </div>
                        <div class="item-detail-complaint">
                            <label class="rs">Thời gian đóng KN:</label>
                            <span>2021/08/01 12:00 AM</span>
                        </div>
                    </div>
                    <div class="box-right-contact">
                        <div class="item-group-contact">
                            <div class="item-contact">
                                <label class="rs">Khách hàng:</label>
                                <div>Đào Thị Liễu - P1234</div>
                            </div>
                            <div class="item-contact">
                                <label class="rs">Điện thoại:</label>
                                <div>0912345678</div>
                            </div>
                        </div>
                        <div class="item-group-contact">
                            <div class="item-contact">
                                <label class="rs">Nhân viên CSKH:</label>
                                <div>Đào Thị Liễu - P1234</div>
                            </div>
                            <div class="item-contact">
                                <label class="rs">Điện thoại:</label>
                                <div>
                                    <span>0912345678</span>
                                    <ul class="rs lst-contact-social">
                                        <li><a href="#" class="phone"></a></li>
                                        <li><a href="#" class="zalo"></a></li>
                                        <li><a href="#" class="skype"></a></li>
                                        <li><a href="#" class="mess-fb"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="item-group-contact">
                            <div class="item-contact">
                                <label class="rs">Nhân viên KD:</label>
                                <div>Đào Thị Liễu - P1234</div>
                            </div>
                            <div class="item-contact">
                                <label class="rs">Điện thoại:</label>
                                <div>
                                    <span>0912345678</span>
                                    <ul class="rs lst-contact-social">
                                        <li><a href="#" class="phone"></a></li>
                                        <li><a href="#" class="zalo"></a></li>
                                        <li><a href="#" class="skype"></a></li>
                                        <li><a href="#" class="mess-fb"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-item-content">
                    <div class="detail-content">
                        <h4 class="rs title">Nội dung khiếu nại</h4>
                        <p class="rs">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            Nulla at amet, viverra enim scelerisque sagittis rhoncus in aliquam.
                            Habitasse sagittis viverra sed odio. Tincidunt facilisis egestas nibh nibh tempor,
                            vitae tortor nunc.
                            Sit non scelerisque lorem dui sapien tristique dictum sed.
                        </p>
                        <p class="rs">
                            Tellus volutpat, in quis aliquet. Lacus, varius in diam sapien arcu.
                            Diam nisl pellentesque urna condimentum lacus, erat neque, leo sagittis.
                            Mauris molestie nec, sed montes, purus, lacus duis in vestibulum. Consectetur amet faucibus viverra condimentum. Morbi elementum amet, ac faucibus tortor ac vestibulum tristique lacus.
                            Quisque maecenas fringilla mauris, massa amet gravida.
                        </p>
                    </div>
                    <div class="box-images-content">
                        <h4 class="rs title">Hình ảnh/Tài liệu đính kèm </h4>
                        <div class="box-upload-images">
                            <button class="btn-upload">Tải hình ảnh</button>
                            <div class="lst-images-2">
                                <div class="item-img"><span><img src="assets/img/img-thumb-2.png"/></span></div>
                                <div class="item-img"><span><img src="assets/img/img-thumb-2.png"/></span></div>
                                <div class="item-img"><span><img src="assets/img/img-thumb-2.png"/></span></div>
                                <div class="item-img"><span><img src="assets/img/img-thumb-2.png"/></span></div>
                                <div class="item-img"><span><img src="assets/img/img-thumb-2.png"/></span></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-comment">
                    <h4 class="rs title mb-24">Nội dung trao đổi giải quyết khiếu nại</h4>
                    <div class="lst-comment">
                        <div class="item-comment mb-24">
                            <div class="avatar-comment"><img src="assets/img/avatar-comment.png"/></div>
                            <div class="detail-comment">
                                <p class="rs">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel vitae pretium, metus eros,
                                    vestibulum odio ac. Lectus sed adipiscing morbi volutpat purus ipsum augue. Tristique vitae massa sapien diam lorem imperdiet cursus magna. Mi enim, cras nunc, gravida proin amet sem.
                                    Erat nec metus, massa vestibulum diam id est sagittis. Mauris enim eu dolor elementum.
                                </p>
                                <div class="lst-images-2 mt-0">
                                    <div class="item-img"><span><img src="assets/img/img-thumb-2.png"/></span></div>
                                    <div class="item-img"><span><img src="assets/img/img-thumb-2.png"/></span></div>
                                    <div class="item-img"><span><img src="assets/img/img-thumb-2.png"/></span></div>
                                    <div class="item-img"><span><img src="assets/img/img-thumb-2.png"/></span></div>
                                    <div class="item-img"><span><img src="assets/img/img-thumb-2.png"/></span></div>
                                </div>
                            </div>

                        </div>
<!--                       <--item comment-->
                        <div class="item-comment mb-24">
                            <div class="avatar-comment"><img src="assets/img/avatar-comment1.png"/></div>
                            <div class="detail-comment">
                                <p class="rs">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel vitae pretium, metus eros,
                                    vestibulum odio ac. Lectus sed adipiscing morbi volutpat purus ipsum augue. Tristique vitae massa sapien diam lorem imperdiet cursus magna. Mi enim, cras nunc, gravida proin amet sem.
                                    Erat nec metus, massa vestibulum diam id est sagittis. Mauris enim eu dolor elementum.
                                </p>
                            </div>
                        </div>
                        <!--                       <--item comment-->
                        <div class="item-comment mb-24">
                            <div class="avatar-comment"><img src="assets/img/avatar-comment.png"/></div>
                            <div class="detail-comment">
                                <p class="rs">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vel vitae pretium, metus eros,
                                    vestibulum odio ac. Lectus sed adipiscing morbi volutpat purus ipsum augue. Tristique vitae massa sapien diam lorem imperdiet cursus magna. Mi enim, cras nunc, gravida proin amet sem.
                                    Erat nec metus, massa vestibulum diam id est sagittis. Mauris enim eu dolor elementum.
                                </p>
                                <div class="lst-images-2 mt-0">
                                    <div class="item-img"><span><img src="assets/img/img-thumb-2.png"/></span></div>
                                    <div class="item-img"><span><img src="assets/img/img-thumb-2.png"/></span></div>
                                    <div class="item-img"><span><img src="assets/img/img-thumb-2.png"/></span></div>
                                    <div class="item-img"><span><img src="assets/img/img-thumb-2.png"/></span></div>
                                    <div class="item-img"><span><img src="assets/img/img-thumb-2.png"/></span></div>
                                </div>
                            </div>

                        </div>
                        <!--                       <--item comment-->
                    </div>
                    <div class="item-comment mb-24">
                        <div class="avatar-comment"><img src="assets/img/avatar-comment1.png"/></div>
                        <div class="detail-comment">
                            <div class="box-text-comment">
                                <textarea class="type-comment" placeholder="Nhập nội dung..."></textarea>
                                <button class="btn-upload">Tải hình ảnh</button>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-end">
                        <button class="btn-comment-send">Gửi phản hồi</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>