<div class="col-9 box-right">
    <div class="row box-main flex-column">
        <div class="box-create-buy mb-24">
            <h5 class="rs title-name">Tạo đơn mua hộ và đấu giá</h5>
            <div class="box-share-link">
                <input type="text" placeholder="Link" value="https://www.amazon.com/UMYOGO-Athletic-Walking-Running-Sneakers/dp/B07Q2JB8RZ/ref=sr_1_13?dchild=1&qid=1625543413&s=..."/>
                <button class="btn btn-share"></button>
            </div>
            <p class="rs text-center">Bạn có thể thêm nhiều đường dẫn sản phẩm cũng lúc bang bằng cách thêm dấu ";"</p>
            <p class="rs text-center">Ví dụ: http://www.link1.com; http://www.link2.com</p>
        </div>
    </div>
    <!--popup modal-->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#popup1">Mở popup</button>
    <div class="modal-pcs modal" id="popup1" tabindex="-1" role="dialog" aria-labelledby="popup1" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="rs name-title">Thông tin sản phẩm</h4>
                <div class="main-product">
                   <div class="box-info-product">
                       <div class="box-slide">
                           <!-- Swiper -->
                           <div class="slider slider-for">
                               <div class="swiper-slide" style="">
                                   <span><img src="assets/img/img-sp2.png"/></span>
                               </div>
                               <div class="swiper-slide" style="">
                                   <span><img src="assets/img/img-sp1.png"/></span>
                               </div>
                               <div class="swiper-slide" style="">
                                   <span><img src="assets/img/img-shoes.png"/></span>
                               </div>
                               <div class="swiper-slide" style="">
                                   <span><img src="assets/img/image_92.png"/></span>
                               </div>
                               <div class="swiper-slide" style="">
                                   <span><img src="assets/img/image_85.png"/></span>
                               </div>
                               <div class="swiper-slide" style="">
                                   <span><img src="assets/img/image_86.png"/></span>
                               </div>
                               <div class="swiper-slide" style="">
                                   <span><img src="assets/img/image_87.png"/></span>
                               </div>
                           </div>
                           <div class="slider slider-nav">
                               <div class="swiper-slide" style="">
                                   <span><img src="assets/img/img-sp1.png"/></span>
                               </div>
                               <div class="swiper-slide" style="">
                                   <span><img src="assets/img/img-sp2.png"/></span>
                               </div>
                               <div class="swiper-slide" style="">
                                   <span><img src="assets/img/img-shoes.png"/></span>
                               </div>
                               <div class="swiper-slide" style="">
                                   <span><img src="assets/img/image_92.png"/></span>
                               </div>
                               <div class="swiper-slide" style="">
                                   <span><img src="assets/img/image_85.png"/></span>
                               </div>
                               <div class="swiper-slide" style="">
                                   <span><img src="assets/img/image_86.png"/></span>
                               </div>
                               <div class="swiper-slide" style="">
                                   <span><img src="assets/img/image_87.png"/></span>
                               </div>
                           </div>
                       </div>
                        <div class="info-slide">
                            <a href="#" class="name-product">UMYOGO Mens Athletic Walking Blade Running Tennis Shoes Fashion Sneakers</a>
                            <div class="origin-product">Nguồn từ: <span class="country">AMAZON_US</span></div>
                            <div class="origin-product">Giá sản phẩm: <span class="price">473,480.7đ</span></div>
                            <div class="box-size-product">
                                <span class="title-attributes">Kích cỡ</span>
                                <div class="lst-size">
                                    <a href="#" class="btn-size active">6.5</a>
                                    <a href="#" class="btn-size">7</a>
                                    <a href="#" class="btn-size">8</a>
                                    <a href="#" class="btn-size">8.5</a>
                                    <a href="#" class="btn-size">9</a>
                                    <a href="#" class="btn-size">10</a>
                                    <a href="#" class="btn-size">11</a>
                                    <a href="#" class="btn-size">12</a>
                                    <a href="#" class="btn-size">13</a>
                                </div>
                            </div>
                            <div class="box-color-product">
                                <span class="title-attributes">Màu sắc</span>
                                <div class="lst-color">
                                    <a href="#" class="btn-color active"><span><img src="assets/img/img-sp2.png"/></span></a>
                                    <a href="#" class="btn-color"><span><img src="assets/img/img-sp2.png"/></span></a>
                                    <a href="#" class="btn-color"><span><img src="assets/img/img-sp2.png"/></span></a>
                                    <a href="#" class="btn-color"><span><img src="assets/img/img-sp2.png"/></span></a>
                                    <a href="#" class="btn-color"><span><img src="assets/img/img-sp2.png"/></span></a>
                                    <a href="#" class="btn-color"><span><img src="assets/img/img-sp2.png"/></span></a>
                                    <a href="#" class="btn-color"><span><img src="assets/img/img-sp2.png"/></span></a>
                                    <a href="#" class="btn-color"><span><img src="assets/img/img-sp2.png"/></span></a>
                                    <a href="#" class="btn-color"><span><img src="assets/img/img-sp2.png"/></span></a>
                                    <a href="#" class="btn-color"><span><img src="assets/img/img-sp2.png"/></span></a>
                                    <a href="#" class="btn-color"><span><img src="assets/img/img-sp2.png"/></span></a>
                                    <a href="#" class="btn-color"><span><img src="assets/img/img-sp2.png"/></span></a>

                                </div>
                            </div>
                        </div>
                   </div>
                    <div class="box-detail-product">
                        <form class="box-list-detail-product">
                            <div class="top-1">
                                <div class="form-group">
                                    <label for="attr1">Số lượng</label>
                                    <input type="text" class="form-control" id="attr1" placeholder="1">
                                </div>
                                <div class="form-group">
                                    <label for="attr2">Trọng lượng(kg)</label>
                                    <input type="text" class="form-control" id="attr2" placeholder="1">
                                </div>
                                <div class="form-group">
                                    <label for="attr3">Chọn kho</label>
                                    <select class="form-control" id="attr3">
                                        <option>US Oregon #5050</option>
                                        <option>2</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                            <div class="top-2">
                                <div class="form-group">
                                    <label for="attr4" class="icon-note">Loại tiền tệ</label>
                                    <select class="form-control" id="attr4">
                                        <option>USD</option>
                                        <option>VND</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Thuế</label>
                                    <input type="text" class="form-control"placeholder="10%">
                                </div>
                            </div>
                            <div class="top-3">
                                <label>Dịch vụ GTGT</label>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>Gom hàng tách vỏ & vận chuyển tiết kiệm</option>
                                        <option>Gom 1</option>
                                    </select>
                                    <input type="text" class="form-control" placeholder="20.000/kg">
                                    <button class="btn-delete"></button>
                                </div>
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>Kiểm đếm </option>
                                        <option>Không kiểm đếm</option>
                                    </select>
                                    <input type="text" class="form-control" placeholder="120.000/lần">
                                    <button class="btn-add"></button>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Nick đấu Yahoo</label>
                                <input type="text" class="form-control" placeholder="Nhập nick đấu Yahoo">
                            </div>
                            <div class="form-group">
                                <label>Ghi chú</label>
                                <textarea placeholder="Nhập ghi chú"></textarea>
                            </div>
                            <div class="form-group text-right">
                                <button class="btn-add-cart">Thêm vào giỏ hàng</button>
                            </div>
                            <div class="box-support">
                                <span>Trợ giúp</span>
                                <div class="d-flex justify-content-between">
                                    <ul class="rs lst-contact">
                                        <li><a href="#" class="telephone">Phan Thị Hồng Nhung: 0977296388</a></li>
                                        <li><a href="#" class="mail-support">cskh@shipquocte.com</a></li>
                                    </ul>
                                    <div class="lst-link-support">
                                        <a href="#">Quy trình mua hàng</a>
                                        <a href="#">Chính sách đổi trả</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--popup-->
</div>


