<div class="col-9 box-right">
    <div class="row box-main flex-column">
        <div class="nav-menu-detail">
            <a href="#">Trang chủ</a>
            <a href="#">Đơn hàng mua hộ</a>
            <a href="#">Danh sách đơn hàng mua hộ</a>
            <span>Chi tiết đơn hàng</span>
        </div>
        <div class="box-detail-main">
            <div class="top-detail-product">
                <div class="info-detail-order">
                    <h4 class="rs text-code">Đơn hàng  #JPD210629013</h4>
                    <div class="d-flex">
                        <p class="rs">Ngày đặt hàng: 20:34 22/3/2021</p>
                        <p class="rs">NCC: <span class="text-code">Shipquocte</span></p>
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <a href="#" class="status btn-action-send mr-20">Gửi khiếu nại</a>
                    <a href="#" class="status status-delivery">Đánh giá đơn hàng</a>
                </div>
                <!--                        <span class="status status-success">Đã giao</span>-->
                <!--                        <span class="status status-buy">Đã mua</span>-->
                <!--                        <span class="status status-cancel">Đã hủy</span>-->
                <!--                        <span class="status status-wait">Chờ tạm ứng</span>-->
                <!--                        <span class="status status-wait-pay">Chờ tất toán</span>-->
            </div>
            <div class="main-detail-order">
                <div class="box-status-order">
                    <div class="bar-progress-status">
                        <div class="item-bar disable">
                            <div class="item-level">
                                <span class="icon icon-1"></span>
                            </div>
                            <span>Đặt hàng</span>
                        </div>
                        <div class="item-bar disable">
                            <div class="item-level">
                                <span class="icon icon-2"></span>
                            </div>
                            <span>Chờ tạm ứng</span>
                        </div>
                        <div class="item-bar disable">
                            <div class="item-level">
                                <span class="icon icon-3"></span>
                            </div>
                            <span>Đã mua</span>
                        </div>
                        <div class="item-bar disable">
                            <div class="item-level">
                                <span class="icon icon-4"></span>
                            </div>
                            <span>Vận chuyển nội địa</span>
                        </div>
                        <div class="item-bar disable">
                            <div class="item-level">
                                <span class="icon icon-5"></span>
                            </div>
                            <span>Chờ tất toán</span>
                        </div>
                        <div class="item-bar active">
                            <div class="item-level">
                                <span class="icon icon-6"></span>
                            </div>
                            <span>Đang giao hàng</span>
                        </div>
                        <div class="item-bar">
                            <div class="item-level">
                                <span class="icon icon-7"></span>
                            </div>
                            <span>Đã giao</span>
                        </div>

                    </div>
                    <div class="bar-progress-detail">
                        <div class="item-bar-column">
                            <span class="date">11:20 12/06/2021</span>
                            <p class="rs">Đặt hàng</p>
                        </div>
                        <div class="item-bar-column">
                            <span class="date">11:20 12/06/2021</span>
                            <p class="rs">Đang chờ mua hàng</p>
                        </div>
                        <div class="item-bar-column">
                            <span class="date">11:20 12/06/2021</span>
                            <p class="rs">Đơn hàng của bạn đã được mua</p>
                        </div>
                        <div class="item-bar-column">
                            <span class="date">11:20 12/06/2021</span>
                            <p class="rs">Chờ tất toán</p>
                        </div>
                        <div class="item-bar-column">
                            <span class="date">11:20 12/06/2021</span>
                            <p class="rs">Đơn hàng của bạn đang vận chuyển nội địa với mã Tracking ABCDGH</p>
                        </div>
                        <div class="item-bar-column">
                            <span class="date">11:20 12/06/2021</span>
                            <p class="rs">Đơn hàng của bạn đang được vận chuyển bởi PC Port</p>
                        </div>
                        <div class="item-bar-column active">
                            <span class="date">11:20 12/06/2021</span>
                            <p class="rs">Đơn hàng của bạn đã được giao thành công</p>
                        </div>
                    </div>

                </div>
                <div class="bar-info-user">
                    <div class="bar-item-info">
                        <h5 class="title-detail-order icon-user color-main">Thông tin người nhận</h5>
                        <div class="detail-user">
                            <div>
                                <p class="rs">
                                    <label>Người nhận:</label>
                                    <span>Nguyễn Hà My</span>
                                </p>
                                <p class="rs">
                                    <label>Địa chỉ:</label>
                                    <span>Tòa nhà N2 - Viettel Post, km2+300, Đại Lộ Thăng Long, P.Mễ Trì</span>
                                </p>
                            </div>
                            <p class="rs">
                                <label>Điện thoại:</label>
                                <span>0909.652.135</span>
                            </p>
                        </div>
                    </div>
                    <div class="bar-item-info">
                        <h5 class="title-detail-order icon-delivery color-main">Thông tin vận chuyển</h5>
                        <div class="detail-user">
                            <p class="rs">
                                <label>Đơn vị vận chuyển:</label>
                                <span>Shipquocte</span>
                            </p>
                            <p class="rs">
                                <label>Dịch vụ:</label>
                                <span>Chuyển phát nhanh</span>
                            </p>
                            <p class="rs">
                                <label>Nhân viên hỗ trợ:</label>
                                <span>Phạm Thanh Hằng</span>
                            </p>
                            <p class="rs">
                                <label>Mã vận đơn:</label>
                                <span class="text-note">95789456254 <a href="javascript:void(0);" class="btn btn-copy"></a></span>
                            </p>
                            <p class="rs">
                                <label>Phí vận chuyển:</label>
                                <span>35.000 đ</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="box-info-payment ">
                    <table class="table table-bordered m-0 text-center">
                        <h5 class="rs title-detail-order icon-payment color-main">Thông tin vận chuyển</h5>
                        <thead>
                        <tr>
                            <th class="color-main">Số tiền</th>
                            <th class="color-main">Nội dung</th>
                            <th class="color-main">Hình thức thanh toán</th>
                            <th class="color-main">Ngày tạo</th>
                            <th class="color-main">Trạng thái</th>
                            <th class="color-main">Ngày xử lý</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td> 2.308.620 đ </td>
                            <td> Thanh toán đơn hàng  JPD210629013  </td>
                            <td> COD </td>
                            <td> 01/03/2021 14:30:16 </td>
                            <td> <span class="btn-status-payment">Đã thanh toán</span></td>
                            <td> 01/03/2021 14:40:18 </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="lst-detail-export border-top-0">
                <div class="box-export pt-0">
                    <div class="table-responsive table-detail-export p-0 m-0">
                        <table class="table mb-0">
                            <thead>
                            <tr>
                                <th class="col1 color-main" scope="col">Mã tracking: RR1234567JP</th>
                                <th class="color-main" scope="col">Tổng trọng lượng thực</th>
                                <th class="color-main" scope="col">Trọng lượng tính giá</th>
                                <th class="color-main" scope="col">Đơn giá</th>
                                <th class="color-main" scope="col">Cước VC</th>
                                <th class="color-main" scope="col">Phụ thu</th>
                                <th class="color-main" scope="col">Phí DVGT</th>
                                <th class="color-main" scope="col">Tỷ giá</th>
                                <th class="color-main" scope="col">COD (VNĐ)</th>
                                <th class="color-main" scope="col">Phí thanh toán (VNĐ)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th class="col1 p-0" scope="row">
                                    <div class="box-info-tracking">
                                        <span class="thumb-product"><img src="assets/img/img-2.png"/></span>
                                        <div class="detail-tracking">
                                            <h6 class="rs name">Ống kính máy ảnh</h6>
                                            <p class="rs"><span>Account: </span>QUOCVINH P0001</p>
                                        </div>
                                    </div>
                                </th>
                                <td>0.3/1</td>
                                <td>0.24</td>
                                <td>220.000</td>
                                <td>71.280</td>
                                <td>0</td>
                                <td>0</td>
                                <td>217</td>
                                <td>142,000</td>
                                <td>142,000</td>
                            </tr>
                            <tr>
                                <td colspan="3" rowspan="10" class="text-left" style="vertical-align: top">
                                    <p>
                                        <strong>
                                            Ghi chú:
                                        </strong>
                                        Lorem Ipsum is simply dummy text of the printing and typesettingindustry.
                                        Lorem Ipsum has been the industry's standard dummy text ever
                                    </p>
                                </td>
                                <td colspan="7"  class="border-dash-top">
                                    <div class="info-table-2">
                                        <p class="rs">Dịch vụ Gom tách vỏ & vận chuyển tiết kiệm</p>
                                        <p class="rs">35.000 đ </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="7" class="border-dash-top">
                                    <div class="info-table-2">
                                        <p class="rs">Phí vận chuyển</p>
                                        <p class="rs">485.456 đ </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="7" class="border-dash-top">
                                    <div class="info-table-2">
                                        <p class="rs">Phụ phí</p>
                                        <p class="rs">35.000 đ </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="7" class="border-dash-top">
                                    <div class="info-table-2">
                                        <p class="rs">Cổng thanh toán COD</p>
                                        <p class="rs">1% - 35.000 đ </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="7" class="border-dash-top">
                                    <div class="info-table-2">
                                        <p class="rs">Phí dịch vụ GTGT</p>
                                        <p class="rs">35.000 đ </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="7" class="border-dash-top">
                                    <div class="info-table-2">
                                        <p class="rs">Phụ thu</p>
                                        <p class="rs">0 đ </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="7"  class="border-dash-top">
                                    <div class="info-table-2">
                                        <p class="rs">Phí giao hàng</p>
                                        <p class="rs">0 đ </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="7" >
                                    <div class="info-table-2 font-weight-bold">
                                        <p class="rs">Tổng tiền</p>
                                        <p class="rs">35.000 đ </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="7" >
                                    <div class="info-table-2 font-weight-bold">
                                        <p class="rs">Đã thanh toán</p>
                                        <p class="rs text-blue">3.500.000 đ </p>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="7" class="bg-gray">
                                    <div class="info-table-2 font-weight-bold price-total">
                                        <p class="rs">Số tiền còn lại cần thanh toán</p>
                                        <p class="rs">0 đ </p>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!---item export-->

            </div>
        </div>
    </div>
</div>