<div class="col-9 box-right">
    <div class="row box-main flex-column">
        <div class="box-create-success">
            <div class="box-info-success">
                <span class="icon-check-success"></span>
                <h6 class="rs color-main">Quý khách đã tạo đơn thàng công</h6>
                <p class="rs">(11:25 - Thứ 6, ngày 12-03-2021)</p>
                <p class="">Mã đơn hàng vận chuyển của bạn:<span class="date-info-order"> JPV210706017</span></p>
                <div class="box-button-info-ss">
                    <button class="btn-control-order">Danh sách đơn vận chuyển</button>
                    <button class="btn-control-order">Tạo đơn vận chuyển mới</button>
                </div>
                <p class="text-gray">
                    Cảm ơn đã sử dụng dịch vụ của Shipquocte. Chúng tôi đã gửi thông tin chi tiết đơn hàng của quá khách qua email (hamyng2965@gmail.com).<br/>
                    Quý khách vui lòng tiến hàng thanh toán đơn hàng theo thông tin bên dưới.
                </p>
            </div>
            <div class="box-info-transport-ss">
                <h4 class="rs name-title">THông tin đơn hàng</h4>
                <div class="box-address">
                    <div class="item-address">
                        <h5 class="rs title-address icon-1">Địa chỉ của bạn</h5>
                        <h6 class="font-weight-bold">NGUYỄN HÀ MY</h6>
                        <p>Điện thoại: 0903 123 256</p>
                        <p>Địa chỉ: Số 8 Lê Quang Đạo, Mỹ Đình, Nam Từ Liêm, Hà Nội</p>
                    </div>
                    <div class="item-address">
                        <h5 class="rs title-address icon-2">Phương thức thanh toán</h5>
                        <h6 class="font-weight-bold">CHUYỂN KHOẢN</h6>
                        <p>Techcombank - Ngân hàng thương mại cổ phẩn kỹ thương Việt Nam</p>
                    </div>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Tracking</th>
                        <th>Số lượng</th>
                        <th>Trọng lượng</th>
                        <th>Đơn giá VC</th>
                        <th>Thành tiền</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>#1</th>
                        <td>9622080430009565816000280860243373</td>
                        <td>02 kiện</td>
                        <td>11.50</td>
                        <td>1.000.000/kg</td>
                        <td>1.200.000đ</td>
                    </tr>
                    <tr>
                        <th>#2</th>
                        <td>9622080430009565816000280860243373</td>
                        <td>02 kiện</td>
                        <td>11.50</td>
                        <td>1.000.000/kg</td>
                        <td>1.200.000đ</td>
                    </tr>
                    <tr>
                        <th>#3</th>
                        <td>9622080430009565816000280860243373</td>
                        <td>02 kiện</td>
                        <td>11.50</td>
                        <td>1.000.000/kg</td>
                        <td>1.200.000đ</td>
                    </tr>
                    <tr>
                        <th>#4</th>
                        <td>9622080430009565816000280860243373</td>
                        <td>02 kiện</td>
                        <td>11.50</td>
                        <td>1.000.000/kg</td>
                        <td>1.200.000đ</td>
                    </tr>
                    <tr>
                        <td colspan="3">Phí vận chuyển</td>
                        <td colspan="3">1.200.000đ</td>
                    </tr>
                    <tr>
                        <td colspan="3">Phụ thu</td>
                        <td colspan="3">120.000đ</td>
                    </tr>
                    <tr>
                        <td colspan="3">Dịch vụ GTGT</td>
                        <td colspan="3">1.600.000đ</td>
                    </tr>
                    <tr>
                        <td colspan="3">Tổng cộng</td>
                        <td colspan="3">6.200.000đ</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>