<div class="col-9 box-right">
    <div class="row box-main flex-column">
        {% include "../share/box-top-main.html" %}
        <div class="box-detail-main">
            <div class="tab-menu d-flex align-items-center justify-content-between">
                <ul class="rs nav nav-menu">
                    <li><a href="#" class="nav-link active">Đơn hàng mua hộ</a></li>
                    <li><a href="#" class="nav-link ">Đơn hàng đấu giá</a></li>
                    <li><a href="#" class="nav-link ">Đơn hàng vận chuyển</a></li>
                </ul>
                <a href="javascript:void(0);" class="btn-sort"></a>
            </div>
            <div class="box-sort d-flex justify-content-between">
                <div class="lst-sort">
                    <a href="#">Tất cả</a>
                    <a href="#">Chờ tạm ứng</a>
                    <a href="#">Đã mua</a>
                    <a href="#">Vận chuyển nội địa</a>
                    <a href="#" class="active">Chờ tất toán</a>
                    <a href="#">Đang giao hàng</a>
                    <a href="#">Đã giao</a>
                    <a href="#">Đơn hàng hủy</a>
                </div>
                <div class="sort-order">
                    <select>
                        <option>Sắp xếp theo:</option>
                        <option>Giá:</option>
                    </select>
                </div>
            </div>
            <div class="lst-detail-export">
                <div class="box-export">
                    <h4 class="rs code-export">Mã phiếu: <span class="code">JPBC2106290190</span> <span class="status delivery">Đang giao hàng</span></h4>
                    <div class="info-export-item">
                        <div class="d-flex flex-column">
                            <p class="rs">Đã đặt: 20:34 22/3/2021</p>
                            <p class="rs">Địa chỉ giao hàng: Số 348 Lê Quang Đạo, P. Phú Đô, Q. Nam Từ Liêm, Hà Nội</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <div class="position-relative box-report-price">
                                <a href="#" class="btn btn-control btn-download-price">Tải báo giá</a>
                                <div class="box-download-file">
                                    <div class="main-box-download">
                                        <div class="content">
                                            <a href="#" class="btn-dowwnload-pdf"></a>
                                            <a href="#" class="btn-dowwnload-excel"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="#" class="btn btn-control btn-view-detail" data-toggle="modal" data-target="#popup2">Xem chi tiết</a>
                        </div>
                        
                    </div>
                    <div class="table-responsive table-detail-export">
                        <table class="table mb-0">
                            <thead>
                            <tr>
                                <th class="col1 color-main" scope="col">Hình ảnh</th>
                                <th class="color-main" scope="col">Mã đơn hàng</th>
                                <th class="color-main" scope="col">Tracking</th>
                                <th class="color-main" scope="col">Tên hàng</th>
                                <th class="color-main" scope="col">Số lượng</th>
                                <th class="color-main" scope="col">Trọng lượng</th>
                                <th class="color-main" scope="col">Đơn giá vận chuyển</th>
                                <th class="color-main" scope="col">Cước vận chuyển</th>
                                <th class="color-main" scope="col">Thành tiền (VNĐ)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th class="col1" scope="row" rowspan="4"></th>
                                <td rowspan="4" class="color-main">JPV210628169</td>
                                <td class="text-red" rowspan="2">386210628169</td>
                                <td>Dược phẩm, thuốc</td>
                                <td>1</td>
                                <td>0.32</td>
                                <td>920,000</td>
                                <td>142,000</td>
                                <td>1,42,000</td>
                            </tr>
                            <tr>
                                <td>Dược phẩm, thuốc</td>
                                <td>1</td>
                                <td>0.32</td>
                                <td>920,000</td>
                                <td>142,000</td>
                                <td>1,42,000</td>
                            </tr>
                            <tr>
                                <td class="text-red" rowspan="2">386210628169</td>
                                <td>Dược phẩm, thuốc</td>
                                <td>1</td>
                                <td>0.32</td>
                                <td>920,000</td>
                                <td>142,000</td>
                                <td>1,42,000</td>
                            </tr>
                            <tr>
                                <td>Dược phẩm, thuốc</td>
                                <td>1</td>
                                <td>0.32</td>
                                <td>920,000</td>
                                <td>142,000</td>
                                <td>1,42,000</td>
                            </tr>

                            <tr>
                                <th rowspan="2" class="col1" scope="row"></th>
                                <td rowspan="2" class="color-main">JPV210628169</td>
                                <td class="text-red">386210628169</td>
                                <td>Dược phẩm, thuốc</td>
                                <td>1</td>
                                <td>0.32</td>
                                <td>920,000</td>
                                <td>142,000</td>
                                <td>1,42,000</td>
                            </tr>
                            <tr>
                                <td class="text-red">386210628169</td>
                                <td>Dược phẩm, thuốc</td>
                                <td>1</td>
                                <td>0.32</td>
                                <td>920,000</td>
                                <td>142,000</td>
                                <td>1,42,000</td>
                            </tr>

                            <tr>
                                <td rowspan="3" colspan="4" class="border-left-0 border-bottom-0">
                                    <div class="info-table">
                                        <div><strong>Mã vận đơn: </strong> <span class="text-code-green">PP500136473</span></div>
                                        <p class="rs">Đơn vị vận chuyển: PCS Post </p>
                                    </div>
                                </td>
                                <td>Tổng</td>
                                <td>0.32</td>
                                <td>920,000</td>
                                <td>142,000</td>
                                <td>1,42,000</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="total-exp text-left border-right-0">
                                    <strong>Phí giao hàng:</strong>
                                </td>
                                <td class="total-exp border-left-0">
                                    500.000
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="total-exp bg-total-exp  text-left">
                                    <strong>Tổng cộng:</strong>
                                </td>
                                <td class="total-exp bg-total-exp">
                                    1,562,000.000
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!---item export-->
                <div class="box-export">
                    <h4 class="rs code-export">Mã phiếu: <span class="code">JPBC2106290190</span> <span class="status buy">Đã mua</span></h4>
                    <div class="info-export-item">
                        <div class="d-flex flex-column">
                            <p class="rs">Đã đặt: 20:34 22/3/2021</p>
                            <p class="rs">Địa chỉ giao hàng: Số 348 Lê Quang Đạo, P. Phú Đô, Q. Nam Từ Liêm, Hà Nội</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <a href="#" class="btn btn-control btn-download-price">Tải báo giá</a>
                            <a href="#" class="btn btn-control btn-view-detail" data-toggle="modal" data-target="#popup2">Xem chi tiết</a>
                        </div>
                    </div>
                    <div class="table-responsive table-detail-export">
                        <table class="table mb-0">
                            <thead>
                            <tr>
                                <th class="col1 color-main" scope="col">Hình ảnh</th>
                                <th class="color-main" scope="col">Mã đơn hàng</th>
                                <th class="color-main" scope="col">Tracking</th>
                                <th class="color-main" scope="col">Tên hàng</th>
                                <th class="color-main" scope="col">Số lượng</th>
                                <th class="color-main" scope="col">Trọng lượng</th>
                                <th class="color-main" scope="col">Đơn giá vận chuyển</th>
                                <th class="color-main" scope="col">Cước vận chuyển</th>
                                <th class="color-main" scope="col">Thành tiền (VNĐ)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th class="col1" scope="row"></th>
                                <td class="color-main">JPV210628169</td>
                                <td class="text-red">386210628169</td>
                                <td>Dược phẩm, thuốc</td>
                                <td>1</td>
                                <td>0.32</td>
                                <td>920,000</td>
                                <td>142,000</td>
                                <td>1,42,000</td>
                            </tr>
                            <tr>
                                <th class="col1" scope="row"></th>
                                <td class="color-main">JPV210628169</td>
                                <td class="text-red">386210628169</td>
                                <td>Dược phẩm, thuốc</td>
                                <td>1</td>
                                <td>0.32</td>
                                <td>920,000</td>
                                <td>142,000</td>
                                <td>1,42,000</td>
                            </tr>
                            <tr>
                                <td rowspan="3" colspan="4" class="border-left-0 border-bottom-0">
                                    <div class="info-table">
                                        <div><strong>Mã vận đơn: </strong> <span class="text-code-green">PP500136473</span></div>
                                        <p class="rs">Đơn vị vận chuyển: PCS Post </p>
                                    </div>
                                </td>
                                <td>Tổng</td>
                                <td>0.32</td>
                                <td>920,000</td>
                                <td>142,000</td>
                                <td>1,42,000</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="total-exp text-left border-right-0">
                                    <strong>Phí giao hàng:</strong>
                                </td>
                                <td class="total-exp border-left-0">
                                    500.000
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="total-exp bg-total-exp  text-left">
                                    <strong>Tổng cộng:</strong>
                                </td>
                                <td class="total-exp bg-total-exp">
                                    1,562,000.000
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!---item export-->
                <div class="box-export">
                    <h4 class="rs code-export">Mã phiếu: <span class="code">JPBC2106290190</span> <span class="status cancel">Đã hủy đơn</span></h4>
                    <div class="info-export-item">
                        <div class="d-flex flex-column">
                            <p class="rs">Đã đặt: 20:34 22/3/2021</p>
                            <p class="rs">Địa chỉ giao hàng: Số 348 Lê Quang Đạo, P. Phú Đô, Q. Nam Từ Liêm, Hà Nội</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <a href="#" class="btn btn-control btn-download-price">Tải báo giá</a>
                            <a href="#" class="btn btn-control btn-view-detail" data-toggle="modal" data-target="#popup2">Xem chi tiết</a>
                        </div>
                    </div>
                    <div class="table-responsive table-detail-export">
                        <table class="table mb-0">
                            <thead>
                            <tr>
                                <th class="col1 color-main" scope="col">Hình ảnh</th>
                                <th class="color-main" scope="col">Mã đơn hàng</th>
                                <th class="color-main" scope="col">Tracking</th>
                                <th class="color-main" scope="col">Tên hàng</th>
                                <th class="color-main" scope="col">Số lượng</th>
                                <th class="color-main" scope="col">Trọng lượng</th>
                                <th class="color-main" scope="col">Đơn giá vận chuyển</th>
                                <th class="color-main" scope="col">Cước vận chuyển</th>
                                <th class="color-main" scope="col">Thành tiền (VNĐ)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th class="col1" scope="row"></th>
                                <td class="color-main">JPV210628169</td>
                                <td class="text-red">386210628169</td>
                                <td>Dược phẩm, thuốc</td>
                                <td>1</td>
                                <td>0.32</td>
                                <td>920,000</td>
                                <td>142,000</td>
                                <td>1,42,000</td>
                            </tr>
                            <tr>
                                <th class="col1" scope="row"></th>
                                <td class="color-main">JPV210628169</td>
                                <td class="text-red">386210628169</td>
                                <td>Dược phẩm, thuốc</td>
                                <td>1</td>
                                <td>0.32</td>
                                <td>920,000</td>
                                <td>142,000</td>
                                <td>1,42,000</td>
                            </tr>
                            <tr>
                                <td rowspan="3" colspan="4" class="border-left-0 border-bottom-0">
                                    <div class="info-table">
                                        <div><strong>Mã vận đơn: </strong> <span class="text-code-green">PP500136473</span></div>
                                        <p class="rs">Đơn vị vận chuyển: PCS Post </p>
                                    </div>
                                </td>
                                <td>Tổng</td>
                                <td>0.32</td>
                                <td>920,000</td>
                                <td>142,000</td>
                                <td>1,42,000</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="total-exp text-left border-right-0">
                                    <strong>Phí giao hàng:</strong>
                                </td>
                                <td class="total-exp border-left-0">
                                    500.000
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="total-exp bg-total-exp  text-left">
                                    <strong>Tổng cộng:</strong>
                                </td>
                                <td class="total-exp bg-total-exp">
                                    1,562,000.000
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!---item export-->
                <div class="box-export">
                    <h4 class="rs code-export">Mã phiếu: <span class="code">JPBC2106290190</span> <span class="status wait">Chờ tạm ứng</span></h4>
                    <div class="info-export-item">
                        <div class="d-flex flex-column">
                            <p class="rs">Đã đặt: 20:34 22/3/2021</p>
                            <p class="rs">Địa chỉ giao hàng: Số 348 Lê Quang Đạo, P. Phú Đô, Q. Nam Từ Liêm, Hà Nội</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <a href="#" class="btn btn-control btn-download-price">Tải báo giá</a>
                            <a href="#" class="btn btn-control btn-view-detail" data-toggle="modal" data-target="#popup2">Xem chi tiết</a>
                        </div>
                    </div>
                    <div class="table-responsive table-detail-export">
                        <table class="table mb-0">
                            <thead>
                            <tr>
                                <th class="col1 color-main" scope="col">Hình ảnh</th>
                                <th class="color-main" scope="col">Mã đơn hàng</th>
                                <th class="color-main" scope="col">Tracking</th>
                                <th class="color-main" scope="col">Tên hàng</th>
                                <th class="color-main" scope="col">Số lượng</th>
                                <th class="color-main" scope="col">Trọng lượng</th>
                                <th class="color-main" scope="col">Đơn giá vận chuyển</th>
                                <th class="color-main" scope="col">Cước vận chuyển</th>
                                <th class="color-main" scope="col">Thành tiền (VNĐ)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th class="col1" scope="row"></th>
                                <td class="color-main">JPV210628169</td>
                                <td class="text-red">386210628169</td>
                                <td>Dược phẩm, thuốc</td>
                                <td>1</td>
                                <td>0.32</td>
                                <td>920,000</td>
                                <td>142,000</td>
                                <td>1,42,000</td>
                            </tr>
                            <tr>
                                <th class="col1" scope="row"></th>
                                <td class="color-main">JPV210628169</td>
                                <td class="text-red">386210628169</td>
                                <td>Dược phẩm, thuốc</td>
                                <td>1</td>
                                <td>0.32</td>
                                <td>920,000</td>
                                <td>142,000</td>
                                <td>1,42,000</td>
                            </tr>
                            <tr>
                                <td rowspan="3" colspan="4" class="border-left-0 border-bottom-0">
                                    <div class="info-table">
                                        <div><strong>Mã vận đơn: </strong> <span class="text-code-green">PP500136473</span></div>
                                        <p class="rs">Đơn vị vận chuyển: PCS Post </p>
                                    </div>
                                </td>
                                <td>Tổng</td>
                                <td>0.32</td>
                                <td>920,000</td>
                                <td>142,000</td>
                                <td>1,42,000</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="total-exp text-left border-right-0">
                                    <strong>Phí giao hàng:</strong>
                                </td>
                                <td class="total-exp border-left-0">
                                    500.000
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="total-exp bg-total-exp  text-left">
                                    <strong>Tổng cộng:</strong>
                                </td>
                                <td class="total-exp bg-total-exp">
                                    1,562,000.000
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!---item export-->
                <div class="box-export">
                    <h4 class="rs code-export">Mã phiếu: <span class="code">JPBC2106290190</span> <span class="status success">Đã giao</span></h4>
                    <div class="info-export-item">
                        <div class="d-flex flex-column">
                            <p class="rs">Đã đặt: 20:34 22/3/2021</p>
                            <p class="rs">Địa chỉ giao hàng: Số 348 Lê Quang Đạo, P. Phú Đô, Q. Nam Từ Liêm, Hà Nội</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <a href="#" class="btn btn-control btn-download-price">Tải báo giá</a>
                            <a href="#" class="btn btn-control btn-view-detail" data-toggle="modal" data-target="#popup2">Xem chi tiết</a>
                        </div>
                    </div>
                    <div class="table-responsive table-detail-export">
                        <table class="table mb-0">
                            <thead>
                            <tr>
                                <th class="col1 color-main" scope="col">Hình ảnh</th>
                                <th class="color-main" scope="col">Mã đơn hàng</th>
                                <th class="color-main" scope="col">Tracking</th>
                                <th class="color-main" scope="col">Tên hàng</th>
                                <th class="color-main" scope="col">Số lượng</th>
                                <th class="color-main" scope="col">Trọng lượng</th>
                                <th class="color-main" scope="col">Đơn giá vận chuyển</th>
                                <th class="color-main" scope="col">Cước vận chuyển</th>
                                <th class="color-main" scope="col">Thành tiền (VNĐ)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th class="col1" scope="row"></th>
                                <td class="color-main">JPV210628169</td>
                                <td class="text-red">386210628169</td>
                                <td>Dược phẩm, thuốc</td>
                                <td>1</td>
                                <td>0.32</td>
                                <td>920,000</td>
                                <td>142,000</td>
                                <td>1,42,000</td>
                            </tr>
                            <tr>
                                <th class="col1" scope="row"></th>
                                <td class="color-main">JPV210628169</td>
                                <td class="text-red">386210628169</td>
                                <td>Dược phẩm, thuốc</td>
                                <td>1</td>
                                <td>0.32</td>
                                <td>920,000</td>
                                <td>142,000</td>
                                <td>1,42,000</td>
                            </tr>
                            <tr>
                                <td rowspan="3" colspan="4" class="border-left-0 border-bottom-0">
                                    <div class="info-table">
                                        <div><strong>Mã vận đơn: </strong> <span class="text-code-green">PP500136473</span></div>
                                        <p class="rs">Đơn vị vận chuyển: PCS Post </p>
                                    </div>
                                </td>
                                <td>Tổng</td>
                                <td>0.32</td>
                                <td>920,000</td>
                                <td>142,000</td>
                                <td>1,42,000</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="total-exp text-left border-right-0">
                                    <strong>Phí giao hàng:</strong>
                                </td>
                                <td class="total-exp border-left-0">
                                    500.000
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="total-exp bg-total-exp  text-left">
                                    <strong>Tổng cộng:</strong>
                                </td>
                                <td class="total-exp bg-total-exp">
                                    1,562,000.000
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!---item export-->
                <div class="box-export">
                    <h4 class="rs code-export">Mã phiếu: <span class="code">JPBC2106290190</span> <span class="status wait-pay">Chờ tất toán</span></h4>
                    <div class="info-export-item">
                        <div class="d-flex flex-column">
                            <p class="rs">Đã đặt: 20:34 22/3/2021</p>
                            <p class="rs">Địa chỉ giao hàng: Số 348 Lê Quang Đạo, P. Phú Đô, Q. Nam Từ Liêm, Hà Nội</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <a href="#" class="btn btn-control btn-download-price">Tải báo giá</a>
                            <a href="#" class="btn btn-control btn-view-detail" data-toggle="modal" data-target="#popup2">Xem chi tiết</a>
                        </div>
                    </div>
                    <div class="table-responsive table-detail-export">
                        <table class="table mb-0">
                            <thead>
                            <tr>
                                <th class="col1 color-main" scope="col">Hình ảnh</th>
                                <th class="color-main" scope="col">Mã đơn hàng</th>
                                <th class="color-main" scope="col">Tracking</th>
                                <th class="color-main" scope="col">Tên hàng</th>
                                <th class="color-main" scope="col">Số lượng</th>
                                <th class="color-main" scope="col">Trọng lượng</th>
                                <th class="color-main" scope="col">Đơn giá vận chuyển</th>
                                <th class="color-main" scope="col">Cước vận chuyển</th>
                                <th class="color-main" scope="col">Thành tiền (VNĐ)</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <th class="col1" scope="row"></th>
                                <td class="color-main">JPV210628169</td>
                                <td class="text-red">386210628169</td>
                                <td>Dược phẩm, thuốc</td>
                                <td>1</td>
                                <td>0.32</td>
                                <td>920,000</td>
                                <td>142,000</td>
                                <td>1,42,000</td>
                            </tr>
                            <tr>
                                <th class="col1" scope="row"></th>
                                <td class="color-main">JPV210628169</td>
                                <td class="text-red">386210628169</td>
                                <td>Dược phẩm, thuốc</td>
                                <td>1</td>
                                <td>0.32</td>
                                <td>920,000</td>
                                <td>142,000</td>
                                <td>1,42,000</td>
                            </tr>
                            <tr>
                                <td rowspan="3" colspan="4" class="border-left-0 border-bottom-0">
                                    <div class="info-table">
                                        <div><strong>Mã vận đơn: </strong> <span class="text-code-green">PP500136473</span></div>
                                        <p class="rs">Đơn vị vận chuyển: PCS Post </p>
                                    </div>
                                </td>
                                <td>Tổng</td>
                                <td>0.32</td>
                                <td>920,000</td>
                                <td>142,000</td>
                                <td>1,42,000</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="total-exp text-left border-right-0">
                                    <strong>Phí giao hàng:</strong>
                                </td>
                                <td class="total-exp border-left-0">
                                    500.000
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" class="total-exp bg-total-exp  text-left">
                                    <strong>Tổng cộng:</strong>
                                </td>
                                <td class="total-exp bg-total-exp">
                                    1,562,000.000
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!---item export-->
            </div>

        </div>
        <div class="paging">
            <a href="#" class="prev-pag"></a>
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#" class="next-pag"></a>
        </div>
    </div>
</div>

<!--popup modal-->
<div class="modal-note modal" id="popup2" tabindex="-1" role="dialog" aria-labelledby="popup2" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content ">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h5 class="title-note">Chi tiết phiếu xuất kho</h5>
            <div class="box-info-note">
                <div class="info-account">
                    <div class="left-info-account">
                        <span class="text-label">Nhân viên kinh doanh: </span>
                        <div class="box-detail-account">
                            <span class="user-account font-weight-bold">Nguyễn Minh Tâm - 0986668237</span>
                            <div class="lst-social-info">
                                <a href="#" class="icon-phone"></a>
                                <a href="#" class="icon-zalo"></a>
                                <a href="#" class="icon-sky"></a>
                                <a href="#" class="icon-mess"></a>
                            </div>
                        </div>
                    </div>
                    <div class="right-control">
                        <button class="btn-export active"><span class="icon-note icon-export"></span>Export</button>
                        <button class="btn-print"><span class="icon-note icon-print"></span>Print</button>
                    </div>
                </div>
                <div class="box-info-transport">
                    <div class="item-transport">
                        <h4 class="color-main">Thông tin vận chuyển</h4>
                        <div class="detail-transport">
                             <div class="detail-item">
                                 <span class="label-item">Đơn vị vận chuyển:</span>
                                 <span class="content-item font-weight-bold">PCS</span>
                             </div>
                            <div class="detail-item">
                                <span class="label-item">Dịch vụ vận chuyển:</span>
                                <span class="content-item font-weight-bold">Chuyển phát nhanh</span>
                            </div>
                            <div class="detail-item">
                                <span class="label-item">Hình thức thanh toán:</span>
                                <span class="content-item font-weight-bold cod">COD</span>
                            </div>
                        </div>
                    </div>
                    <div class="item-transport">
                        <h4 class="color-main">Thông tin giao hàng</h4>
                        <div class="detail-transport">
                            <div class="detail-item">
                                <span class="label-item">Người nhận:</span>
                                <span class="content-item font-weight-bold">P0093-Nguyễn Viết Thành</span>
                            </div>
                            <div class="detail-item">
                                <span class="label-item">Số điện thoại:</span>
                                <span class="content-item font-weight-bold">0906238289</span>
                            </div>
                            <div class="detail-item">
                                <span class="label-item">Địa chỉ:</span>
                                <span class="content-item font-weight-bold">Toà E2 ecohome Phúc Lợi , Long Biên, Hà Nội</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-export-table">
                <div class="table-responsive table-detail-export">
                    <table class="table">
                        <thead>
                        <tr>
                            <th class="col1 color-main" scope="col">#</th>
                            <th class="color-main" scope="col">Tên sản phẩm</th>
                            <th class="color-main" scope="col">Mã đơn hàng</th>
                            <th class="color-main" scope="col">Mã tracking</th>
                            <th class="color-main" scope="col">Account</th>
                            <th class="color-main" scope="col">Số lượng</th>
                            <th class="color-main" scope="col">Trọng lượng</th>
                            <th class="color-main" scope="col">Giá web</th>
                            <th class="color-main" scope="col">Phí ship nội địa</th>
                            <th class="color-main" scope="col">Phụ phí</th>
                            <th class="color-main" scope="col">Thành tiền</th>
                            <th class="color-main" scope="col">Tỷ giá</th>
                            <th class="color-main" scope="col">Thành tiền (VNĐ)</th>
                            <th class="color-main" scope="col">Công mua% - Tiền công (VNĐ)</th>
                            <th class="color-main" scope="col">Phụ thu (VNĐ)</th>
                            <th class="color-main" scope="col">Cước VC (VNĐ)</th>
                            <th class="color-main" scope="col">Giá vận chuyển về VN(VNĐ)</th>
                            <th class="color-main" scope="col">Phí giao hàng (VNĐ)</th>
                            <th class="color-main" scope="col">Đã thanh toán (VNĐ)</th>
                            <th class="color-main" scope="col">Tổng chi phí <br/>(VNĐ)</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th class="col1" scope="row">
                                <span class="img-product"><img src="assets/img/img-sp1.png"/></span>
                            </th>
                            <td>Đồng hồ</td>
                            <td class="color-main">JPV210628169</td>
                            <td class="text-red">386210628169</td>
                            <td>thanh nguyen pcs</td>
                            <td>1</td>
                            <td>0.32</td>
                            <td>4.004</td>
                            <td>520</td>
                            <td>0</td>
                            <td>4,524</td>
                            <td>218</td>
                            <td>986,232</td>
                            <td>142,000</td>
                            <td>0</td>
                            <td>205.000</td>
                            <td>41.000</td>
                            <td>0</td>
                            <td>1.089.884</td>
                            <td>1,086,406</td>
                        </tr>
                        <tr class="bg-table-line">
                            <th class="col1" scope="row">
                                <span class="img-product"><img src="assets/img/img-sp1.png"/></span>
                            </th>
                            <td>Đồng hồ</td>
                            <td class="color-main">JPV210628169</td>
                            <td class="text-red">386210628169</td>
                            <td>thanh nguyen pcs</td>
                            <td>1</td>
                            <td>0.32</td>
                            <td>4.004</td>
                            <td>520</td>
                            <td>0</td>
                            <td>4,524</td>
                            <td>218</td>
                            <td>986,232</td>
                            <td>142,000</td>
                            <td>0</td>
                            <td>205.000</td>
                            <td>41.000</td>
                            <td>0</td>
                            <td>1.089.884</td>
                            <td>1,086,406</td>
                        </tr>
                        <tr>
                            <th class="col1" scope="row">
                                <span class="img-product"><img src="assets/img/img-sp1.png"/></span>
                            </th>
                            <td>Đồng hồ</td>
                            <td class="color-main">JPV210628169</td>
                            <td class="text-red">386210628169</td>
                            <td>thanh nguyen pcs</td>
                            <td>1</td>
                            <td>0.32</td>
                            <td>4.004</td>
                            <td>520</td>
                            <td>0</td>
                            <td>4,524</td>
                            <td>218</td>
                            <td>986,232</td>
                            <td>142,000</td>
                            <td>0</td>
                            <td>205.000</td>
                            <td>41.000</td>
                            <td>0</td>
                            <td>1.089.884</td>
                            <td>1,086,406</td>
                        </tr>
                        <tr class="row-bottom-price">
                            <td rowspan="1" colspan="5" class="border-left-0 border-bottom-0"></td>
                            <td class="bg-total-exp">9</td>
                            <td class="bg-total-exp">0.32</td>
                            <td class="bg-total-exp">920,000</td>
                            <td class="bg-total-exp">142,000</td>
                            <td class="bg-total-exp">1,42,000</td>
                            <td class="bg-total-exp">9</td>
                            <td class="bg-total-exp">0.32</td>
                            <td class="bg-total-exp">920,000</td>
                            <td class="bg-total-exp">142,000</td>
                            <td class="bg-total-exp">1,42,000</td>
                            <td class="bg-total-exp">9</td>
                            <td class="bg-total-exp">0.32</td>
                            <td class="bg-total-exp">920,000</td>
                            <td class="bg-total-exp">142,000</td>
                            <td class="bg-total-exp">1,42,000</td>
                        </tr>
                        <tr>
                            <td rowspan="4" colspan="15" class="border-0"></td>
                            <td colspan="3" class="total-exp text-left border-right-0">
                                Phương thức giao hàng
                            </td>
                            <td colspan="2" class="total-exp border-left-0 text-right">
                                EMS
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="total-exp text-left border-right-0">
                                Hình thức thanh toán
                            </td>
                            <td colspan="2" class="total-exp border-left-0 text-right">
                                Chuyển khoản
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="total-exp border-right-0 text-left">
                                <strong>Đã đặt cọc</strong>
                            </td>
                            <td colspan="2" class="total-exp border-left-0  text-right">
                                <strong class="text-blue">5.089.884 đ</strong>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="3" class="total-exp bg-total-exp border-right-0  text-left">
                                <strong>Số tiền còn lại cần thanh toán</strong>
                            </td>
                            <td colspan="2" class="total-exp bg-total-exp border-left-0 text-right">
                                5.089.884 đ
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
<!--popup-->