<div class="col-9 box-right">
    <div class="row box-main flex-column">
        <div class="box-info-debt">
            <h5 class="rs title mb-24">Thông tin công nợ</h5>
            <div class="box-detail-debt">
                <div class="text-info-debt">
                    <div class="text-center text-uppercase">Tổng công nợ tạm tính</div>
                    <p class="rs text-center color-main">6,848,883đ</p>
                </div>
                <div class="lst-debt">
                    <div class="item-debt debt-1">
                        <h6 class="rs">Tổng tiền đã nạp</h6>
                        <p class="rs">2,594,701</p>
                    </div>
                    <div class="item-debt debt-2">
                        <h6 class="rs">Tổng tiền đã rút</h6>
                        <p class="rs">2,594,701</p>
                    </div>
                    <div class="item-debt debt-3">
                        <h6 class="rs">Số dư khả dụng</h6>
                        <p class="rs">2,594,701</p>
                    </div>
                    <div class="item-debt debt-4">
                        <h6 class="rs">Tổng tiền đã thanh toán</h6>
                        <p class="rs">2,594,701</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-account-user mb-24">
            <div class="box-account-history">
                <div class="top-menu border-bottom">
                    <div class="tab-menu">
                        <a href="#" class="active">Phiếu xuất kho</a>
                        <a href="#" class="">Đơn hàng đang cọc</a>
                    </div>
                    <div class="right-menu">
                        <div class="form-group">
                            <select class="form-control">
                                <option>Trạng thái</option>
                                <option>Trạng thái a</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="box-detail-debt">
                    <div class="item-detail-debt">
                        <h5 class="rs">Tổng công nợ theo<br/>phiếu xuất kho</h5>
                        <p class="color-main">2,594,701</p>
                    </div>
                    <div class="item-detail-debt">
                        <h5 class="rs">Số tiền<br/>đã thanh toán</h5>
                        <p class="">2,594,701</p>
                    </div>
                    <div class="item-detail-debt">
                        <h5 class="rs">Tổng công nợ theo<br/>phiếu xuất kho</h5>
                        <p class="">2,594,701</p>
                    </div>
                </div>
                <div class="box-coupon">
                    <div class="top-header-coupon">
                        <span class="code">Mã phiếu xuất kho</span>
                        <span class="date">Ngày tạo phiếu</span>
                        <span class="status">Trạng thái</span>
                        <span class="number-price">Cần thanh toán</span>
                        <span class="box-action"><button class="btn-export">Xuất file</button></span>
                    </div>
                    <div id="accordion" class="accordion-coupon">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <span class="code">JPBC2105100135</span>
                                <span class="date">09/07/2021 08:07:37</span>
                                <span class="status waiting">Chờ giao hàng</span>
                                <span class="number-price">586,046 đ</span>
                                <div class="box-action">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <span class="btn-detail">Chi tiết</span>
                                        <span class="btn-close">Đóng</span>
                                    </button>
                                </div>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body p-0">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <td>#</td>
                                            <td>Thông tin đơn hàng</td>
                                            <td>Số lượng</td>
                                            <td>Tổng tiền</td>
                                            <td>Đã thanh toán</td>
                                            <td>Cần thanh toán</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <span class="img-thumb"> <img src="assets/img/img-watch.png" alt=""></span>
                                            </td>
                                            <td>
                                                <div class="info-order">
                                                    <a href="#" class="name">Lorem Ipsum is simply dummy text of the printing</a>
                                                    <p class="rs">Mã đơn hàng: JPH210507003</p>
                                                    <p class="rs">Ngày tạo:đơn: 09/07/2021 08:07:37</p>
                                                </div>
                                            </td>
                                            <td>10</td>
                                            <td>1.472.000đ</td>
                                            <td>586.000đ</td>
                                            <td>886.000đ</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="img-thumb"> <img src="assets/img/img-shoes.png" alt=""></span>
                                            </td>
                                            <td>
                                                <div class="info-order">
                                                    <a href="#" class="name">Lorem Ipsum is simply dummy text of the printing</a>
                                                    <p class="rs">Mã đơn hàng: JPH210507003</p>
                                                    <p class="rs">Ngày tạo:đơn: 09/07/2021 08:07:37</p>
                                                </div>
                                            </td>
                                            <td>10</td>
                                            <td>1.472.000đ</td>
                                            <td>586.000đ</td>
                                            <td>886.000đ</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <span class="code">JPBC2105100135</span>
                                <span class="date">09/07/2021 08:07:37</span>
                                <span class="status waiting">Chờ giao hàng</span>
                                <span class="number-price">586,046 đ</span>
                                <div class="box-action">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        <span class="btn-detail">Chi tiết</span>
                                        <span class="btn-close">Đóng</span>
                                    </button>
                                </div>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body p-0">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <td>#</td>
                                            <td>Thông tin đơn hàng</td>
                                            <td>Số lượng</td>
                                            <td>Tổng tiền</td>
                                            <td>Đã thanh toán</td>
                                            <td>Cần thanh toán</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <span class="img-thumb"> <img src="assets/img/img-watch.png" alt=""></span>
                                            </td>
                                            <td>
                                                <div class="info-order">
                                                    <a href="#" class="name">Lorem Ipsum is simply dummy text of the printing</a>
                                                    <p class="rs">Mã đơn hàng: JPH210507003</p>
                                                    <p class="rs">Ngày tạo:đơn: 09/07/2021 08:07:37</p>
                                                </div>
                                            </td>
                                            <td>10</td>
                                            <td>1.472.000đ</td>
                                            <td>586.000đ</td>
                                            <td>886.000đ</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="img-thumb"> <img src="assets/img/img-shoes.png" alt=""></span>
                                            </td>
                                            <td>
                                                <div class="info-order">
                                                    <a href="#" class="name">Lorem Ipsum is simply dummy text of the printing</a>
                                                    <p class="rs">Mã đơn hàng: JPH210507003</p>
                                                    <p class="rs">Ngày tạo:đơn: 09/07/2021 08:07:37</p>
                                                </div>
                                            </td>
                                            <td>10</td>
                                            <td>1.472.000đ</td>
                                            <td>586.000đ</td>
                                            <td>886.000đ</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <span class="code">JPBC2105100135</span>
                                <span class="date">09/07/2021 08:07:37</span>
                                <span class="status waiting">Chờ giao hàng</span>
                                <span class="number-price">586,046 đ</span>
                                <div class="box-action">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        <span class="btn-detail">Chi tiết</span>
                                        <span class="btn-close">Đóng</span>
                                    </button>
                                </div>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body p-0">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <td>#</td>
                                            <td>Thông tin đơn hàng</td>
                                            <td>Số lượng</td>
                                            <td>Tổng tiền</td>
                                            <td>Đã thanh toán</td>
                                            <td>Cần thanh toán</td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>
                                                <span class="img-thumb"> <img src="assets/img/img-watch.png" alt=""></span>
                                            </td>
                                            <td>
                                                <div class="info-order">
                                                    <a href="#" class="name">Lorem Ipsum is simply dummy text of the printing</a>
                                                    <p class="rs">Mã đơn hàng: JPH210507003</p>
                                                    <p class="rs">Ngày tạo:đơn: 09/07/2021 08:07:37</p>
                                                </div>
                                            </td>
                                            <td>10</td>
                                            <td>1.472.000đ</td>
                                            <td>586.000đ</td>
                                            <td>886.000đ</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <span class="img-thumb"> <img src="assets/img/img-shoes.png" alt=""></span>
                                            </td>
                                            <td>
                                                <div class="info-order">
                                                    <a href="#" class="name">Lorem Ipsum is simply dummy text of the printing</a>
                                                    <p class="rs">Mã đơn hàng: JPH210507003</p>
                                                    <p class="rs">Ngày tạo:đơn: 09/07/2021 08:07:37</p>
                                                </div>
                                            </td>
                                            <td>10</td>
                                            <td>1.472.000đ</td>
                                            <td>586.000đ</td>
                                            <td>886.000đ</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-account-date">
                <div class="box-item-account-date">
                    <h5 class="rs name-date">Theo ngày</h5>
                    <div class="icalendar">
                        <div class="icalendar__month">
                            <div class="icalendar__prev" onclick="moveDate('prev')">
                                <span>&#10094</span>
                            </div>
                            <div class="icalendar__current-date">
                                <h2 id="icalendarMonth"></h2>
                                <div>
                                    <div id="icalendarDateStr"></div>
                                </div>

                            </div>
                            <div class="icalendar__next" onclick="moveDate('next')">
                                <span>&#10095</span>
                            </div>
                        </div>
                        <div class="icalendar__week-days">
                            <div>Sun</div>
                            <div>Mon</div>
                            <div>Tue</div>
                            <div>Wed</div>
                            <div>Thu</div>
                            <div>Fri</div>
                            <div>Sat</div>
                        </div>
                        <div class="icalendar__days"></div>

                        <script src="./javascript-calendar.js" type="text/javascript"></script>
                    </div>
                </div>
                <div class="box-item-account-date">
                    <h5 class="rs name-date">Theo khoảng thời gian</h5>
                    <div class="form-group box-date mb-0">
                        <input name='range' id='cal' type="text" placeholder="Chọn khoảng thời gian"/>
                        <button class="btn-datepicker"></button>
                    </div>
                </div>
                <div class="box-item-account-date">
                    <h5 class="rs name-date">Chỉ hiển thị theo</h5>
                    <ul class="rs lst-date">
                        <li>
                            <label class="custom-control custom-checkbox">
                                <input type="radio" checked="" name="name1" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-label"></span>
                            </label>
                            7 ngày gần nhất
                        </li>
                        <li class="active">
                            <label class="custom-control custom-checkbox">
                                <input type="radio" checked="" name="name1" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-label"></span>
                            </label>
                            30 ngày gần nhất
                        </li>
                        <li>
                            <label class="custom-control custom-checkbox">
                                <input type="radio"  name="name1" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-label"></span>
                            </label>
                            6 Tháng gần nhất
                        </li>
                        <li>
                            <label class="custom-control custom-checkbox">
                                <input type="radio"  name="name1" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-label"></span>
                            </label>
                            1 Năm trước
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="paging">
            <a href="#" class="prev-pag"></a>
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#" class="next-pag"></a>
        </div>
    </div>
</div>