<div class="col-9 box-right">
    <div class="row box-main flex-column">
        {% include "../share/box-top-main.html" %}
        <div class="box-detail-main">
            <div class="tab-menu d-flex align-items-center justify-content-between">
                <ul class="rs nav nav-menu">
                    <li><a href="#" class="nav-link active">Đơn hàng mua hộ</a></li>
                    <li><a href="#" class="nav-link ">Đơn hàng đấu giá</a></li>
                    <li><a href="#" class="nav-link ">Đơn hàng vận chuyển</a></li>
                </ul>
                <a href="javascript:void(0);" class="btn-sort"></a>
            </div>
            <div class="box-sort d-flex justify-content-between">
                <div class="lst-sort">
                    <a href="#" class="active">Tất cả</a>
                    <a href="#">Chờ tạm ứng</a>
                    <a href="#">Đã mua</a>
                    <a href="#">Vận chuyển nội địa</a>
                    <a href="#">Chờ tất toán</a>
                    <a href="#">Đang giao hàng</a>
                    <a href="#">Đã giao</a>
                    <a href="#">Đơn hàng hủy</a>
                </div>
                <div class="sort-order custom-select">
                    <select>
                        <option>Sắp xếp theo:</option>
                        <option>Giá</option>
                        <option>A-Z</option>
                        <option>Z-A</option>
                    </select>
                </div>
            </div>
            <div class="lst-item-order">
                <div class="item-order">
                    <div class="info-status-order">
                        <div class="info">
                            <div class="top-info">
                                Đơn hàng <span class="code"> JPD210629013</span>
                                <span class="status btn-buy">Đã mua</span>
                            </div>
                            <p class="rs"><span>Đã đặt 20:34 22/3/2021</span><span>NCC: Lorem abc</span></p>
                        </div>
                        <a href="#" class="btn btn-detail">Chi tiết đơn hàng</a>
                    </div>
                    <div class="detail-info-order">
                        <div class="item-detail-product d-flex">
                            <span class="thumb-product"><img src="assets/img/img-sp1.png"/></span>
                            <div class="info-product">
                                <h5 class="rs">
                                    Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry
                                    Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry
                                </h5>
                                <div class="info-bottom d-flex">
                                    <div class="detail-info-bottom">Màu: <span>Đen</span></div>
                                    <div class="detail-info-bottom">KL: <span>500 g</span></div>
                                    <div class="detail-info-bottom">SL: <span>1</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="item-detail-product address-info">
                            <span>Tổng tiền</span>
                            <span class="price-number">6.560.000 VNĐ</span>
                        </div>
                        <div class="item-detail-product address-info">
                            <span>Địa chỉ giao hàng</span>
                            <p class="rs">
                                Số 348 Lê Quang Đạo, P. Phú Đô, Q. Nam Từ
                                Liêm, Hà Nội
                            </p>
                        </div>
                    </div>

                </div>
                <!--                                                item order-->
                <div class="item-order">
                    <div class="info-status-order">
                        <div class="info">
                            <div class="top-info">
                                Đơn hàng <span class="code"> JPD210629013</span>
                                <span class="status btn-cancel">Đã hủy đơn</span>
                            </div>
                            <p class="rs"><span>Đã đặt 20:34 22/3/2021</span><span>NCC: Lorem abc</span></p>
                        </div>
                        <a href="#" class="btn btn-detail">Chi tiết đơn hàng</a>
                    </div>
                    <div class="detail-info-order">
                        <div class="item-detail-product d-flex">
                            <span class="thumb-product"><img src="assets/img/img-sp1.png"/></span>
                            <div class="info-product">
                                <h5 class="rs">
                                    Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry
                                    Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry
                                </h5>
                                <div class="info-bottom d-flex">
                                    <div class="detail-info-bottom">Màu: <span>Đen</span></div>
                                    <div class="detail-info-bottom">KL: <span>500 g</span></div>
                                    <div class="detail-info-bottom">SL: <span>1</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="item-detail-product address-info">
                            <span>Tổng tiền</span>
                            <span class="price-number">6.560.000 VNĐ</span>
                        </div>
                        <div class="item-detail-product address-info">
                            <span>Địa chỉ giao hàng</span>
                            <p class="rs">
                                Số 348 Lê Quang Đạo, P. Phú Đô, Q. Nam Từ
                                Liêm, Hà Nội
                            </p>
                        </div>
                    </div>

                </div>
                <!--end item-->
                <div class="item-order">
                    <div class="info-status-order">
                        <div class="info">
                            <div class="top-info">
                                Đơn hàng <span class="code"> JPD210629013</span>
                                <span class="status btn-wait">Chờ tạm ứng</span>
                            </div>
                            <p class="rs"><span>Đã đặt 20:34 22/3/2021</span><span>NCC: Lorem abc</span></p>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                            <a href="#" class="btn btn-cancel">Hủy đơn</a>
                            <a href="#" class="btn btn-detail">Chi tiết đơn hàng</a>
                        </div>
                    </div>
                    <div class="detail-info-order">
                        <div class="item-detail-product d-flex">
                            <span class="thumb-product"><img src="assets/img/img-sp1.png"/></span>
                            <div class="info-product">
                                <h5 class="rs">
                                    Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry
                                    Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry
                                </h5>
                                <div class="info-bottom d-flex">
                                    <div class="detail-info-bottom">Màu: <span>Đen</span></div>
                                    <div class="detail-info-bottom">KL: <span>500 g</span></div>
                                    <div class="detail-info-bottom">SL: <span>1</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="item-detail-product address-info">
                            <span>Tổng tiền</span>
                            <span class="price-number">6.560.000 VNĐ</span>
                        </div>
                        <div class="item-detail-product address-info">
                            <span>Địa chỉ giao hàng</span>
                            <p class="rs">
                                Số 348 Lê Quang Đạo, P. Phú Đô, Q. Nam Từ
                                Liêm, Hà Nội
                            </p>
                        </div>
                    </div>

                </div>
                <!--end item-->
                <div class="item-order">
                    <div class="info-status-order">
                        <div class="info">
                            <div class="top-info">
                                Đơn hàng <span class="code"> JPD210629013</span>
                                <span class="status btn-success">Đã giao</span>
                            </div>
                            <p class="rs"><span>Đã đặt 20:34 22/3/2021</span><span>NCC: Lorem abc</span></p>
                        </div>
                        <a href="#" class="btn btn-detail">Chi tiết đơn hàng</a>
                    </div>
                    <div class="detail-info-order">
                        <div class="item-detail-product d-flex">
                            <span class="thumb-product"><img src="assets/img/img-sp1.png"/></span>
                            <div class="info-product">
                                <h5 class="rs">
                                    Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry
                                    Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry
                                </h5>
                                <div class="info-bottom d-flex">
                                    <div class="detail-info-bottom">Màu: <span>Đen</span></div>
                                    <div class="detail-info-bottom">KL: <span>500 g</span></div>
                                    <div class="detail-info-bottom">SL: <span>1</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="item-detail-product address-info">
                            <span>Tổng tiền</span>
                            <span class="price-number">6.560.000 VNĐ</span>
                        </div>
                        <div class="item-detail-product address-info">
                            <span>Địa chỉ giao hàng</span>
                            <p class="rs">
                                Số 348 Lê Quang Đạo, P. Phú Đô, Q. Nam Từ
                                Liêm, Hà Nội
                            </p>
                        </div>
                    </div>

                </div>
                <!--end item-->
                <div class="item-order">
                    <div class="info-status-order">
                        <div class="info">
                            <div class="top-info">
                                Đơn hàng <span class="code"> JPD210629013</span>
                                <span class="status btn-delivery">Đang giao hàng</span>
                            </div>
                            <p class="rs"><span>Đã đặt 20:34 22/3/2021</span><span>NCC: Lorem abc</span></p>
                        </div>
                        <a href="#" class="btn btn-detail">Chi tiết đơn hàng</a>
                    </div>
                    <div class="detail-info-order">
                        <div class="item-detail-product d-flex">
                            <span class="thumb-product"><img src="assets/img/img-sp1.png"/></span>
                            <div class="info-product">
                                <h5 class="rs">
                                    Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry
                                    Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry
                                </h5>
                                <div class="info-bottom d-flex">
                                    <div class="detail-info-bottom">Màu: <span>Đen</span></div>
                                    <div class="detail-info-bottom">KL: <span>500 g</span></div>
                                    <div class="detail-info-bottom">SL: <span>1</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="item-detail-product address-info">
                            <span>Tổng tiền</span>
                            <span class="price-number">6.560.000 VNĐ</span>
                        </div>
                        <div class="item-detail-product address-info">
                            <span>Địa chỉ giao hàng</span>
                            <p class="rs">
                                Số 348 Lê Quang Đạo, P. Phú Đô, Q. Nam Từ
                                Liêm, Hà Nội
                            </p>
                        </div>
                    </div>

                </div>
                <!--end item-->
                <div class="item-order">
                    <div class="info-status-order">
                        <div class="info">
                            <div class="top-info">
                                Đơn hàng <span class="code"> JPD210629013</span>
                                <span class="status btn-wait-pay">Chờ tất toán</span>
                            </div>
                            <p class="rs"><span>Đã đặt 20:34 22/3/2021</span><span>NCC: Lorem abc</span></p>
                        </div>
                        <a href="#" class="btn btn-detail">Chi tiết đơn hàng</a>
                    </div>
                    <div class="detail-info-order">
                        <div class="item-detail-product d-flex">
                            <span class="thumb-product"><img src="assets/img/img-sp1.png"/></span>
                            <div class="info-product">
                                <h5 class="rs">
                                    Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry
                                    Lorem Ipsum is simply dummy text of the printing and
                                    typesetting industry
                                </h5>
                                <div class="info-bottom d-flex">
                                    <div class="detail-info-bottom">Màu: <span>Đen</span></div>
                                    <div class="detail-info-bottom">KL: <span>500 g</span></div>
                                    <div class="detail-info-bottom">SL: <span>1</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="item-detail-product address-info">
                            <span>Tổng tiền</span>
                            <span class="price-number">6.560.000 VNĐ</span>
                        </div>
                        <div class="item-detail-product address-info">
                            <span>Địa chỉ giao hàng</span>
                            <p class="rs">
                                Số 348 Lê Quang Đạo, P. Phú Đô, Q. Nam Từ
                                Liêm, Hà Nội
                            </p>
                        </div>
                    </div>

                </div>
                <!--end item-->
            </div>
        </div>
        <div class="paging">
            <a href="#" class="prev-pag"></a>
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#" class="next-pag"></a>
        </div>
    </div>
</div>