<div class="col-9 box-right">
    <div class="row box-main flex-column">
        <div class="box-create-info-schedule box-create-order-transport">
            <h4 class="rs title">Gửi yêu cầu vận chuyển</h4>
            <div class="bar-progress-status">
                <div class="item-bar disable">
                    <div class="item-level">
                        <span class="icon icon-1"></span>
                    </div>
                    <div class="text-bottom">
                        <strong>Thông tin người nhận</strong>
                        <span>Lorem Ipsum is Lorem Ipsum is simply</span>
                    </div>
                </div>
                <div class="item-bar active">
                    <div class="item-level ">
                        <span class="icon icon-4"></span>
                    </div>
                    <div class="text-bottom">
                        <strong>Thông tin mặt hàng:</strong>
                        <span>Lorem Ipsum is Lorem Ipsum is simply</span>
                    </div>
                </div>
                <div class="item-bar">
                    <div class="item-level">
                        <span class="icon icon-5"></span>
                    </div>
                    <div class="text-bottom">
                        <strong>Dịch vụ GTGT:</strong>
                        <span>Lorem Ipsum is Lorem Ipsum is simply</span>
                    </div>
                </div>
                <div class="item-bar">
                    <div class="item-level">
                        <span class="icon icon-6"></span>
                    </div>
                    <div class="text-bottom">
                        <strong>Thanh toán:</strong>
                        <span>Lorem Ipsum is Lorem Ipsum is simply</span>
                    </div>
                </div>

            </div>
            <div class="box-transport-package">
                <div class="top-title">
                    <h4 class="title text-uppercase">Khai báo thông tin kiện hàng</h4>
                    <button class="btn-import-file">IMPORT FILE</button>
                </div>
                <div class="box-search-tracking">
                    <div class="color-main font-weight-bold">MÃ TRACKING</div>
                    <div class="form-group">
                        <input type="text" class="input-tracking" placeholder="Nhập mã tracking"/>
                        <button class="btn-add-code">NHẬP MÃ</button>
                    </div>
                </div>
                <div class="accordion" id="acc-payment">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <div class="box-left-header-tracking">
                                <span class="name color-main">#8  TRACKING NO.  1Z144597YW70968906</span>
                                <div class="info-header-tracking">
                                    <span>GW.N/A</span>
                                    <span>CW: 20.83 kg</span>
                                    <span>DIM: 20"20"20"</span>
                                    <span>COD: 12.000 JPY</span>
                                    <div class="box-control-right">
                                        <button class="btn-edit">edit</button>
                                        <button class="btn-delete">delete</button>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-link btn-pay-1" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true">
                                <span></span>
                            </button>
                        </div>

                        <div id="collapseOne" class="collapse show " aria-labelledby="headingOne" data-parent="#acc-payment">
                            <div class="card-body">
                                <div class="box-item-packing">
                                    <div class="top-tracking">
                                        <span class="text-uppercase name">Kiện hàng # 8.1</span>
                                        <div class="info-packing">
                                            <span>TRỌNG LƯỢNG: 2.0 KG</span>
                                            <span>DIM: 20"20"20"</span>
                                            <button class="btn-edit"></button>
                                        </div>
                                    </div>
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td class="text-center">#1</td>
                                                <td><span>Quần áo</span></td>
                                                <td><span>Thời trang</span></td>
                                                <td><span>1</span></td>
                                                <td><span>1.250.000đ</span></td>
                                                <td><span>VNĐ</span></td>
                                                <td class="text-center">
                                                    <span class="img-thumb"><img src="assets/img/img-thumb1.png"/></span>
                                                </td>
                                                <td class="text-right">
                                                    <button class="btn-edit"></button>
                                                    <button class="btn-delete m-08"></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-center">#2</td>
                                                <td><span>Bộ nồi inox đáy 3 lớp </span></td>
                                                <td><span>Đồ gia dụng</span></td>
                                                <td><span>1</span></td>
                                                <td><span>3.250.000đ</span></td>
                                                <td><span>VNĐ</span></td>
                                                <td class="text-center">
                                                    <img src="assets/img/img-thumb1.png"/>
                                                </td>
                                                <td class="text-right">
                                                    <button class="btn-save"></button>
                                                    <button class="btn-cancel m-08"></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="box-item-packing">
                                    <div class="top-tracking">
                                        <span class="text-uppercase name">Kiện hàng # 8.2</span>
                                        <div class="info-packing">
                                            <span>TRỌNG LƯỢNG: 2.0 KG</span>
                                            <span>DIM: 20"20"20"</span>
                                            <button class="btn-edit"></button>
                                        </div>
                                    </div>
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td class="text-center">#1</td>
                                            <td><span>Quần áo</span></td>
                                            <td><span>Thời trang</span></td>
                                            <td><span>1</span></td>
                                            <td><span>1.250.000đ</span></td>
                                            <td><span>VNĐ</span></td>
                                            <td class="text-center">
                                                <span class="img-thumb"><img src="assets/img/img-thumb1.png"/></span>
                                            </td>
                                            <td class="text-right">
                                                <button class="btn-edit"></button>
                                                <button class="btn-delete m-08"></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">#2</td>
                                            <td><span>Bộ nồi inox đáy 3 lớp </span></td>
                                            <td><span>Đồ gia dụng</span></td>
                                            <td><span>1</span></td>
                                            <td><span>3.250.000đ</span></td>
                                            <td><span>VNĐ</span></td>
                                            <td class="text-center">
                                                <img src="assets/img/img-thumb1.png"/>
                                            </td>
                                            <td class="text-right">
                                                <button class="btn-edit"></button>
                                                <button class="btn-delete m-08"></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">#3</td>
                                            <td>
                                                <div class="form-group">
                                                    <input class="form-control" type="text" placeholder="Tên sản phẩm"/>
                                                </div>

                                            </td>
                                            <td>
                                                <div class="form-group box-option-product custom-select">
                                                    <select class="form-control ">
                                                        <option>Loại sản phẩm</option>
                                                        <option>Sản phẩm 2</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input class="form-control" type="text" placeholder="Số lượng"/>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input class="form-control" type="text" placeholder="Đơn giá"/>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group custom-select">
                                                    <select class="form-control">
                                                        <option>VNĐ</option>
                                                        <option>USD</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <button class="btn-upload">Tải ảnh</button>
                                            </td>
                                            <td class="text-right">
                                                <button class="btn-add">Thêm</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="box-item-packing box-new-tracking">
                                    <div class="top-tracking">
                                        <span class="text-uppercase name">Kiện hàng # 8.3</span>
                                        <div class="info-packing-input">
                                            <div class="form-group">
                                                <label>Nhập trọng lượng</label>
                                                <input class="weight-packing" type="text" placeholder="Trọng lượng">
                                            </div>
                                            <div class="form-group">
                                                <label>Nhập kích thước</label>
                                                <input type="text" placeholder="D">
                                                <input type="text" placeholder="R">
                                                <input type="text" placeholder="C">
                                            </div>
                                            <button class="btn-add-packing">Thêm kiện hàng</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <div class="box-left-header-tracking">
                                <span class="name color-main">#8  TRACKING NO.  1Z144597YW70968906</span>
                                <div class="info-header-tracking">
                                    <span>GW.N/A</span>
                                    <span>CW: 20.83 kg</span>
                                    <span>DIM: 20"20"20"</span>
                                    <span>COD: 12.000 JPY</span>
                                    <div class="box-control-right">
                                        <button class="btn-edit">edit</button>
                                        <button class="btn-delete">delete</button>
                                    </div>

                                </div>
                            </div>
                            <button class="btn btn-link btn-pay-1" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false">
                                <span></span>
                            </button>
                        </div>
                        <div id="collapseTwo" class="collapse " aria-labelledby="headingTwo" data-parent="#acc-payment">
                            <div class="card-body">
                                <div class="box-item-packing">
                                    <div class="top-tracking">
                                        <span class="text-uppercase name">Kiện hàng # 8.1</span>
                                        <div class="info-packing">
                                            <span>TRỌNG LƯỢNG: 2.0 KG</span>
                                            <span>DIM: 20"20"20"</span>
                                            <button class="btn-edit"></button>
                                        </div>
                                    </div>
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td class="text-center">#1</td>
                                            <td><span>Quần áo</span></td>
                                            <td><span>Thời trang</span></td>
                                            <td><span>1</span></td>
                                            <td><span>1.250.000đ</span></td>
                                            <td><span>VNĐ</span></td>
                                            <td class="text-center">
                                                <span class="img-thumb"><img src="assets/img/img-thumb1.png"/></span>
                                            </td>
                                            <td class="text-right">
                                                <button class="btn-edit"></button>
                                                <button class="btn-delete m-08"></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">#2</td>
                                            <td><span>Bộ nồi inox đáy 3 lớp </span></td>
                                            <td><span>Đồ gia dụng</span></td>
                                            <td><span>1</span></td>
                                            <td><span>3.250.000đ</span></td>
                                            <td><span>VNĐ</span></td>
                                            <td class="text-center">
                                                <img src="assets/img/img-thumb1.png"/>
                                            </td>
                                            <td class="text-right">
                                                <button class="btn-save"></button>
                                                <button class="btn-cancel m-08"></button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="box-item-packing">
                                    <div class="top-tracking">
                                        <span class="text-uppercase name">Kiện hàng # 8.2</span>
                                        <div class="info-packing">
                                            <span>TRỌNG LƯỢNG: 2.0 KG</span>
                                            <span>DIM: 20"20"20"</span>
                                            <button class="btn-edit"></button>
                                        </div>
                                    </div>
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td class="text-center">#1</td>
                                            <td><span>Quần áo</span></td>
                                            <td><span>Thời trang</span></td>
                                            <td><span>1</span></td>
                                            <td><span>1.250.000đ</span></td>
                                            <td><span>VNĐ</span></td>
                                            <td class="text-center">
                                                <span class="img-thumb"><img src="assets/img/img-thumb1.png"/></span>
                                            </td>
                                            <td class="text-right">
                                                <button class="btn-edit"></button>
                                                <button class="btn-delete m-08"></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">#2</td>
                                            <td><span>Bộ nồi inox đáy 3 lớp </span></td>
                                            <td><span>Đồ gia dụng</span></td>
                                            <td><span>1</span></td>
                                            <td><span>3.250.000đ</span></td>
                                            <td><span>VNĐ</span></td>
                                            <td class="text-center">
                                                <img src="assets/img/img-thumb1.png"/>
                                            </td>
                                            <td class="text-right">
                                                <button class="btn-edit"></button>
                                                <button class="btn-delete m-08"></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">#3</td>
                                            <td>
                                                <div class="form-group">
                                                    <input class="form-control" type="text" placeholder="Tên sản phẩm"/>
                                                </div>

                                            </td>
                                            <td>
                                                <div class="form-group box-option-product custom-select">
                                                    <select class="form-control ">
                                                        <option>Loại sản phẩm</option>
                                                        <option>Sản phẩm 2</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input class="form-control" type="text" placeholder="Số lượng"/>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input class="form-control" type="text" placeholder="Đơn giá"/>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group custom-select">
                                                    <select class="form-control">
                                                        <option>VNĐ</option>
                                                        <option>USD</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <button class="btn-upload">Tải ảnh</button>
                                            </td>
                                            <td class="text-right">
                                                <button class="btn-add">Thêm</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="box-item-packing box-new-tracking">
                                    <div class="top-tracking">
                                        <span class="text-uppercase name">Kiện hàng # 8.3</span>
                                        <div class="info-packing-input">
                                            <div class="form-group">
                                                <label>Nhập trọng lượng</label>
                                                <input class="weight-packing" type="text" placeholder="Trọng lượng">
                                            </div>
                                            <div class="form-group">
                                                <label>Nhập kích thước</label>
                                                <input type="text" placeholder="D">
                                                <input type="text" placeholder="R">
                                                <input type="text" placeholder="C">
                                            </div>
                                            <button class="btn-add-packing">Thêm kiện hàng</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <div class="box-left-header-tracking">
                                <span class="name color-main">#8  TRACKING NO.  1Z144597YW70968906</span>
                                <div class="info-header-tracking">
                                    <span>GW.N/A</span>
                                    <span>CW: 20.83 kg</span>
                                    <span>DIM: 20"20"20"</span>
                                    <span>COD: 12.000 JPY</span>
                                    <div class="box-control-right">
                                        <button class="btn-edit">edit</button>
                                        <button class="btn-delete">delete</button>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-link btn-pay-1" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false">
                                <span></span>
                            </button>
                        </div>
                        <div id="collapseThree" class="collapse " aria-labelledby="headingThree" data-parent="#acc-payment">
                            <div class="card-body">
                                <div class="box-item-packing">
                                    <div class="top-tracking">
                                        <span class="text-uppercase name">Kiện hàng # 8.1</span>
                                        <div class="info-packing">
                                            <span>TRỌNG LƯỢNG: 2.0 KG</span>
                                            <span>DIM: 20"20"20"</span>
                                            <button class="btn-edit"></button>
                                        </div>
                                    </div>
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td class="text-center">#1</td>
                                            <td><span>Quần áo</span></td>
                                            <td><span>Thời trang</span></td>
                                            <td><span>1</span></td>
                                            <td><span>1.250.000đ</span></td>
                                            <td><span>VNĐ</span></td>
                                            <td class="text-center">
                                                <span class="img-thumb"><img src="assets/img/img-thumb1.png"/></span>
                                            </td>
                                            <td class="text-right">
                                                <button class="btn-edit"></button>
                                                <button class="btn-delete m-08"></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">#2</td>
                                            <td><span>Bộ nồi inox đáy 3 lớp </span></td>
                                            <td><span>Đồ gia dụng</span></td>
                                            <td><span>1</span></td>
                                            <td><span>3.250.000đ</span></td>
                                            <td><span>VNĐ</span></td>
                                            <td class="text-center">
                                                <img src="assets/img/img-thumb1.png"/>
                                            </td>
                                            <td class="text-right">
                                                <button class="btn-save"></button>
                                                <button class="btn-cancel m-08"></button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="box-item-packing">
                                    <div class="top-tracking">
                                        <span class="text-uppercase name">Kiện hàng # 8.2</span>
                                        <div class="info-packing">
                                            <span>TRỌNG LƯỢNG: 2.0 KG</span>
                                            <span>DIM: 20"20"20"</span>
                                            <button class="btn-edit"></button>
                                        </div>
                                    </div>
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td class="text-center">#1</td>
                                            <td><span>Quần áo</span></td>
                                            <td><span>Thời trang</span></td>
                                            <td><span>1</span></td>
                                            <td><span>1.250.000đ</span></td>
                                            <td><span>VNĐ</span></td>
                                            <td class="text-center">
                                                <span class="img-thumb"><img src="assets/img/img-thumb1.png"/></span>
                                            </td>
                                            <td class="text-right">
                                                <button class="btn-edit"></button>
                                                <button class="btn-delete m-08"></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">#2</td>
                                            <td><span>Bộ nồi inox đáy 3 lớp </span></td>
                                            <td><span>Đồ gia dụng</span></td>
                                            <td><span>1</span></td>
                                            <td><span>3.250.000đ</span></td>
                                            <td><span>VNĐ</span></td>
                                            <td class="text-center">
                                                <img src="assets/img/img-thumb1.png"/>
                                            </td>
                                            <td class="text-right">
                                                <button class="btn-edit"></button>
                                                <button class="btn-delete m-08"></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">#3</td>
                                            <td>
                                                <div class="form-group">
                                                    <input class="form-control" type="text" placeholder="Tên sản phẩm"/>
                                                </div>

                                            </td>
                                            <td>
                                                <div class="form-group box-option-product custom-select">
                                                    <select class="form-control ">
                                                        <option>Loại sản phẩm</option>
                                                        <option>Sản phẩm 2</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input class="form-control" type="text" placeholder="Số lượng"/>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input class="form-control" type="text" placeholder="Đơn giá"/>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group custom-select">
                                                    <select class="form-control">
                                                        <option>VNĐ</option>
                                                        <option>USD</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <button class="btn-upload">Tải ảnh</button>
                                            </td>
                                            <td class="text-right">
                                                <button class="btn-add">Thêm</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="box-item-packing box-new-tracking">
                                    <div class="top-tracking">
                                        <span class="text-uppercase name">Kiện hàng # 8.3</span>
                                        <div class="info-packing-input">
                                            <div class="form-group">
                                                <label>Nhập trọng lượng</label>
                                                <input class="weight-packing" type="text" placeholder="Trọng lượng">
                                            </div>
                                            <div class="form-group">
                                                <label>Nhập kích thước</label>
                                                <input type="text" placeholder="D">
                                                <input type="text" placeholder="R">
                                                <input type="text" placeholder="C">
                                            </div>
                                            <button class="btn-add-packing">Thêm kiện hàng</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <div class="box-left-header-tracking">
                                <span class="name color-main">#8  TRACKING NO.  1Z144597YW70968906</span>
                                <div class="info-header-tracking">
                                    <span>GW.N/A</span>
                                    <span>CW: 20.83 kg</span>
                                    <span>DIM: 20"20"20"</span>
                                    <span>COD: 12.000 JPY</span>
                                    <div class="box-control-right">
                                        <button class="btn-edit">edit</button>
                                        <button class="btn-delete">delete</button>
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-link btn-pay-1" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false">
                                <span></span>
                            </button>
                        </div>
                        <div id="collapseFour" class="collapse " aria-labelledby="headingFour" data-parent="#acc-payment">
                            <div class="card-body">
                                <div class="box-item-packing">
                                    <div class="top-tracking">
                                        <span class="text-uppercase name">Kiện hàng # 8.1</span>
                                        <div class="info-packing">
                                            <span>TRỌNG LƯỢNG: 2.0 KG</span>
                                            <span>DIM: 20"20"20"</span>
                                            <button class="btn-edit"></button>
                                        </div>
                                    </div>
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td class="text-center">#1</td>
                                            <td><span>Quần áo</span></td>
                                            <td><span>Thời trang</span></td>
                                            <td><span>1</span></td>
                                            <td><span>1.250.000đ</span></td>
                                            <td><span>VNĐ</span></td>
                                            <td class="text-center">
                                                <span class="img-thumb"><img src="assets/img/img-thumb1.png"/></span>
                                            </td>
                                            <td class="text-right">
                                                <button class="btn-edit"></button>
                                                <button class="btn-delete m-08"></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">#2</td>
                                            <td><span>Bộ nồi inox đáy 3 lớp </span></td>
                                            <td><span>Đồ gia dụng</span></td>
                                            <td><span>1</span></td>
                                            <td><span>3.250.000đ</span></td>
                                            <td><span>VNĐ</span></td>
                                            <td class="text-center">
                                                <img src="assets/img/img-thumb1.png"/>
                                            </td>
                                            <td class="text-right">
                                                <button class="btn-save"></button>
                                                <button class="btn-cancel m-08"></button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="box-item-packing">
                                    <div class="top-tracking">
                                        <span class="text-uppercase name">Kiện hàng # 8.2</span>
                                        <div class="info-packing">
                                            <span>TRỌNG LƯỢNG: 2.0 KG</span>
                                            <span>DIM: 20"20"20"</span>
                                            <button class="btn-edit"></button>
                                        </div>
                                    </div>
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td class="text-center">#1</td>
                                            <td><span>Quần áo</span></td>
                                            <td><span>Thời trang</span></td>
                                            <td><span>1</span></td>
                                            <td><span>1.250.000đ</span></td>
                                            <td><span>VNĐ</span></td>
                                            <td class="text-center">
                                                <span class="img-thumb"><img src="assets/img/img-thumb1.png"/></span>
                                            </td>
                                            <td class="text-right">
                                                <button class="btn-edit"></button>
                                                <button class="btn-delete m-08"></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">#2</td>
                                            <td><span>Bộ nồi inox đáy 3 lớp </span></td>
                                            <td><span>Đồ gia dụng</span></td>
                                            <td><span>1</span></td>
                                            <td><span>3.250.000đ</span></td>
                                            <td><span>VNĐ</span></td>
                                            <td class="text-center">
                                                <img src="assets/img/img-thumb1.png"/>
                                            </td>
                                            <td class="text-right">
                                                <button class="btn-edit"></button>
                                                <button class="btn-delete m-08"></button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="text-center">#3</td>
                                            <td>
                                                <div class="form-group">
                                                    <input class="form-control" type="text" placeholder="Tên sản phẩm"/>
                                                </div>

                                            </td>
                                            <td>
                                                <div class="form-group box-option-product custom-select">
                                                    <select class="form-control ">
                                                        <option>Loại sản phẩm</option>
                                                        <option>Sản phẩm 2</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input class="form-control" type="text" placeholder="Số lượng"/>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group">
                                                    <input class="form-control" type="text" placeholder="Đơn giá"/>
                                                </div>
                                            </td>
                                            <td>
                                                <div class="form-group custom-select">
                                                    <select class="form-control">
                                                        <option>VNĐ</option>
                                                        <option>USD</option>
                                                    </select>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <button class="btn-upload">Tải ảnh</button>
                                            </td>
                                            <td class="text-right">
                                                <button class="btn-add">Thêm</button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="box-item-packing box-new-tracking">
                                    <div class="top-tracking">
                                        <span class="text-uppercase name">Kiện hàng # 8.3</span>
                                        <div class="info-packing-input">
                                            <div class="form-group">
                                                <label>Nhập trọng lượng</label>
                                                <input class="weight-packing" type="text" placeholder="Trọng lượng">
                                            </div>
                                            <div class="form-group">
                                                <label>Nhập kích thước</label>
                                                <input type="text" placeholder="D">
                                                <input type="text" placeholder="R">
                                                <input type="text" placeholder="C">
                                            </div>
                                            <button class="btn-add-packing">Thêm kiện hàng</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="d-flex justify-content-end">
                <button class="btn-continue">Tiếp tục</button>
            </div>
        </div>
    </div>
</div>