<div class="col-9 box-right">
    <div class="row box-main flex-column">
        <div class="box-contract">
            <h4 class="title">Ký kết hợp đồng/Kích hoạt dịch vụ</h4>
            <div class="box-item-contract">
                <h5 class="rs title-cont">THÔNG TIN KHÁCH HÀNG</h5>
                <div class="option-acc">
                    <span>Loại tài khoản</span>
                    <div class="box-radio active">
                        <label class="custom-control custom-checkbox">
                            <input type="radio" name="name3" checked="" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-label"></span>
                        </label> Cá nhân
                    </div>
                    <div class="box-radio">
                        <label class="custom-control custom-checkbox">
                            <input type="radio" name="name3" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-label"></span>
                        </label> Tổ chức
                    </div>
                </div>
                <div class="item-group ">
                    <div class="form-group">
                        <label class="note">Họ và tên</label>
                        <input type="text" placeholder="Họ và tên"/>
                    </div>
                    <div class="form-group d-flex justify-content-between">
                        <div class="form-group-50">
                            <label class="note">Ngày sinh</label>
                            <div class="w-100 box-date">
                                <input type="date" class="unstyledate" placeholder="Ngày sinh">
<!--                                <a href="#" class="btn-option-date"></a>-->
                            </div>
                        </div>
                        <div class="form-group-50">
                            <label class="note">Giới tính</label>
                            <div class="option-sex d-flex align-items-center">
                                <div class="box-radio active">
                                    <label class="custom-control custom-checkbox">
                                        <input type="radio" name="sex" checked="" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-label"></span>
                                    </label> Nam
                                </div>
                                <div class="box-radio">
                                    <label class="custom-control custom-checkbox">
                                        <input type="radio" name="sex"class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-label"></span>
                                    </label> Nữ
                                </div>
                                <div class="box-radio">
                                    <label class="custom-control custom-checkbox">
                                        <input type="radio" name="sex" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-label"></span>
                                    </label> Khác
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item-group ">
                    <div class="form-group">
                        <label class="note">Số điện thoại</label>
                        <input type="text" placeholder="Số điện thoại"/>
                    </div>
                    <div class="form-group ">
                        <label class="note">Email</label>
                        <input type="text" placeholder="Email"/>
                    </div>
                </div>
                <div class="form-group w-100">
                    <label>Địa chỉ</label>
                    <input type="text" placeholder="Địa chỉ"/>
                </div>
                <div class="form-group w-100">
                    <label class="note">Số CMND/Thẻ căn cước/Hộ chiếu</label>
                    <input type="text" placeholder="Số CMND/Thẻ căn cước/Hộ chiếu"/>
                </div>
                <div class="item-group">
                    <div class="form-group">
                        <label class="note">Ngày cấp CMND/Thẻ căn cước /Hộ chiếu</label>
                        <input type="text" placeholder="Ngày cấp CMND/Thẻ căn cước /Hộ chiếu"/>
                    </div>
                    <div class="form-group ">
                        <label class="note">Nơi cấp CMND/Thẻ căn cước /Hộ chiếu</label>
                        <input type="text" placeholder="Nơi cấp CMND/Thẻ căn cước /Hộ chiếu"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="note">Ảnh Nhận diện khuôn mặt/CMND/Thẻ căn cước</label>
                    <div class="box-images">
                        <div class="item-images">
                            <span>Ảnh nhận diện khuôn mặt</span>
                            <div class="img-ava position-relative">
                                <img src="assets/img/img-avatar.png"/>
                                <a href="#" class="btn-upload-img"></a>
                            </div>
                        </div>
                        <div class="item-images">
                            <span>Ảnh mặt trước</span>
                            <div class="img-thumb position-relative">
                                <img src="assets/img/img-front.png"/>
                                <a href="#" class="btn-upload-img"></a>
                            </div>
                        </div>
                        <div class="item-images">
                            <span>Ảnh nhận diện khuôn mặt</span>
                            <div class="img-thumb position-relative" >
                                <img src="assets/img/img-back.png"/>
                                <a href="#" class="btn-upload-img"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-item-contract">
                <h5 class="rs title-cont">Đăng ký dịch vụ cung cấp</h5>
                <div class="checkbox">
                    <label class="custom-control custom-checkbox">
                        <input type="radio" name="name2"class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-label"></span>
                    </label> Dịch vụ mua hộ
                </div>
                <div class="checkbox">
                    <label class="custom-control custom-checkbox">
                        <input type="radio" name="name2"class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-label"></span>
                    </label> Dịch vụ vận chuyển
                </div>
            </div>
            <div class="box-item-contract">
                <h5 class="rs title-cont">Điều khoản dịch vụ</h5>
                <div class="content-contract">
                    What is Lorem Ipsum?
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                    electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                    passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    Why do we use it?
                    What is Lorem Ipsum?
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                    electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                    passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    Why do we use it?
                    What is Lorem Ipsum?
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                    electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                    passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    Why do we use it?
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is
                    that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop
                    publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still
                    in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                    Where does it come from?
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years
                    old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words
                </div>
                <div class="checkbox">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-label"></span>
                    </label> Tôi đã đọc và đồng ý với Điều khoản & Điều kiện giao dịch của PCS
                </div>
            </div>
            <div class="box-item-contract">
                <h5 class="rs title-cont">Chữ ký khách hàng</h5>
                <div class="box-signature">
                    <p class="note-text-signature">Xin vui lòng ký vào ô bên dưới hoặc tải hình ảnh chữ ký </p>
                    <div class="signature-detail">

                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <button class="btn-upload-signature">Tải ảnh chữ ký</button>
                        <button class="btn-delete">Xóa</button>
                    </div>
                    <button class="btn-signature-bottom">Ký hợp đồng</button>
                </div>
            </div>
        </div>
    </div>
</div>