<div class="col-9 box-right">
    <div class="row box-main flex-column">
        <div class="box-create-buy mb-24">
            <h5 class="rs title-name">Tạo đơn mua hộ và đấu giá</h5>
            <div class="box-share-link">
                <input type="text" placeholder="Link" value="https://www.amazon.com/UMYOGO-Athletic-Walking-Running-Sneakers/dp/B07Q2JB8RZ/ref=sr_1_13?dchild=1&qid=1625543413&s=..."/>
                <button class="btn btn-share"></button>
            </div>
            <p class="rs text-center">Bạn có thể thêm nhiều đường dẫn sản phẩm cũng lúc bang bằng cách thêm dấu ";"</p>
            <p class="rs text-center">Ví dụ: http://www.link1.com; http://www.link2.com</p>
        </div>
        <!--form product-->
        <div class="box-creat-product">
            <div class="info-top-general">
                <div class="name-top">Tổng cộng: <span class="color-main">4 sản phẩm</span></div>
                <div class="box-action-top">
                    <button class="btn-action-top active btn-mark-all">Chọn tất cả</button>
                    <button class="btn-action-top btn-remove">Bỏ chọn</button>
                </div>
            </div>
            <div class="lst-box-product">
                <div class="item-product">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" checked class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-label"></span>
                    </label>
                    <span class="thumb-product thumb-item"><img src="assets/img/img-nckd.png"/></span>
                    <div class="info-center">
                        <span class="title-pro text-hide-1line">Ninja AF101 Air Fryer, 4 Qt, Black/gray</span>
                        <span>Nguồn: AMAZON_US</span>
                        <div class="detail-info-center">
                            <p class="rs">Size:</p>
                            <p class="rs">Color: Back</p>
                            <p class="rs">Ghi chú:</p>
                            <p class="rs">Kho: WOREGON</p>
                            <p class="rs">Nick đấu Yahoo: </p>
                            <p class="rs">BarCode: </p>
                        </div>
                    </div>
                    <div class="info-number-detail">
                        <div class="item-number-detail">
                            <label>Đơn giá</label>
                            <span class="font-weight-bold">2,379,062đ</span>
                        </div>
                        <div class="item-number-detail">
                            <label>Số lượng</label>
                            <span class="font-weight-bold">1</span>
                        </div>
                        <div class="item-number-detail">
                            <label>Thuế</label>
                            <span class="font-weight-bold">0%</span>
                        </div>
                        <div class="item-number-detail">
                            <label class="font-weight-bold">Dịch Vụ GTGT</label>
                            <span class="font-weight-bold">Gom tách vỏ & vận chuyển tiết kiệm</span>
                        </div>
                        <div class="item-number-detail">
                            <label class="font-weight-bold">Tổng cộng (Tạm tính)</label>
                            <span class="font-weight-bold color-main">2,379,062đ</span>
                        </div>
                    </div>
                    <div class="box-action-item">
                        <button class="btn-edit"></button>
                        <button class="btn-delete"></button>
                    </div>
                </div>
                <!-- end item-->
                <div class="item-product">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" checked class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-label"></span>
                    </label>
                    <span class="thumb-product thumb-item"><img src="assets/img/img-nckd.png"/></span>
                    <div class="info-center">
                        <span class="title-pro text-hide-1line">Ninja AF101 Air Fryer, 4 Qt, Black/gray</span>
                        <span>Nguồn: AMAZON_US</span>
                        <div class="detail-info-center">
                            <p class="rs">Size:</p>
                            <p class="rs">Color: Back</p>
                            <p class="rs">Ghi chú:</p>
                            <p class="rs">Kho: WOREGON</p>
                            <p class="rs">Nick đấu Yahoo: </p>
                            <p class="rs">BarCode: </p>
                        </div>
                    </div>
                    <div class="info-number-detail">
                        <div class="item-number-detail">
                            <label>Đơn giá</label>
                            <span class="font-weight-bold">2,379,062đ</span>
                        </div>
                        <div class="item-number-detail">
                            <label>Số lượng</label>
                            <span class="font-weight-bold">1</span>
                        </div>
                        <div class="item-number-detail">
                            <label>Thuế</label>
                            <span class="font-weight-bold">0%</span>
                        </div>
                        <div class="item-number-detail">
                            <label class="font-weight-bold">Dịch Vụ GTGT</label>
                            <span class="font-weight-bold">Gom tách vỏ & vận chuyển tiết kiệm</span>
                        </div>
                        <div class="item-number-detail">
                            <label class="font-weight-bold">Tổng cộng (Tạm tính)</label>
                            <span class="font-weight-bold color-main">2,379,062đ</span>
                        </div>
                    </div>
                    <div class="box-action-item">
                        <button class="btn-edit"></button>
                        <button class="btn-delete"></button>
                    </div>
                </div>
                <!-- end item-->
                <div class="item-product">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" checked class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-label"></span>
                    </label>
                    <span class="thumb-product thumb-item"><img src="assets/img/img-nckd-2.png"/></span>
                    <div class="info-center">
                        <span class="title-pro text-hide-1line">Ninja AF101 Air Fryer, 4 Qt, Black/gray</span>
                        <span>Nguồn: AMAZON_US</span>
                        <div class="detail-info-center">
                            <p class="rs">Size:</p>
                            <p class="rs d-flex">Color:
                                <span class="att-color"><span><img src="assets/img/img-nckd-2.png"/></span></span>
                            </p>
                            <p class="rs">Ghi chú:</p>
                            <p class="rs">Kho: WOREGON</p>
                            <p class="rs">Nick đấu Yahoo: </p>
                            <p class="rs">BarCode: </p>
                        </div>
                    </div>
                    <div class="info-number-detail">
                        <div class="item-number-detail">
                            <label>Đơn giá</label>
                            <span class="font-weight-bold">2,379,062đ</span>
                        </div>
                        <div class="item-number-detail">
                            <label>Số lượng</label>
                            <span class="font-weight-bold">1</span>
                        </div>
                        <div class="item-number-detail">
                            <label>Thuế</label>
                            <span class="font-weight-bold">0%</span>
                        </div>
                        <div class="item-number-detail">
                            <label class="font-weight-bold">Dịch Vụ GTGT</label>
                            <span class="font-weight-bold">Gom tách vỏ & vận chuyển tiết kiệm</span>
                        </div>
                        <div class="item-number-detail">
                            <label class="font-weight-bold">Tổng cộng (Tạm tính)</label>
                            <span class="font-weight-bold color-main">2,379,062đ</span>
                        </div>
                    </div>
                    <div class="box-action-item">
                        <button class="btn-edit"></button>
                        <button class="btn-delete"></button>
                    </div>
                </div>
                <!-- end item-->
                <div class="item-product">
                    <label class="custom-control custom-checkbox">
                        <input type="checkbox" checked class="custom-control-input">
                        <span class="custom-control-indicator"></span>
                        <span class="custom-control-label"></span>
                    </label>
                    <span class="thumb-product thumb-item"><img src="assets/img/img-nckd.png"/></span>
                    <div class="info-center">
                        <span class="title-pro text-hide-1line">Ninja AF101 Air Fryer, 4 Qt, Black/gray</span>
                        <span>Nguồn: AMAZON_US</span>
                        <div class="detail-info-center">
                            <p class="rs">Size:</p>
                            <p class="rs">Color: Back</p>
                            <p class="rs">Ghi chú:</p>
                            <p class="rs">Kho: WOREGON</p>
                            <p class="rs">Nick đấu Yahoo: </p>
                            <p class="rs">BarCode: </p>
                        </div>
                    </div>
                    <div class="info-number-detail">
                        <div class="item-number-detail">
                            <label>Đơn giá</label>
                            <span class="font-weight-bold">2,379,062đ</span>
                        </div>
                        <div class="item-number-detail">
                            <label>Số lượng</label>
                            <span class="font-weight-bold">1</span>
                        </div>
                        <div class="item-number-detail">
                            <label>Thuế</label>
                            <span class="font-weight-bold">0%</span>
                        </div>
                        <div class="item-number-detail">
                            <label class="font-weight-bold">Dịch Vụ GTGT</label>
                            <span class="font-weight-bold">Gom tách vỏ & vận chuyển tiết kiệm</span>
                        </div>
                        <div class="item-number-detail">
                            <label class="font-weight-bold">Tổng cộng (Tạm tính)</label>
                            <span class="font-weight-bold color-main">2,379,062đ</span>
                        </div>
                    </div>
                    <div class="box-action-item">
                        <button class="btn-edit"></button>
                        <button class="btn-delete"></button>
                    </div>
                </div>
                <!-- end item-->
            </div>
            <div class="d-flex justify-content-end">
                <div class="bottom-info-price">
                    <p class="font-weight-bold">Đã chọn: <span class="color-main">2</span> sản phẩm</p>
                    <p class="rs number-bottom-price font-weight-bold">
                        <span>Tổng giỏ hàng(Tạm tính)</span>
                        <span>21,279,507 đ</span>
                    </p>
                    <button class="btn-ordering">Tiến hành đặt hàng</button>
                </div>
            </div>
        </div>
        <!--form product-->
    </div>
</div>