<div class="col-9 box-right">
    <div class="row box-main flex-column">
        <a href="#" class="btn-back-home mb-24">Quay lại</a>
        <div class="box-create-success">
            <div class="box-info-success">
                <span class="icon-check-success"></span>
                <h6 class="rs color-main">Quý khách đã tạo đơn thàng công</h6>
                <p class="date-info-order">(11:25 - Thứ 6, ngày 12-03-2021)</p>
                <p>
                    Cảm ơn đã sử dụng dịch vụ của Shipquocte. Chúng tôi đã gửi thông tin chi tiết đơn hàng của quá khách qua email (hamyng2965@gmail.com).<br/>
                    Quý khách vui lòng tiến hàng thanh toán đơn hàng theo thông tin bên dưới.
                </p>
            </div>
            <div class="box-address">
                <div class="item-address">
                    <h5 class="rs title-address icon-1">Địa chỉ của bạn</h5>
                    <h6 class="font-weight-bold">NGUYỄN HÀ MY</h6>
                    <p>Điện thoại: 0903 123 256</p>
                    <p>Địa chỉ: Số 8 Lê Quang Đạo, Mỹ Đình, Nam Từ Liêm, Hà Nội</p>
                </div>
                <div class="item-address">
                    <h5 class="rs title-address icon-2">Phương thức thanh toán</h5>
                    <h6 class="font-weight-bold">CHUYỂN KHOẢN</h6>
                    <p>Techcombank - Ngân hàng thương mại cổ phẩn kỹ thương Việt Nam</p>
                </div>
            </div>
            <div class="lst-product-order-success">
                <div class="item-product-ss">
                    <div class="top-item-ss">
                        <div>Mã đơn hàng: <span class="color-main">JPD210629053</span></div>
                        <div class="status">Trạng thái: <span class="text-origin">Chờ đặt cọc</span></div>
                    </div>
                   <div class="d-flex justify-content-between">
                       <div class="item-product-pay">
                           <span class="thumb-product thumb-item"><img src="assets/img/img-nckd.png"/></span>
                           <div class="info-center">
                               <span class="title-pro text-hide-1line">Ninja AF101 Air Fryer, 4 Qt, Black/gray</span>
                               <div class="info-create-product">
                                   <div class="box-left-pay1">
                                       <div class="price-number">
                                           <span>Giá: <strong>2,379,062đ</strong></span>
                                           <strong>35.99$</strong>
                                       </div>
                                   </div>
                                   <div class="box-right-pay1">
                                       <span>Số lượng: 1</span>
                                   </div>
                               </div>
                               <p class="rs"><strong>Ghi chú: </strong>Nhập khẩu tiêu dùng</p>
                           </div>
                       </div>
                       <div class="box-info-right-ss">
                           <div class="d-flex flex-column">
                               <span class="title-pro">Dịch vụ GTGT</span>
                               <ul class="rs">
                                   <li>- Gom hàng tách vỏ & vận chuyển tiết kiệm</li>
                                   <li>- Check hàng & chụp ảnh</li>
                               </ul>
                           </div>
                           <button class="btn-detail">Xem chi tiết</button>
                       </div>
                   </div>
                </div>
<!--                item product-->
                <div class="item-product-ss">
                    <div class="top-item-ss">
                        <div>Mã đơn hàng: <span class="color-main">JPD210629053</span></div>
                        <div class="status">Trạng thái: <span class="text-origin">Chờ đặt cọc</span></div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="item-product-pay">
                            <span class="thumb-product thumb-item"><img src="assets/img/img-nckd.png"/></span>
                            <div class="info-center">
                                <span class="title-pro text-hide-1line">Ninja AF101 Air Fryer, 4 Qt, Black/gray</span>
                                <div class="info-create-product">
                                    <div class="box-left-pay1">
                                        <div class="price-number">
                                            <span>Giá: <strong>2,379,062đ</strong></span>
                                            <strong>35.99$</strong>
                                        </div>
                                    </div>
                                    <div class="box-right-pay1">
                                        <span>Số lượng: 1</span>
                                    </div>
                                </div>
                                <p class="rs"><strong>Ghi chú: </strong>Nhập khẩu tiêu dùng</p>
                            </div>
                        </div>
                        <div class="box-info-right-ss">
                            <div class="d-flex flex-column">
                                <span class="title-pro">Dịch vụ GTGT</span>
                                <ul class="rs">
                                    <li>- Gom hàng tách vỏ & vận chuyển tiết kiệm</li>
                                    <li>- Check hàng & chụp ảnh</li>
                                </ul>
                            </div>
                            <button class="btn-detail">Xem chi tiết</button>
                        </div>
                    </div>
                </div>
                <!--                item product-->
                <div class="item-product-ss">
                    <div class="top-item-ss">
                        <div>Mã đơn hàng: <span class="color-main">JPD210629053</span></div>
                        <div class="status">Trạng thái: <span class="text-origin">Chờ đặt cọc</span></div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="item-product-pay">
                            <span class="thumb-product thumb-item"><img src="assets/img/img-nckd.png"/></span>
                            <div class="info-center">
                                <span class="title-pro text-hide-1line">Ninja AF101 Air Fryer, 4 Qt, Black/gray</span>
                                <div class="info-create-product">
                                    <div class="box-left-pay1">
                                        <div class="price-number">
                                            <span>Giá: <strong>2,379,062đ</strong></span>
                                            <strong>35.99$</strong>
                                        </div>
                                    </div>
                                    <div class="box-right-pay1">
                                        <span>Số lượng: 1</span>
                                    </div>
                                </div>
                                <p class="rs"><strong>Ghi chú: </strong>Nhập khẩu tiêu dùng</p>
                            </div>
                        </div>
                        <div class="box-info-right-ss">
                            <div class="d-flex flex-column">
                                <span class="title-pro">Dịch vụ GTGT</span>
                                <ul class="rs">
                                    <li>- Gom hàng tách vỏ & vận chuyển tiết kiệm</li>
                                    <li>- Check hàng & chụp ảnh</li>
                                </ul>
                            </div>
                            <button class="btn-detail">Xem chi tiết</button>
                        </div>
                    </div>
                </div>
                <!--                item product-->
                <div class="item-product-ss">
                    <div class="top-item-ss">
                        <div>Mã đơn hàng: <span class="color-main">JPD210629053</span></div>
                        <div class="status">Trạng thái: <span class="text-origin">Chờ đặt cọc</span></div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div class="item-product-pay">
                            <span class="thumb-product thumb-item"><img src="assets/img/img-nckd.png"/></span>
                            <div class="info-center">
                                <span class="title-pro text-hide-1line">Ninja AF101 Air Fryer, 4 Qt, Black/gray</span>
                                <div class="info-create-product">
                                    <div class="box-left-pay1">
                                        <div class="price-number">
                                            <span>Giá: <strong>2,379,062đ</strong></span>
                                            <strong>35.99$</strong>
                                        </div>
                                    </div>
                                    <div class="box-right-pay1">
                                        <span>Số lượng: 1</span>
                                    </div>
                                </div>
                                <p class="rs"><strong>Ghi chú: </strong>Nhập khẩu tiêu dùng</p>
                            </div>
                        </div>
                        <div class="box-info-right-ss">
                            <div class="d-flex flex-column">
                                <span class="title-pro">Dịch vụ GTGT</span>
                                <ul class="rs">
                                    <li>- Gom hàng tách vỏ & vận chuyển tiết kiệm</li>
                                    <li>- Check hàng & chụp ảnh</li>
                                </ul>
                            </div>
                            <button class="btn-detail">Xem chi tiết</button>
                        </div>
                    </div>
                </div>
                <!--                item product-->
            </div>
            <div class="d-flex justify-content-end">
                <button class="btn-bottom-create-ss active">Quản lý đơn hàng</button>
                <button class="btn-bottom-create-ss">Tạo đơn mới</button>
            </div>
        </div>
    </div>
</div>