@font-face {
  font-family: "Lato";
  src: url("../font/Lato-Regular_2.ttf") format("truetype");
}
input,button{
  border: none;
  font-family: "Lato",sans-serif;
  &:focus{
    outline: none;
  }
}
button{
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}
.rs{
  padding: 0;
  margin: 0;
}
ul.rs{
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
  color:  #4B4B4B;
  &:hover{
    text-decoration: none;
  }
}
.pRel{
  position: relative;
}
.pAbs{
  position: absolute;
}
.mb-24{
  margin-bottom: 24px;
}
.mr-20{
  margin-right: 20px;
}
.m-08{
  margin: 0 8px;
}
.title-name{
  font-size: 24px;
  font-weight: bold;
  color: #4B4B4B;
}
.text-hide-1line{
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.bg-table-line{
  background-color: #f1f2f5;
}
.color-main{
  color: #0050A6!important;
}
.text-red{
  color: #A91116;
}
.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before{
  background-color: #ffffff;
}
a.color-main:hover{
  color: #A91116;
}
.unstyledate::-webkit-inner-spin-button,
.unstyledate::-webkit-calendar-picker-indicator {
  background: url("../img/icon-datepicker-gray.svg") 0/100% no-repeat;
  width: 14px;
  height: 17px;
  cursor: pointer;
}
.unstyledate:hover::-webkit-inner-spin-button,
.unstyledate:hover::-webkit-calendar-picker-indicator {
  background: url("../img/icon-datepicker-blue.svg") 0/100% no-repeat;
  width: 14px;
  height: 17px;
  cursor: pointer;
}

//custom select PCS
.custom-select {
  border: 1px solid #e8e8e8;
  position: relative;
  padding: 0;
  width: auto;
  border-radius: 4px;
  -webkit-appearance: none;
  select{
    -webkit-appearance: none;
  }
}

.custom-select select {
  display: none;
}

.select-selected {
  //background-color: DodgerBlue;
  color: #ffffff;
  width: 100%;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 50%;
  margin-top: -10px;
  right: 5px;
  background: url(../img/icon-arrowdown.png) 50% 50% no-repeat #ffffff;
  width: 15px;
  height: 20px;
}

.select-selected.select-arrow-active:after {
 transform: rotate(180deg);
}
.select-selected{
  color: #4B4B4B;
  height: 100%;
  border: none;
  display: flex;
  align-items: center;
}
.select-items div {
  padding: 4px 16px;
  border-bottom: 1px solid #E8E8E8;
  cursor: pointer;
  user-select: none;
}

.select-items {
  position: absolute;
  background-color: #ffffff;
  top: 100%;
  left: -1px;
  right: 0;
  z-index: 99;
  color: #4B4B4B;
  border: 1px solid #e8e8e8;
  width: calc(100% + 2px);
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: #F1F2F5;
  color: #0050a6;
}
//custom select PCS