$bg-color: #F1F2F5;
$color1: #ffffff;
$color2: #0050A6;
$color3: #e8e8e8;
$color-text-common: #4B4B4B;
$font-size-page: 14px;
.text-origin{
  color: #FFB703;
}

.text-gray{
  color: #8C8C8C;
}
.box-item-create{
  border: 1px solid #E8E8E8;
  border-radius: 4px;
  padding: 24px;
  .name{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
.btn-ordering{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: #0050A6;
  border-radius: 4px;
  border: 1px solid #0050A6;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  margin-top: 20px;
  font-family: "Lato",sans-serif;
  transition: all .3s ease-in;
  &:hover{
    background-color: #F1F2F5;
    color: #0050A6;
  }
}
.box-creat-product{
  padding: 20px;
  background-color: #ffffff;
  border-radius: 4px;
  .info-top-general{
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid #E8E8E8;
    .name-top{
      font-size: 18px;
      font-weight: bold;
    }
  }
  .btn-action-top{
    height: 30px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    margin-left: 16px;
    padding: 0 16px;
    background-color: #E8E8E8;
    border: 1px solid #E8E8E8;
    color: #8C8C8C;
    border-radius: 4px;
    &.active{
      background-color: #F1F2F5;
      border: 1px solid #0050A6;
      color: #0050A6;
    }
    &.btn-mark-all{
      background-color: #F1F2F5;
      border: 1px solid #0050A6;
      color: #0050A6;
      &:hover{
        background-color: #0050a6;
        color: #ffffff;
      }
    }
    &.btn-remove{
      &:hover{
        background-color: #0050a6;
        color: #ffffff;
      }
    }
  }
  .lst-box-product{
    margin-bottom: 30px;
    .item-product{
      display: flex;
      align-items: center;
      border-bottom: 1px solid #e8e8e8;
      padding: 12px 0 24px;
      position: relative;

      .thumb-item{
        width: 100px;
        display: block;
        height: 131px;
        margin: 0 16px;
      }
      .info-center{
        width: 380px;
        .detail-info-center{
          margin: 20px 0 0 0;
          .att-color{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 46px;
            height: 46px;
            border-radius: 4px;
            border: 1px solid #E8E8E8;
            padding: 4px;
            margin-left: 8px;
            span{
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 100%;
              overflow: hidden;
            }
            img{
              width: auto;
              max-width: 100%;
              height: 100%;
              vertical-align: top;
            }
          }
        }
      }
      .info-number-detail{
        width: 356px;
        margin: 0 32px;
        .item-number-detail{
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 40px;
          border-bottom: 1px solid #e8e8e8;
          &:last-child{
            border-bottom: none;
          }
        }
      }
      .box-action-item{
        height: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        position: absolute;
        top: 16px;
        right: 0;
        button{
          margin-bottom: 16px;
        }
      }
    }
  }
  .bottom-info-price{
      width: 356px;
    margin-right: 60px;
    font-size: 16px;
    p{
      margin-bottom: 11px;
    }
    .number-bottom-price{
      display: flex;
      justify-content: space-between;
    }

  }
  //css các item chung
  .title-pro{
    display: block;
    font-weight: bold;
    font-size: 14px;
    color: #4b4b4b;
  }
  .thumb-product{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    img{
      max-width: 100%;
    }
  }
  .btn-edit{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: url("../img/btn-edit.svg") 50% 50% no-repeat #E8E8E8;
    border-radius: 4px;
    border: none;
    &:hover{
      background: url("../img/btn-edit-white.svg") 50% 50% no-repeat #0050A6;
    }
  }
  .btn-delete{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: url("../img/btn-delete-gray.svg") 50% 50% no-repeat #E8E8E8;
    border-radius: 4px;
    border: none;
    &:hover{
      background: url("../img/btn-delete-white.svg") 50% 50% no-repeat #A91116;
    }
  }
  //css các item chung
}
//css check box
.custom-control {
  padding-left: 0;
  margin-bottom: 0;
  cursor: pointer;
}
.custom-control-label {
  position: relative;
  line-height: 20px;
  padding: 0 0 0 35px;
}
.custom-checkbox .custom-control-label::before {
  width: 18px;
  height: 18px;
  border-radius: 5px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border: 1px solid #707070;
}
.custom-control-input:checked ~ .custom-control-label::before {
  color: white !important;
  //background-color: #0050A6 !important;
  background: url("../img/icon-check-white.png") 50% 50% no-repeat #0050A6!important;
  border: 1px solid #0050A6;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after{
  background-image: none;
}
.custom-control-label::after {
  background-size: 60%;
  width: 18px;
  height: 18px;
  top: 0;
  left: 0;
  //background-image: url("../img/icon-check-222.png");
}
//css check box


//css order 5
.btn-back-home{
  display: flex;
  align-items: center;
  color: #0050A6;
  font-weight: bold;
  font-size: 14px;
  &:before{
    content: '';
    display: block;
    background: url("../img/btn-back-home.svg") 0/100% no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 8px;
  }
}
.box-create-info-schedule{
  background-color: #ffffff;
  border-radius: 8px;
  padding: 30px 70px;
  .bar-progress-status{
    width: 100%;
    padding: 16px;
    margin-bottom: 32px;
    display: flex;
    justify-content: space-between;
    .item-bar{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: calc(100% / 3);
      position: relative;
      color: #8C8C8C;
      &:before{
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background-color: $color3;
        position: absolute;
        top: 96px;
        left: 0;
      }
      &:nth-child(1){
        padding-right: 13%;
        &:before{
          width: 70%;
          left: 30%;
        }
        .text-bottom{
          width: 120px;
          margin: 0 auto;
        }
      }
      &:last-child{
        padding-left: 13%;
        &:before{
          width: 70%;
          right: 50%;
        }
        .text-bottom{
          width: 120px;
          margin: 0 auto;
        }
      }
      .item-level{
        width: 70px;
        height: 70px;
        background-color: #ffffff;
        border: 8px solid $bg-color;
        border-radius: 50%;
        position: relative;
        margin-bottom: 45px;
        color: #8C8C8C;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;

        &:before{
          display: block;
          content: '';
          width: 10px;
          height: 10px;
          background-color: $bg-color;
          transform: rotate(45deg);
          position: absolute;
          bottom: -12px;
          left: 50%;
          margin-left: -5px;
        }
        &:after{
          display: block;
          content: '';
          width: 12px;
          height: 12px;
          border-radius: 50%;
          background-color: $color1;
          border: 3px solid $bg-color;
          position: absolute;
          bottom: -40px;
          left: 50%;
          margin-left: -6px;
        }
        .icon{
          width: 35px;
          height: 27px;
          display: block;
        }
        @for $i from 1 through 6 {
          .icon-#{$i} {
            background: url("../img/icon-create-" + $i + ".svg")
            50% 50%
            no-repeat;
          }
        }
      }
      .text-bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 190px;
        height: 53px;
        line-height: 17px;
        strong{
          margin-bottom: 2px;
        }
      }
      &.disable{
        .item-level{
          border: 8px solid #9DCDFF;
          &:before{
            background-color: #9DCDFF;
          }
          &:after{
            border: 3px solid #9DCDFF;
          }
          @for $i from 1 through 6 {
            .icon-#{$i} {
              background: url("../img/icon-create-" + $i + "a.svg")
              50% 50%
              no-repeat;
            }
          }
        }
      }
      &.active{
        color: $color2;
        .item-level{
          border: 8px solid $color2;
          &:before{
            background-color: $color2;
          }
          &:after{
            border: 3px solid $color2;
          }
          @for $i from 1 through 6 {
            .icon-#{$i} {
              background: url("../img/icon-create-" + $i + "b.svg")
              50% 50%
              no-repeat;
            }
          }
        }
      }
    }

  }
  .box-create-address{
    p{
      a{
        &:hover{
          color: #A91116;
        }
      }
    }
    .label-text{
      font-size: 16px;
      font-weight: bold;
    }
    .small-label{
      color: #8C8C8C;
    }
    .box-form-address {
      margin: 25px 80px 0;
      .item-address {
        display: flex;
        justify-content: space-between;
        padding: 20px;
        border: 1px solid #E8E8E8;
        border-radius: 4px;
        margin-bottom: 20px;
        font-size: 14px;
        .box-label-check{
          >span{
            display: none;
          }
        }
        .name-customer {
          font-weight: bold;
          font-size: 14px;
          margin-bottom: 12px;
        }
        p {
          margin-bottom: 8px;

          &:last-child {
            margin-bottom: 0;
          }
        }
        &:hover{
          border: 1px dashed #0050A6;
          background-color: #E7F2FF;
        }
        &.active {
          border: 1px dashed #0050A6;
          background-color: #E7F2FF;
          .box-label-check{
            >span{
              display: block;
            }
          }
        }
      }
    }
  }
  .box-label-check{
    display: flex;
    align-items: center;
    height: 20px;
    color: #8C8C8C;
    .custom-control{
      margin-left: 8px;
    }
    .custom-control-label{
      &:before{
        border-radius: 50%;
      }
    }
  }
  .btn-continue{
    height: 40px;
    padding: 0 32px;
    font-weight: bold;
    font-size: 14px;
    color: $color1;
    background-color: $color2;
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
    &:hover{
      background-color: #F1F2F5;
      border: 1px solid #0050a6;
      color: #0050a6;

    }
  }
  .lst-create-order{
    margin: 20px 0;
    .item-create-order{
      display: flex;
      padding: 16px 0;
      border-bottom: 1px solid #E8E8E8;
      .thumb-item{
        width: 100px;
        height: 116px;
        margin-right: 24px;
      }
      .info-center{
        flex: 1;
      }
      .info-create-product{
        display: flex;
        margin-top: 12px;
        .price-number{
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          &:nth-child(1){
            margin-right: 64px;
          }
        }
      }
    }
  }
  .box-method-schedule{
    width: 280px;
    .text-method{
      font-weight: bold;
      font-size: 14px;
    }
    .lst-method{
      border-top: 1px solid #E8E8E8;
      li{
        display: flex;
        align-items: center;
        padding: 8px 0;
        font-weight: bold;
      }
    }
    .custom-checkbox{
      .custom-control-label{
        &:before{
            border-radius: 50%;
          background-color: #FFFFFF;
        }
        &:after{
          top: 1px;
          left: 1px;
        }
      }
    }
  }
  .box-create-payment{
    margin: 0 -50px;
    .title-top{
      font-weight: bold;
      font-size: 16px;
      text-transform: uppercase;
    }
    .text-top-note{
      width: 100%;
      height: 40px;
      background: #FDEAEA;
      border: 1px dashed #A91116;
      border-radius: 4px;
      margin: 20px 0 32px;
      display: flex;
      align-items: center;
      padding-left: 16px;
      span{
        display: inline-block;
        font-weight: 700;
        font-size: 18px;
        margin: 0 4px;
      }
    }
    .box-main-payment{
      display: flex;
      justify-content: space-between;
      .box-left-payment{
        width: 46%;
        .box-create-total-price{
          display: flex;
          justify-content: space-between;
          .box-price-1{
            flex: 1;
            margin-right: 24px;
            .number{
              font-weight: bold;
              font-size: 32px;
              margin-bottom: 38px;
            }
            .price-note{
              display: inline-flex;
              align-items: center;
              min-width: 150px;
              height: 24px;
              border-radius: 4px;
              margin-bottom: 8px;
              padding: 0 8px;
              font-size: 12px;
            }
            .note-1{
              color: #0050A6;
              background-color: #E7F2FF;
            }
            .note-2{
              color: #FC573B;
              background-color: #FFE6E2;
            }

          }
          .box-price-2{
            width: 110px;
            text-align: right;
            .item-price-2{
              margin-bottom: 24px;
              font-size: 20px;
              &:last-child{
                margin-bottom: 0;
              }
              .item-small-usd{
                font-size: 14px;
                display: block;
              }
              p{
                line-height: 1;
              }
              label{
                font-size: 14px;
                margin-bottom: 5px;
                display: flex;
                align-items: center;
                &:before{
                  display: inline-block;
                  content: '';
                  width: 8px;
                  height: 8px;
                  margin-right: 8px;
                  border-radius: 50%;
                }
              }
              .item-1{
                color: #0050A6;
                &:before{
                  background-color: #0050A6;
                }
              }
              .item-2{
                color: #FFB703;
                &:before{
                  background-color: #FFB703;
                }
              }
              .item-3{
                color: #219EBC;
                &:before{
                  background-color: #219EBC;
                }
              }
            }
          }
        }
        .box-method-pay{
          .accordion{
            margin-top: 16px;
            .card{
              border: none;
              margin-bottom: 20px;
              &:last-child{
                margin-bottom: 0;
              }
            }
          }

          .card-header{
            height: 40px;
            padding: 0 8px;
            border: 1px solid #E8E8E8;
            background-color: #ffffff;
            button{
              display: flex;
              width: 100%;
              align-items: center;
              justify-content: space-between;
              color: #8C8C8C;
              font-size: 14px;
              span{
                display: flex;
                align-items: center;
                flex: 1;
                &:before{
                  content: '';
                  display: block;
                  width: 26px;
                  height: 20px;
                  margin-right: 16px;
                }
              }
              &:after{
                content: '';
                display: block;
                width: 20px;
                height: 20px;
                background: url("../img/icon-check-1.png") 0/100% no-repeat;
              }
              &:hover{
                text-decoration: none;
              }
            }
            button[aria-expanded="true"]{
              color: #0050A6;
              &:after{
                background: url("../img/icon-check-2.png") 0/100% no-repeat;
              }
            }
            @for $i from 1 through 3 {
              .btn-pay-#{$i} {
                span{
                  &:before{
                    background: url("../img/icon-pay-" + $i +"act.svg") 50% no-repeat;
                  }
                }
                &.collapsed{
                  span{
                    &:before{
                      background: url("../img/icon-pay-" + $i +".svg") 50% no-repeat;
                    }
                  }
                }
              }
            }
          }
          .card-body{
            padding:  24px 0 0;
            .lst-pay-wallet{
              display: flex;
              align-items: center;
              justify-content: space-between;
              .item-wallet{
                width: 31%;
                height: 80px;
                border-radius: 4px;
                background-color: #F1F2F5;
                padding: 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                strong{
                  font-size: 24px;
                }
              }
            }
            .box-bottom{
              display: flex;
              justify-content: space-between;
              .btn-add-price{
                width: 142px;
                height: 40px;
                background-color: #0050A6;
                color: #ffffff;
                text-transform: uppercase;
                margin-right: 16px;
                border-radius: 4px;
                cursor: pointer;
                &:hover{
                  background-color: #f1f2f5;
                  border: 1px solid #0050a6;
                  color: #0050a6;
                }
              }
              p{
                flex: 1;
                color: #A91116;
                font-size: 12px;
                line-height: 14px;
              }
            }
            .lst-bank{
              display: flex;
              flex-wrap: wrap;
              margin: 8px 0;
              .item-bank{
                display: block;
                width: 90px;
                height: 56px;
                border: 1px solid #E8E8E8;
                border-radius: 4px;
                margin: 0 8px 8px 0;
                &.active{
                  border: 1px solid #0050a6;
                }
              }
              @for $i from 1 through 5 {
                .bank-#{$i} {
                  background: url("../img/logo-bank-" + $i +".png") 50% no-repeat;
                }
              }
            }
            .text-label-bank{
              background-color: #E7F2FF;
              padding: 13px 16px;
              border-radius: 4px;
              line-height: 1;
              font-size: 14px;
            }
            .box-code-payment{
              margin: 12px 0;
              .box-code-text{
                margin: 12px 0;
                display: flex;
                align-items: center;
                .code{
                  font-size: 14px;
                  color: #A91116;
                  display: inline-block;
                  margin-right: 24px;
                }
                .btn-copy-code{
                  display: flex;
                  align-items: center;
                  color: #0050A6;
                  text-transform: uppercase;
                  font-size: 10px;
                  &:before{
                    display: block;
                    content: '';
                    background: url("../img/icon-copy.png") 0/100% no-repeat;
                    width: 14px;
                    height: 15px;
                    margin-right: 8px;
                  }
                }
              }
              .btn-download-receipt{
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 206px;
                height: 36px;
                border-radius: 5px;
                background-color: #F1F2F5;
                border: 1px solid #0050A6;
                text-transform: uppercase;
                font-weight: bold;
                color: #0050A6;
                margin-bottom: 24px;
                &:hover{
                  background-color: #0050a6;
                  color: #ffffff;
                }
              }
              .form-group{
                label{
                  color: #8C8C8C;
                  margin-bottom: 4px;
                }
                input{
                  height: 40px;
                  font-size: 14px;
                  color: #4B4B4B;
                }
                .form-2{
                  width: 192px;
                }
              }
            }
          }
        }
      }
      .box-right-payment{
        width: 52%;
        .payment-top-right{
          display: flex;
          justify-content: space-between;
          align-items: center;
          height: 80px;
          padding: 0 20px;
          background-color: #F1F2F5;
          border-radius: 4px;
          margin-bottom: 20px;
          .text-des{
            display: flex;
            flex-direction: column;
            font-size: 16px;
            span{
              font-size: 14px;
              color: #8C8C8C;
              line-height: 1;
            }
          }
          .box-info-number{
            display: flex;
            .btn-number{
              height: 40px;
              padding: 0 20px;
              border-radius: 4px;
              background: #FFFFFF;
              border: 1px dashed #E8E8E8;
              color: #8C8C8C;
              font-size: 20px;
              margin-left: 12px;
              &.active{
                color: #ffffff;
                background-color: #0050A6;
                border: 1px dashed #0050A6;
              }
            }
          }
        }
        .box-info-method-pay{
          .box-user-info-top{
            margin: 20px 0 0 0;
          }
          .lst-info-product-pay{
            .item-product-pay{
              display: flex;
              padding: 12px 0;
              border-bottom: 1px solid #E8E8E8;
              .thumb-item{
                width: 80px;
                height: 96px;
                overflow: hidden;
                margin-right: 20px;
                display: block;
                img{
                  max-width: 100%;
                }
              }
              .info-center{
                flex: 1;
                .title-pro{
                  font-weight: bold;
                  margin-bottom: 8px;
                }
                .info-create-product{
                  display: flex;
                  .box-left-pay1{
                    width: 150px;
                    padding-right: 16px;
                    margin-right: 16px;
                    border-right: 1px solid #E8E8E8 ;
                    .price-number{
                      text-align: right;
                      width: 100px;
                      margin-bottom: 8px;
                    }
                  }
                  .box-right-pay1{
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: flex-end;
                   span{
                     margin-bottom: 8px;
                   }
                  }
                }
              }
            }
          }
          .lst-gtgt{
            margin-top: 20px;
            .lst-gtgt-detail{
              padding-left: 20px;
              padding-top: 12px;
              li{
                margin-bottom: 8px;
                &:last-child{
                  margin-bottom: 0;
                }
              }
            }
          }
        }
        .form-bottom-right-payment{
          .form-group{
            input{
              width: 387px;
              font-size: 14px;
              height: 40px;
              color: $color-text-common;
              border: 1px solid #E8E8E8;
            }
            .btn-apply{
              width: 120px;
              height: 40px;
              background-color: #0050A6;
              color: #ffffff;
              text-transform: uppercase;
              font-size: 14px;
              font-weight: bold;
              &:hover{
                background-color: #f1f2f5;
                color: #0050a6;
                border: 1px solid #0050a6;
              }
            }
          }
          .price-sale{
            color: #A91116;
          }
          .lst-check-bottom-accept{
            border-top: 1px solid #E8E8E8;
            padding: 20px 0 10px;
            margin-top: 10px;
            .item-check{
              display: flex;
              align-items: center;
              margin-bottom: 16px;
              color: #8C8C8C;
              &:last-child{
                margin-bottom: 0;
              }
            }
          }
          .custom-checkbox{
            .custom-control-label{
              &:before{
                background-color: #ffffff;
              }
            }
          }
        }
      }
    }
  }
}
//css order 5
.box-create-success{
  background-color: #ffffff;
  border-radius: 10px;
  padding: 30px;
  .box-info-success{
    text-align: center;
    .icon-check-success{
      display: block;
      background: url("../img/icon-success.svg") 0/100% no-repeat;
      width: 51px;
      height: 48px;
      margin: 0 auto;
    }
    h6{
      font-size: 24px;
      font-weight: bold;
      margin: 12px 0;
    }
    .date-info-order{
      font-weight: bold;
    }
    .box-button-info-ss{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 18px;
      .btn-control-order{
        width: 254px;
        height: 40px;
        border: 1px solid #0050A6;
        border-radius: 4px;
        color: #0050A6;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        margin: 0 10px;
        cursor: pointer;
        background-color: #ffffff;
        &.active, &:hover{
          background-color: #0050A6;
          color: #ffffff;
        }
      }
      //.btn-order1{
      //  &:hover{
      //    background-color: #0050a6;
      //    color: #ffffff;
      //  }
      //}
      //.btn-order2{
      //  &:hover{
      //    background-color: #F1F2F5;
      //    color: #0050a6;
      //  }
      //}
    }
  }
  .box-address{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    .item-address{
      width: 49%;
      padding: 20px;
      background-color: #F1F2F5;
      border: 1px dashed #0050A6;
      border-radius: 4px;
      color: $color-text-common;
      font-size: 14px;
      .title-address{
        display: flex;
        align-items: center;
        color: #0050A6;
        font-weight: bold;
        margin-bottom: 20px;
        font-size: 16px;
        &:before{
          display: block;
          content: '';
          width: 21px;
          height: 20px;
          margin-right: 8px;
        }
        &.icon-1{
          &:before{
            background: url("../img/icon-address1.svg") 50% 50% no-repeat;
          }
        }
        &.icon-2{
          &:before{
            background: url("../img/icon-pay-3act.svg") 50% 50% no-repeat;
          }
        }
      }
      p{
        margin-bottom: 6px;
        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }
  .lst-product-order-success{
    margin-bottom: 32px;
    .item-product-ss{
      border-bottom: 1px solid #E8E8E8;
      padding: 14px 0;
      .top-item-ss{
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 14px;
        color: #4B4B4B;
        margin-bottom: 12px;
        line-height: 17px;
        .status{
          padding-left: 12px;
          margin-left: 12px;
          border-left: 1px solid #E8E8E8;
        }
      }
      .title-pro{
        font-weight: bold;
        margin-bottom: 8px;
      }
      .btn-detail{
        width: 131px;
        height: 40px;
        background: #F1F2F5;
        border: 1px solid #0050A6;
        color: #0050A6;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        border-radius: 4px;
        cursor: pointer;
        transition: all .3s ease;
        &:hover{
          background-color: #0050a6;
          color: #ffffff;
        }
      }
      .item-product-pay{
        display: flex;
        width: 48%;
        .thumb-item{
          width: 80px;
          height: 96px;
          overflow: hidden;
          margin-right: 20px;
          display: block;
          img{
            max-width: 100%;
          }
        }
        .info-center{
          flex: 1;
          .info-create-product{
            display: flex;
            margin-bottom: 8px;
            .box-left-pay1{
              width: 150px;
              padding-right: 16px;
              margin-right: 16px;
              border-right: 1px solid #E8E8E8 ;
              .price-number{
                text-align: right;
                width: 100px;
                margin-bottom: 8px;
              }
            }
            .box-right-pay1{
              flex: 1;
              span{
                margin-bottom: 8px;
              }
            }
          }
        }
      }
      .box-info-right-ss{
        width: 48%;
        display: flex;
        justify-content: space-between;
      }
    }
  }
  .btn-bottom-create-ss{
    cursor: pointer;
    width: 206px;
    height: 40px;
    border-radius: 4px;
    margin-left: 16px;
    background-color: #E8E8E8;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    color: #4B4B4B;
    &.active{
      background-color: #0050A6;
      color: #ffffff;
    }
    &:hover{
      background-color: #F1F2F5;
      color: #0050a6;
      border: 1px solid #0050a6;
    }
  }
}
//tạo đơn vận chuyển
.border-dash-transport:hover{
  border: 1px dashed #0050A6!important;
}
.border-dash-transport.active{
  border: 1px dashed #0050A6!important;
}
.box-create-order-transport{
  padding: 30px;
  .bar-progress-status{
    padding: 30px 0;
    border-bottom: 1px solid #E8E8E8;
    .item-bar{
      width: calc(100% / 4);
      .text-bottom{
        width: 135px;
      }
      &:nth-child(1){
        padding-right: 0;
        &:before{
          width: 50%;
          left: 50%;
        }
        .text-bottom{
          width: 135px;
        }
      }
      &:last-child{
        padding-left: 0;
        &:before{
          width: 50%;
          right: 50%;
        }
        .text-bottom{
          width: 135px;
        }
      }
    }
  }
  .title{
    font-weight: bold;
    font-size: 24px;
  }
  .form-item-transport{
    .name-sub{
      text-transform: uppercase;
      font-weight: bold;
      font-size: 14px;
      border-bottom: 1px solid #E8E8E8;
      height: 40px;
      display: flex;
      align-items: center;
      margin-bottom: 20px;
    }
    .lst-option-transport{
      display: flex;
      flex-wrap: wrap;
      li{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 311px;
        height: 50px;
        border: 1px solid #E8E8E8;
        border-radius: 4px;
        margin: 0 20px 20px 0;
        padding: 0 12px;
        color: #8C8C8C;
        &:hover{
          background: #F1F2F5;
          border: 1px solid #0050A6;
          color: #4B4B4B;
          font-weight: bold;
        }
        &.active{
          background: #F1F2F5;
          border: 1px solid #0050A6;
          color: #4B4B4B;
          font-weight: bold;
        }
        .custom-control-label{
         padding: 0 10px 0 ;
        }
        &:nth-child(3){
          margin-right: 0;
        }
      }
      .box-radio{
        label{
          height: 16px;
        }
      }
    }
    .lst-transport{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      //margin-bottom: 20px;
      .item-add-transport{
        width: 49%;
        min-height: 121px;
        padding: 12px 16px;
        border: 1px solid #E8E8E8;
        border-radius: 4px;
        color: #8C8C8C;
        font-size: 14px;
        margin-bottom: 20px;
        .top-transport{
          display: flex;
          align-items: center;
          justify-content: space-between;
          .box-radio{
            display: flex;
            align-items: center;
            color: #8C8C8C;
            label{
              width: 16px;
            }
            .custom-checkbox{
              margin-left: 8px;
              .custom-control-label{
                &:before{
                  width: 16px;
                  height: 16px;
                  border-radius: 50%;
                }
                &:after{
                  width: 16px;
                  height: 16px;
                  border-radius: 50%;
                }
              }
              .custom-control-input:checked ~ .custom-control-label::after{
                width: 8px;
                height: 8px;
                background-color: #0050A6;
                border-radius: 50%;
                background-image: none;
                top: 4px;
                left: 4px;
              }
              .custom-control-input:checked ~ .custom-control-label::before{
                background-color: #ffffff!important;
                border: 1px solid #0050A6;
              }
            }
          }
          .box-radio-tick{
            color: transparent;
            .custom-checkbox{
              .custom-control-input:checked ~ .custom-control-label::after{
                width: 16px;
                height: 16px;
                background: url("../img/icon-check-blue.png") 0/100% no-repeat;
                border-radius: 50%;
                top: 0;
                left: 0;
              }
            }
          }
        }
        p{
          margin-bottom: 4px;
          &:last-child{
            margin-bottom: 0;
          }
        }
        label{
          margin-bottom: 0;
          width: 100px;
        }
        &:hover{
          color: #4B4B4B;
          background-color: #F1F2F5;
          border: 1px solid #0050A6;
        }
        &.active{
          color: #4B4B4B;
          background-color: #F1F2F5;
          border: 1px solid #0050A6;
          .top-transport{
            .box-radio-tick{
              color: #8C8C8C;
            }
          }
        }
      }
    }
  }
  .btn-continue{
    width: 140px;
    height: 50px;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin-top: 24px;
  }
  .box-transport-package{
    .top-title{
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #e8e8e8;
      margin-bottom: 20px;
      .title{
        font-weight: bold;
        font-size: 14px;
      }
      .btn-import-file{
        width: 140px;
        height: 40px;
        border-radius: 4px;
        background: #F1F2F5;
        border: 1px solid #0050A6;
        color: #0050A6;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: -1px;
        &:before{
          display: inline-block;
          margin-right: 8px;
          content: '';
          background: url("../img/icon-import-file.svg") 0/100% no-repeat;
          width: 15px;
          height: 19px;
          margin-bottom: -4px;
        }
        &:hover{
          background-color: #0050a6;
          color: #ffffff;
          &:before{
            background: url("../img/icon-import-file-white.svg") 0/100% no-repeat;
          }
        }
      }
    }
    .box-search-tracking{
      .form-group{
        display: flex;
        width: 100%;
        margin-top: 12px;
      }
      .input-tracking{
        height: 50px;
        flex: 1;
        margin-right: 16px;
        border: 1px solid #E8E8E8;
        border-radius: 4px;
        font-size: 14px;
        padding: 0 16px;
        &::placeholder{
          color: #8C8C8C;
        }
      }
      .btn-add-code{
        height: 50px;
        width: 160px;
        background-color: #0050A6;
        color: #ffffff;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        border-radius: 4px;
        cursor: pointer;
        &:hover{
          background-color: #F1F2F5;
          border: 1px solid #0050a6;
          color: #0050a6;
        }
      }
    }
  }
  .accordion{
    .btn-edit{
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 4px;
      background: url("../img/btn-edit.svg") 50% 50% no-repeat #E8E8E8;
      text-indent: -999em;
      &:hover{
        background: url("../img/btn-edit-white.svg") 50% 50% no-repeat #0050A6;
      }
    }
    .btn-delete{
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 4px;
      background: url("../img/btn-delete-gray-small.svg") 50% 50% no-repeat #E8E8E8;
      text-indent: -999em;
      &:hover{
        background: url("../img/btn-delete-white.svg") 50% 50% no-repeat #A91116;
      }
    }
    .btn-save{
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 4px;
      background: url("../img/icon-save.png") 50% 50% no-repeat #0050A6;
      text-indent: -999em;
    }
    .btn-cancel{
      display: inline-block;
      width: 30px;
      height: 30px;
      border-radius: 4px;
      background: url("../img/icon-cancel.png") 50% 50% no-repeat #A91116;
      text-indent: -999em;
    }
    .card{
      margin-bottom: 24px;

      border: 1px solid #E8E8E8;
      border-radius: 4px;
      overflow: hidden;
      &:hover, &.active{
        border: 1px solid #0050A6;
        &:not(:first-of-type) .card-header:first-child{
          border-bottom: 1px solid #0050A6;
        }
        &:not(:first-of-type):not(:last-of-type){
          border-bottom: 1px solid #0050A6;
        }
        .card-header{
          border-bottom: 1px solid #0050A6;
        }
      }

    }
    .card:not(:first-of-type) .card-header:first-child{
      border-radius: 4px;
    }
    .card:not(:first-of-type):not(:last-of-type){
      border-bottom: 1px solid #E8E8E8;
      border-radius: 4px;
    }
    .card-header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #ffffff;
      border-bottom: 1px solid #E8E8E8;
      border-radius: 4px;
      margin-bottom: -1px;
      .btn-link{
        background-color: #E8E8E8;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        position: relative;
        span{
          display: block;
          text-indent: -999em;
          background: url("../img/icon-arrowdown.png")0/100% no-repeat;
          width: 9px;
          height: 6px;
          position: absolute;
          top: 50%;
          margin-top: -3px;
          left: 50%;
          margin-left: -5px;
        }
        &:hover{
          background-color: #0050A6;
          span{
            background: url("../img/icon-arrowdown-white.png")0/100% no-repeat;
          }
        }
      }
      button[aria-expanded="true"] {
        transform: rotate(180deg);
      }
      .box-left-header-tracking{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-weight: bold;
        .info-header-tracking{
          display: flex;
          align-items: center;
          .box-control-right{
            margin: 0 8px;
            button{
              margin: 0 4px;
            }
          }
          .name{
            flex: 1;
          }
          span{
            display: inline-block;
            margin-left: 20px;
          }
        }
      }
    }
    .box-item-packing{
      border: 1px solid #E8E8E8;
      border-radius: 4px;
      margin-bottom: 20px;
      &.box-new-tracking{
        .top-tracking{
          height: 60px;
          border-bottom: none;
        }
      }
      &:last-child{
        margin-bottom: 0;
      }
      .top-tracking{
        border-bottom: 1px solid #E8E8E8;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px;
        font-weight: bold;
        height: 50px;
        .info-packing{
          color: #8C8C8C;
          display: flex;
          align-items: center;
          span{
            display: inline-block;
            margin-left:44px;
          }
          .btn-edit{
            margin-left: 130px;
          }
        }
        .info-packing-input{
          display: flex;
          align-items: center;
          color: #8C8C8C;
          font-size: 14px;
          .btn-add-packing{
            height: 30px;
            width: 132px;
            background-color: #E8E8E8;
            border-radius: 4px;
            color: #8C8C8C;
            text-transform: uppercase;
            font-weight: bold;
            font-size: 12px;
            &:hover{
              border: 1px solid #0050A6;
              color: #0050A6;
              background-color: #F1F2F5;
            }
          }
          .form-group{
            display: flex;
            align-items: center;
            margin-right: 24px;
            margin-bottom: 0;
            label{
              margin-bottom: 0;
              text-transform: uppercase;
              margin-right: 8px;
              line-height: 1;
            }
            input{
              color: #8C8C8C;
              font-size: 14px;
              width: 30px;
              height: 30px;
              border: 1px solid #E8E8E8;
              border-radius: 4px;
              text-align: center;
              margin: 0 4px;
              padding: 0;
              &::placeholder{
                color: #8C8C8C;
              }
              &.weight-packing{
                width: 100px;
                padding: 0 10px;
              }
            }
          }
        }
      }
      .table{
        margin-bottom: 0;
        .btn-add{
          width: 72px;
          height: 30px;
          background-color: #E8E8E8;
          text-transform: uppercase;
          border-radius: 4px;
          color: #8C8C8C;
          font-weight: bold;
          font-size: 14px;
          margin: 0 8px;
          &:hover{
            border: 1px solid #0050A6;
            color: #0050A6;
            background-color: #F1F2F5;
          }
        }
        .btn-upload{
          width: 80px;
          height: 30px;
          background-color: #F1F2F5;
          border: 1px solid #0050A6;
          color: #0050A6;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 14px;
          border-radius: 4px;
          &:hover{
            background-color: #0050a6;
            color: #ffffff;
          }
        }
        .form-group{
          margin-bottom: 0;
          height: 30px;
          width: 100%;
          padding: 0 6px;
          &.box-option-product{
            width: 120px;
          }
          .form-control{
            height: 30px;
            border: 1px solid #E8E8E8;
            border-radius: 4px;
            font-size: 14px;
            font-weight: bold;
            //color: #8C8C8C;
            &::placeholder{
              color: #8C8C8C;
            }
          }
          select{
            color: #4B4B4B;
          }
          .select-selected{
            font-weight: bold;
          }
        }
        td{
          height: 50px;
          padding: 0 8px;
          vertical-align: middle;
          border: none;
          span{
            display: block;
            padding: 0 8px;
          }
          &:last-child{
            width: 98px;
          }
          &:nth-last-child(2){
            width: 96px;

          }
          &:nth-last-child(3){
            width: 96px;
          }
          &:nth-last-child(4){
            width: 108px;
          }
          &:nth-last-child(5){
            width: 98px;
          }
          &:nth-last-child(4){
            width: 148px;
          }
        }
      }
    }

  }
  .box-gtgt{
    h4{
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      border-bottom: 1px solid #E8E8E8;
      padding: 12px 0;
    }
    .form-group{
      display: flex;
      align-items: center;
      justify-content: space-between;
      .form-control{
        height: 50px;
        border: 1px solid #E8E8E8;
        border-radius: 4px;
        padding: 0 16px;
        position: relative;
      }
      .box-select{
        position: relative;
        flex: 1;
        &:after{
          display: block;
          content: '';
          background: url("../img/arr-select.svg") 0/100% no-repeat;
          width: 13px;
          height: 7px;
          position: absolute;
          top: 50%;
          margin-top: -3px;
          right: 12px;
        }
      }
      select{
        -webkit-appearance: none;
      }
      .input-gtgt{
        width: 160px;
        margin: 0 20px;
      }
      button{
        width: 50px;
        height: 50px;
        border-radius: 4px;
        padding: 0;
        background-color: #F1F2F5;
        display: flex;
        align-items: center;
        justify-content: center;
        &:before{
          display: block;
          content: '';
          width: 16px;
          height: 18px;
        }
        &.btn-delete{
          &:before{
            background: url("../img/btn-delete-gray.svg") 0/100% no-repeat ;
          }
        }
        &.btn-add{
          &:before{
            background: url("../img/icon-add-blue.png") 0/100% no-repeat;
          }

        }
        &:hover{
          background-color: #A91116;
          &.btn-delete{
            &:before{
              background: url("../img/btn-delete-white.svg") 0/100% no-repeat;
            }
          }
          &.btn-add{
            background-color: #0050A6;
            &:before{
              background: url("../img/icon-add-white.png") 0/100% no-repeat;
            }
          }
        }
      }

    }
  }
}
//update tao don van chyenn collaspe
.lst-detail-transport{
  .table{
    th, td{
      border: 1px solid #E8E8E8;
      height: 40px;
      padding: 0 6px;
      font-size: 14px;
      vertical-align: middle;
      text-align: center;
    }
  }
}
.box-info-transport-ss{
  border-top: 1px solid #E8E8E8;
  padding-top: 20px;
  .name-title{
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 20px;
  }
  .box-address{
    .item-address{
      background-color: #ffffff;
      border: 1px dashed #E8E8E8;
    }
  }
  .table{
    thead{
      background-color: #F1F2F5;
      border-bottom: 1px solid #E8E8E8;
    }
    th, td{
      height: 50px;
      border: none;
      padding: 0 6px;
      vertical-align: middle;
      &:nth-child(3),  &:nth-child(4),  &:nth-child(5){
        text-align: center;
      }
    }
    th{
      &:first-child{
        width: 70px;
        text-align: center;
      }
    }
    tbody{
      tr{
        &:last-child{
          background-color: #F1F2F5;
          border-radius: 4px;
          color: #A91116;
          font-size: 16px;
          font-weight: bold;
        }
        &:nth-last-child(4){
          td{
            border-top: 1px solid #E8E8E8;
          }
        }
        &:last-child, &:nth-last-child(2), &:nth-last-child(3), &:nth-last-child(4){
          td{
            &:first-child{
              padding-left: 76px;
            }
            &:last-child{
              text-align: right;
              padding-right: 45px;
              font-weight: bold;
            }
          }
        }
      }
    }

  }
}

.list-order-transport-2{
  table{
    thead{
      background-color: #F1F2F5!important;
      th{
        font-size: 13px;
      }
    }
    th,td{
      padding: 0 4px!important;
      min-width: 50px;
      &.td-p-16{
        padding: 0 16px!important;
      }
    }
    .col-note{
      width: 355px;
    }
    .col1{
      width: 142px;
    }
    .col2{
      width: 77px;
    }
    .col3{
      width: 136px;
    }
    .col4{
      width: 87px;
    }
    .col5{
      width: 82px;
    }
    .col7{
      width: 68px;
    }
    .col8{
      width: 68px;
    }
    .col12{
      width: 86px;
    }
    tr{
      height: 40px;
    }
  }
  .thumb-product{
    display: block;
    max-width: 40px;
    max-height: 40px;
    margin: 0 auto;
    overflow: hidden;
    img{
      max-width: 100%;
    }
  }
}