
$bg-color: #F1F2F5;
$color1: #ffffff;
$color2: #0050A6;
$color3: #e8e8e8;
$color-text-common: #4B4B4B;
$font-size-page: 14px;
.modal-pcs{
  font-family: 'Lato', sans-serif;
  color: $color-text-common;
  .close{
    width: 30px;
    height: 30px;
    background-color: #8C8C8C;
    border-radius: 50%;
    color: #ffffff;
    font-weight: normal;
    position: absolute;
    right: -5px;
    top: -5px;
    opacity: 1;
    &:focus{
      outline: none;
    }
    &:hover{
      span{
        color: #ffffff;
      }
    }
  }
  .modal-dialog{
    min-height: 500px;
    height: auto;
    width: 1334px;
    max-width: 100%;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: (0px 0px 6px 3px rgba(158, 157, 157, 0.749));
  }
  .modal-content{
    border: none;
    padding: 20px 36px;
    height: 100%;
    .name-title{
      padding: 0;
      color: $color-text-common;
      font-size: 20px;
      font-weight: bold;
    }
    .main-product{
      display: flex;
      justify-content: space-between;
      height: 100%;
      .box-info-product{
        display: flex;
        justify-content: space-between;
        height: 100%;
        .box-slide{
          width: 348px;
          height: 100%;
          margin-right: 56px;
          .swiper-container {
            width: 100%;
            height: 300px;
            margin-left: auto;
            margin-right: auto;
          }
          .swiper-slide {
            background-size: cover;
            background-position: center;
          }
          .slider-for {
            width: 100%;
            height: 260px;
            margin-top: 24px;
            margin-bottom: 24px;
            display: flex;
            align-items: flex-end;
            overflow: hidden;
            span{
              width: 292px;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              overflow: hidden;
              margin: 0 auto;
              img{
                max-width: 100%;
              }
            }
            .swiper-button-prev, .swiper-button-next{
              background-image: none;
            }
          }
          .slider-nav {
            height: 63px;
            box-sizing: border-box;
            padding:0;

          }
          .slider-nav .swiper-slide {
            width: 63px;
            overflow: hidden;
            height: 63px;
            opacity: 1;
            border-radius: 8px;
            border: 1px solid #E8E8E8;
            padding: 5px;
            margin-right: 8px;
            span{
              display: flex;
              align-items: center;
              justify-content: center;
              width: 100%;
              height: 100%;
              overflow: hidden;
            }
            img{
              width: 100%;
            }
          }
          .slider-nav .slick-current {
            opacity: 1;
            border: 1px solid #0050A6;
            box-shadow: (1px 1px 2px rgba(158, 157, 157, 0.749));
          }
        }
        .info-slide{
          width: 386px;
          .name-product{
            font-weight: bold;
            font-size: 18px;
            color: $color-text-common;
          }
          .origin-product{
            display: flex;
            align-items: center;
            margin: 10px 0;
            font-size: 16px;
            .country{
              color: #0050A6;
              display: inline-block;
              margin-left: 5px;
            }
            .price{
              color: #A91116;
              display: inline-block;
              margin-left: 5px;
            }
          }
          .title-attributes{
            display: block;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 16px;
          }
          .box-size-product{
            padding: 24px 0 16px;
            border-top: 1px solid #E8E8E8;
            border-bottom: 1px solid #E8E8E8;
            .lst-size{
              display: flex;
              flex-wrap: wrap;
              .btn-size{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 30px;
                height: 30px;
                border-radius: 4px;
                margin-right: 8px;
                margin-bottom: 8px;
                border: 1px solid #e8e8e8;
                &.active, &:hover{
                  border: 1px solid #0050A6;
                  box-shadow: (1px 1px 2px rgba(158, 157, 157, 0.749));
                }
              }
            }
          }
          .box-color-product{
            padding: 24px 0;
            .lst-color{
              display: flex;
              flex-wrap: wrap;
              .btn-color{
                width: 68px;
                height: 68px;
                border-radius: 4px;
                border: 1px solid #E8E8E8;
                margin: 0 8px 8px 0;
                padding: 5px;
                &:hover, &.active{
                  border: 1px solid #0050A6;
                  box-shadow: (1px 1px 2px rgba(158, 157, 157, 0.749));
                }
                span{
                  display: block;
                  width: 100%;
                  height: 100%;
                  overflow: hidden;
                  img{
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
      .box-detail-product{
        width: 426px;
        textarea{
          width: 100%;
          border: 1px solid #E8E8E8;
          height: 110px;
          padding: 5px 8px;
          &:focus{
            outline: none;
          }
        }
        .top-1{
          display: flex;
          justify-content: space-between;
          .form-group{
            &:nth-child(1){
              width: 86px;
            }
            &:nth-child(2){
              width: 130px;
            }
            &:nth-child(3){
              width: 178px;
            }
          }

        }
        .top-2{
          display: flex;
          justify-content: space-between;
          .form-group{
            width: 205px;
          }
        }
        .top-3{
          .form-group{
            display: flex;
            justify-content: space-between;
            select{
              width: 294px;
            }
            input{
              width: 86px;
            }
            button{
              width: 30px;
              height: 30px;
              border: none;
              border-radius: 4px;
              &:focus{
                outline: none;
              }
              &.btn-delete{
                background: url("../img/btn-delete-red.svg") 50% 50% no-repeat #F1F2F5;
                &:hover{
                  background: url("../img/btn-delete-white.svg") 50% 50% no-repeat #A91116;
                }
              }
              &.btn-add{
                background: url("../img/btn-add-blue.svg") 50% 50% no-repeat #F1F2F5;
                &:hover{
                  background: url("../img/btn-add-white.svg") 50% 50% no-repeat #0050A6;
                }
              }
            }
          }
        }
        .btn-add-cart{
          background-color: $color2;
          width: 230px;
          height: 40px;
          border-radius: 4px;
          color: $color1;
          font-size: 14px;
          font-weight: bold;
          text-transform: uppercase;
          transition: all .3s ease-in;
          border: 1px solid $color2;
          &:hover{
            background-color: #F1F2F5;
            color: $color2;

          }
        }
        .box-support{
          background-color: #F1F2F5;
          height: 96px;
          border-radius: 4px;
          padding: 16px;
          font-size: 14px;
          font-weight: bold;
          color: $color-text-common;
          .lst-contact{
            li{
              a{
                display: flex;
                align-items: center;
                &:before{
                  display: inline-block;
                  content: '';
                  width: 16px;
                  height: 16px;
                  margin-right: 12px;
                }
                &.telephone{
                  &:before{
                    background: url("../img/icon-telephone.svg") 50% 50% no-repeat;
                  }
                }
                &.mail-support{
                  &:before{
                    background: url("../img/icon-mail.svg") 50% 50% no-repeat;
                  }
                }
              }
            }
          }
          .lst-link-support{
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            a{
              color: $color2;
              font-size: 11px;
              font-weight: 500;
              line-height: 16px;
            }
          }
        }
      }
      //  box-list-detail-product
      .box-list-detail-product{
        label{
          font-size: 14px;
        }
        .icon-note{
          position: relative;
          &:after{
            display: block;
            content: '*';
            color: #A91116;
            font-size: 14px;
            position: absolute;
            right: -10px;
            top: -1px;
          }
        }
        input{
          width: 100%;
          font-size: 14px;
          &::placeholder{
            color: #8C8C8C;
          }
        }
        select{
          -webkit-appearance: none;
          -moz-appearance: none;
          background: url("../img/arr-select.svg") no-repeat center right 8px;
          &:after{
            display: block;
            content: "abc";
          }
        }
        .form-group{
          margin-bottom: 16px;
        }
        .form-control{
          border: 1px solid #e8e8e8;
          padding: 5px 8px;
          height: 30px;
          font-size: 14px;
        }
      }
      //  box-list-detail-product
      .box-left-info1{
        width: 800px;
        padding-top: 20px;
        .box-upload{
          display: flex;
          .btn-upload-images{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 160px;
            height: 40px;
            background-color: #F1F2F5;
            border: 1px solid #0050A6;
            border-radius: 8px;
            margin: 0 40px 0 16px;
            text-transform: uppercase;
            color: #0050A6;
            font-size: 14px;
            font-weight: bold;
            &:before{
              content: '';
              display: block;
              background: url("../img/icon-upload.svg") 0/100% no-repeat;
              width: 14px;
              height: 14px;
              margin-right: 8px;
            }
            &:hover{
              background-color: #0050a6;
              color: #ffffff;
              &:before{
                background: url("../img/icon-upload-white.svg") 0/100% no-repeat;
              }
            }
          }
          .lst-images{
            display: flex;
            li{
              width: 100px;
              height: 100px;
              border: 1px solid #E8E8E8;
              border-radius: 4px;
              padding: 15px;
              margin-right: 16px;
              span{
                display: block;
                width: 100%;
                height: 100%;
                overflow: hidden;
                img{
                  width: 100%;
                }
              }
            }
          }
        }
        .form-control{
          height: 40px;
        }
      }
    }
    .modal-recommend{
      .box-info-product{
        width: 100%;
        .box-slide{
          width: 512px;
          .slider-for{
            span{
              width: 448px;
              height: 100%;
            }
          }
          .slider-nav{
            padding: 0 36px;
            height: 80px;
            .swiper-slide{
              width: 80px;
              height: 80px;
            }
          }
          .slick-prev{
            left: 10px;
          }
          .slick-next{
            right: 10px;
          }
        }
        .info-slide{
          flex: 1;
        }
      }
    }
  }
  .slick-next:before, .slick-prev:before{
    color: #0050a6;
  }
  .slick-track{
    display: flex;
    align-items: center;
  }
  .list-feature-product{
    margin: 20px 0;
    .item-feature{
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      font-size: 16px;
      label{
        display: inline-block;
        font-weight: bold;
        width: 100px;
      }
      span{
        display: block;
        margin-left: 20px;
      }
    }
  }
  .btn-bottom-feature{
    display: flex;
    align-items: center;
    padding: 0 50px;
    border-radius: 4px;
    background-color: #E8E8E8;
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 14px;
    color: #8C8C8C;
    font-weight: bold;
    height: 40px;
    border: 1px solid #E8E8E8;
    &.active,{
      background-color: #0050A6;
      color: #ffffff;
      border: 1px solid #0050a6;
    }
    &:hover{
      background-color: #F1F2F5;
      color: #0050a6;
      border: 1px solid #0050a6;
    }
  }

}
.modal-note{
  font-family: 'Lato', sans-serif;
  color: $color-text-common;
  padding: 0;
  overflow: visible;
  .close{
    border-radius: 4px;
    width: 24px;
    height: 24px;
    top: 18px;
    right: 18px;
    background-color: #8C8C8C;
    color: #ffffff;
    font-weight: normal;
    position: absolute;
    opacity: 1;
    &:focus{
      outline: none;
    }
    &:hover{
      span{
        color: #ffffff;
      }
    }
  }
  .modal-dialog{
    min-height: 500px;
    height: auto;
    width: 1680px;
    max-width: 96%;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: (0px 0px 6px 3px rgba(158, 157, 157, 0.749));
  }
  .modal-content{
    border-radius: 0;
    border: none;
    max-height: 95vh;
  }

  .title-note{
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #E8E8E8;
    color: #4B4B4B;
    font-size: 24px;
    font-weight: bold;
    padding: 0 20px;
  }
  .box-info-note{
    padding: 20px;
    .info-account{
      margin-bottom: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 40px;
      .left-info-account{
        display: flex;
        align-items: center;
        height: 100%;
        width: 810px;
        background-color: #F1F2F5;
        border-bottom: 1px solid #E8E8E8;
        .text-label{
          width: 190px;
          padding: 0 20px;
        }
        .box-detail-account{
          border-radius: 4px;
          border: 1px solid #E8E8E8;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex: 1;
          padding: 0 20px;
          margin-bottom: -1px;
        }
      }
      .lst-social-info{
        display: flex;
        align-items: center;
        a{
          display: block;
          width: 20px;
          height: 20px;
          margin-left: 16px;
        }
        .icon-phone{
          background: url("../img/icon-phone-p.png") 0/100% no-repeat;
        }
        .icon-zalo{
          background: url("../img/icon-zalo-p.png") 0/100% no-repeat;
        }
        .icon-sky{
          background: url("../img/icon-skype-p.png") 0/100% no-repeat;
        }
        .icon-mess{
          background: url("../img/icon-mess-p.png") 0/100% no-repeat;
        }
      }
      .right-control{
        display: flex;
        button{
          height: 40px;
          padding: 0 50px;
          background-color: #F1F2F5;
          border-radius: 4px;
          color: #4B4B4B;
          text-transform: uppercase;
          margin-left: 20px;
          display: flex;
          align-items: center;
          font-weight: bold;
          .icon-note{
            display: block;
            width: 22px;
            height: 16px;
            margin-right: 16px;
          }
          .icon-export{
            background: url("../img/icon-export-gray.svg") 50% 50% no-repeat;
          }
          .icon-print{
            background: url("../img/icon-print-gray.svg") 50% 50% no-repeat;
          }
          &:hover, &.active{
            background-color: #0050A6;
            color: #ffffff;
            .icon-export{
              background: url("../img/icon-export-white.svg") 50% 50% no-repeat;
            }
            .icon-print{
              background: url("../img/icon-print-white.svg") 50% 50% no-repeat;
            }
          }
        }
      }
    }
    .box-info-transport{
      display: flex;
      justify-content: space-between;
      padding: 20px 0;
      border-top: 1px solid #E8E8E8;
      border-bottom: 1px solid #E8E8E8;
      .item-transport{
        width: 49%;
        h4{
          font-weight: bold;
          font-size: 18px;
          color: #4B4B4B;
          margin-bottom: 20px;
        }
        .detail-transport{
          border: 1px solid #E8E8E8;
          border-radius: 4px;
          .detail-item{
            display: flex;
            align-items: center;
            border-bottom: 1px solid #E8E8E8;
            &:nth-child(odd){
              background-color: #F1F2F5;
            }
            &:last-child{
              border-bottom: none;
            }
            .label-item{
              display: flex;
              align-items: center;
              width: 190px;
              padding: 9px 20px;
              border-right: 1px solid #E8E8E8;
            }
            .content-item{
              flex: 1;
              padding: 9px 20px;
              &.cod{
                background-color: #FBD5D6;
                color: #A91116;
              }
            }
          }
        }
      }
    }
  }
  .box-export-table{
    padding: 0 20px 20px;
    max-height: calc(100% - 365px);
    overflow: auto;
    .table-detail-export{
      text-align: center;
      vertical-align: middle;
      .table{
        width: 1640px;
      }
      .text-blue{
        color: $color2;
      }
      .price-total{
        color: #A91116;
      }
      .bg-gray{
        background-color: $bg-color;
      }
      .img-product{
        display: block;
        width: 55px;
        height: 55px;
        overflow: hidden;
        img{
          max-width: 100%;
        }
      }
      td, th{
        border: 1px solid $color3;
        padding: 9px 3px;
        vertical-align: middle;
        min-width: 58px;
        &.border-dash-top{
          border-top: 1px dashed $color3!important;
          border-bottom: 0 transparent;
        }
        &:nth-child(2){
          width: 100px;
        }
        &:nth-child(3), &:nth-child(4) {
          width: 116px;
        }
        &:nth-child(5) {
          width: 124px;
        }
        &:last-child, &:nth-last-child(2){
          width: 96px;
        }
        &:nth-last-child(3),{
          width: 80px;
        }
        &:nth-last-child(4){
          width: 94px;
        }
        &:nth-last-child(7){
          width: 106px;
        }

      }
      thead{
        background-color: $color3;
        th{
          border: 1px solid $color1;
          height: 50px;
          font-size: 12px;
          padding: 0;
        }
      }
      .total-exp{
        padding: 8px 10px;
      }
      .row-bottom-price{
        .bg-total-exp{
          border: 1px solid #E8E8E8;
        }
      }
      .bg-total-exp{
        background-color: #F1F2F5;
        color: #A91116;
        font-weight: 900;
      }
      .info-table{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        p{
          font-size: 13px;
          color: #8C8C8C;
        }
        .text-code-green{
          color: #238832;
          font-weight: bold;
        }
      }
    }
  }
}

@media only screen and (max-width: 1333px) {
  .modal-pcs{
    .close{
      right: 0;
      top: 0;
    }
    .modal-dialog{
      width: 100%;
      min-width: 1024px;
      overflow: auto;
    }
    .modal-content{
      padding:15px;
      .main-product{
        .box-info-product{
          margin-right: 3%;
          width: 60%;
          .box-slide{
            width: 46%;
            margin-right: 3%;
          }
          .info-slide{
            width: 49%;
          }
        }
        .box-detail-product{
          width: 37%;
          .top-1{
            .form-group{
              &:nth-child(1){
                width: 20%;
              }
              &:nth-child(2){
                width: 33%;
              }
              &:nth-child(3){
                width: 41%;
              }
            }
          }
          .top-2{
            .form-group{
              width: 48%;
            }
          }
          .top-3{
            .form-group{
              select{
                width: 65%;
              }
              input{
                width: 22%;
              }
            }
          }
          .box-support{
            height: auto;
          }
        }
        .box-left-info1{
          max-width: 60%;
        }

      }
      .modal-recommend{
        min-width: 1024px;
        //overflow: auto;
        .box-info-product{
          width: 100%;
        }
      }

    }
  }
}