.box-product-recommend{
  padding: 20px 10px;
  background-color: #ffffff;
  border-radius: 4px;
  .title{
    font-size: 24px;
    font-weight: bold;
    color: #4B4B4B;
    margin-bottom: 20px;
    padding: 0 10px;
  }
  .slide-recommend{
    padding: 0;
    .slick-slide {
      margin: 0 10px;
    }
    .slick-arrow{
      background-color: #E8E8E8;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 2;
      &.slick-prev{
        left: 0px;
        &:before{
          display: block;
          content: '';
          background: url("../img/btn-prev.png") 0/100% no-repeat;
          width: 6px;
          height: 11px;
        }
      }
      &.slick-next{
        right: 0px;
        &:before{
          display: block;
          content: '';
          background: url("../img/btn-prev.png") 0/100% no-repeat;
          transform: rotate(180deg);
          width: 6px;
          height: 11px;
        }
      }
    }

  }
  .item-recommend{
    border: 1px solid #E8E8E8;
    border-radius: 4px;
    padding: 16px;
    flex-direction: column;
    .box-images{
      width: 100%;
      height: 160px;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      position: relative;
      margin-bottom: 12px;
      img{
        max-width: 100%;
      }
      .name-link{
        display: flex;
        align-items: center;
        padding: 0 15px;
        height: 26px;
        background-color: #F1F2F5;
        color: #8A8A8A;
        font-size: 12px;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 4px;
      }
    }
    .info-product{
      .title-pro{
        font-size: 14px;
        color: #4B4B4B;
        font-weight: normal;
        text-align: left;
        margin-bottom: 12px;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
      .box-price{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .num-price{
          display: block;
          font-weight: bold;
          font-size: 20px;
          line-height: 24px;
          color: #4B4B4B;
        }
        .btn-add-cart{
          display: block;
          background: url("../img/icon-add-cart.svg") 0/100% no-repeat;
          width: 26px;
          height: 26px;
          cursor: pointer;
          &:hover{
            background: url("../img/icon-add-cart-light-blue.svg") 0/100% no-repeat;
          }
        }
      }
    }
    &:hover{
      .info-product{
        .title-pro{
          color: #0050A6;
        }
      }
    }
  }
  .list-recommend{
    display: flex;
    flex-wrap: wrap;
    padding: 0 16px;
    .item-recommend{
      width: 23.8%;
      margin-right: 1.6%;
      margin-bottom: 16px;
      &:nth-child(4n){
        margin-right: 0;
      }
    }
  }
  .btn-more{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background-color: #F1F2F5;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
    color: #4b4b4b;
    text-transform: uppercase;
    &:hover{
      background-color: #0050a6;
      color: #ffffff;
    }
  }
}