//@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "common.scss";
@import "modal-pcs.scss";
@import "create-order.scss";
@import "account.scss";
@import "product-recomment.scss";
$bg-color: #F1F2F5;
$color1: #ffffff;
$color2: #0050A6;
$color3: #e8e8e8;
$color-text-common: #4B4B4B;
$font-size-page: 14px;
.wrapper-pcs{
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  background-color: $bg-color;
  font-family: 'Lato', sans-serif;
  font-size: $font-size-page;
  color: $color-text-common;
  line-height: 1.5;
  .header{
    background-color: $color1;
    .logo{
      display: block;
      background: url("../img/logo-ship.svg") 0/100% no-repeat;
      width: 238px;
      height: 40px;
    }
    .box-menu{
      height: 30px;
      border-right: 1px solid #E8E8E8;
      padding: 0 22px;
      display: flex;
      align-items: center;
      position: relative;
      &:hover{
        color: #0050A6;
      }
      .number{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #A91116;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        color: #ffffff;
        font-size: 7px;
        position: absolute;
        top: 0px;
        right: 17px;
      }
    }
    .hotline{
      &:before{
        content: '';
        display: block;
        background: url("../img/icon-phone.png") 0/100% no-repeat;
        width: 19px;
        height: 18px;
        margin-right: 5px;
      }
    }
    .search{
      &:before{
        content: '';
        display: block;
        background: url("../img/icon-search.png") 0/100% no-repeat;
        width: 23px;
        height: 17px;
        margin-right: 5px;

      }
    }
    .box-lang{
      select{
        -webkit-appearance: none;
        padding: 0 25px 0 0 ;
        border: none;
        cursor: pointer;
        &:focus{
          outline: none;
        }
      }
      &:before{
        content: '';
        display: block;
        background: url("../img/icon-lang.png") 0/100% no-repeat;
        width: 17px;
        height: 16px;
        margin-right: 5px;
      }
      &:after{
        display: block;
        content: '';
        background: url("../img/icon-arrowdown.png") 0/100% no-repeat;
        width: 9px;
        height: 6px;
        margin-left: -15px;
      }
    }
    @mixin popup{
      border-radius: 5px;
      position: absolute;
      top: 80px;
      right: 0;
      z-index: 2;
      background-color: $color1;
      box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.25);
      &:before{
        content: '';
        display: block;
        width: 14px;
        height: 14px;
        background-color: $color1;
        box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.25);
        position: absolute;
        top: -7px;
        right: 25px;
        transform: rotate(45deg);

      }
    }
    .box-cart-outer{
      padding: 25px 0;
      position: relative;
      .box-cart{
        &:before{
          content: '';
          display: block;
          background: url("../img/gio-hang-01.svg") 0/100% no-repeat;
          width: 18px;
          height: 14px;
        }
      }
      &:hover{
        .box-cart-main{
          display: block;
        }
      }
      .box-cart-main{
        display: none;
        width: 375px;
        @include popup;
        &:before{
          background-color: #F1F2F5;
        }
        .number-cart{
          display: flex;
          align-items: center;
          background-color: #F1F2F5;
          height: 40px;
          padding: 0 20px;
          font-weight: 700;
        }
        .main-cart{
          padding: 0 20px;
          .lst-product-cart{
            .item-cart{
              border-bottom: 1px solid #E8E8E8;
              padding: 15px 0;
              &:hover{
                .detail-cart{
                  .name-product{
                    color: #A91116;
                  }
                }
              }
              .thumb-cart{
                display: block;
                width: 46px;
                height: 46px;
                margin-right: 12px;
                img{
                  width: 100%;
                  height: auto;
                  vertical-align: middle;
                }
              }
              .detail-cart{
                width: 177px;
                font-size: 10px;
                line-height: 12px;
                .cart-border{
                  border-right: 1px solid #8C8C8C;
                  margin-right: 5px;
                  padding-right: 5px;
                }
                span{
                  color: #8C8C8C;
                  display: inline-block;
                  margin-right: 5px;
                }
                .name-product{
                  font-size: 12px;
                  line-height: 14px;
                  font-weight: 500;
                  color: $color-text-common;
                  margin-bottom: 8px;
                  display: -webkit-box;
                  -webkit-box-orient: vertical;
                  -webkit-line-clamp: 2;
                  overflow: hidden;
                  .icon{
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    background-color: #E3F8FA;
                    border-radius: 50%;
                    margin-right: 5px;
                    margin-bottom: -3px;
                  }
                  @for $i from 1 through 4 {
                    .icon-cart#{$i} {
                      background: url("../img/Icon-Gio-hang-0" + $i + ".svg")
                      0/100%
                      no-repeat;
                    }
                  }
                }
              }
              .price-cart{
                width: 95px;
                margin-left: 5px;
               display: flex;
                flex-direction: column;
                align-items: flex-end;
                .price{
                  color: #A91116;
                  margin-right: 3px;
                }
                .btn-delete{
                  display: inline-block;
                  background: url("../img/Icon-Gio-hang-06.svg") 0/100% no-repeat;
                  width: 11px;
                  height: 13px;
                  margin-top: 20px;
                }
              }
            }
          }
          .box-total-price{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 16px 0;
            .price-number{
              display: flex;
              align-items: center;
              .number-price{
                color: #A91116;
                margin-left: 5px;
                display: inline-block;
              }
            }
            .btn-pay{
              display: inline-block;
              background-color: #A91116;
              color: #ffffff;
              text-transform: uppercase;
              padding: 12px 21px;
              font-size: 12px;
              font-weight: 700;
              border-radius: 5px;
            }
          }
        }
      }
    }

    .box-notif{
      &:before{
        content: '';
        display: block;
        background: url("../img/icon-notif.png") 0/100% no-repeat;
        width: 18px;
        height: 20px;
      }
    }
    .box-user{
      padding: 25px 37px 25px 13px;
      position: relative;
      &:after{
        display: block;
        content: '';
        background: url("../img/icon-arrowdown.png") 0/100% no-repeat;
        width: 9px;
        height: 6px;
        position: absolute;
        top: 50%;
        margin-top: -3px;
        right: 0;
      }
      .avatar{
        display: block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        overflow: hidden;
        img{
          width: 100%;
          height: auto;
          vertical-align: middle;
        }
      }
        &:hover{
          .box-user-detail{
            display: block;
          }
        }
      .box-user-detail{
        display: none;
        background-color: $color1;
        width: 300px;

        @include popup;
        padding: 24px;
        .top-user{
         margin-bottom: 23px;
          display: flex;
          .avatar{
            display: block;
            width: 62px;
            height: 62px;
            overflow: hidden;
            margin-right: 17px;
            img{
              width: 100%;
              height: auto;
              vertical-align: middle;
            }
          }
          .info-user{
            color: #8C8C8C;
            .username{
              font-weight: 700;
              font-size: 18px;
              color: $color-text-common;
            }
            .btn-edit-user{
              background-color: $color2;
              color: $color1;
              text-transform: uppercase;
              font-weight: 700;
              font-size: 12px;
              padding: 7px 11px;
              margin-top: 12px;
            }
          }
        }
        .list-menu-user{
          border-top: 1px solid $color3;
          li{
            a{
              display: flex;
              align-items: center;
              justify-content: space-between;
              padding: 10px 0;
              .name{
                display: flex;
                align-items: center;
                &:before{
                  content: '';
                  display: block;
                  background-color: $color3;
                  width: 20px;
                  height: 20px;
                  border-radius: 50%;
                  margin-right: 17px;
                }
              }
              @for $i from 1 through 10 {
                .name-#{$i} {
                  &:before{
                    background: url("../img/Icon-Ca-Nhan-0" + $i + ".svg")
                    0/100%
                    no-repeat;
                  }
                }
              }
              .tag-number{
                display: inline-flex;
                align-items: center;
                justify-content: center;
                height: 20px;
                padding: 0 9px;
                min-width: 36px;
                background-color: #A91116;
                color: #ffffff;
                font-size: 8px;
                font-weight: 700;
                border-radius: 5px;
                text-transform: uppercase;
              }
            }
          }
        }
      }
    }
  }
  .main-pcs{
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    .box-left{
      transition: all .5s ease;
      .toggle{
        display: none;
        align-items: center;
        justify-content: center;
       background: url("../img/bg-arrow.svg") 0/100% no-repeat;
        width: 28px;
        height: 100px;
        position: absolute;
        top: 250px;
        right: -30px;
        cursor: pointer;
        &:before{
          display: block;
          content: '';
          background: url("../img/arrow-bar.svg") 0/100% no-repeat;
          width: 11px;
          height: 16px;
        }
        &.active{
          &:before{
            transform: rotate(180deg);
          }
        }
      }
      .box-info-user{
        padding: 20px;
        background-color: $color1;
        border-radius: 5px;
        margin-bottom: 20px;
        width: 100%;
        .item-user{
          border-bottom: 1px solid #E8E8E8;
          padding: 20px 0;
          &:last-child{
            border-bottom: none;
            padding-bottom: 0;
          }
          p{
            margin-bottom: 8px;
            color: #8C8C8C;
          }
          .box-avatar{
            display: block;
            margin: 0 auto;
            width: 90px;
            height: 90px;
            .icon-rank{
              display: block;
              width: 20px;
              height: 20px;
              top: 0;
              right: 2px;
              &.crown{
                background: url("../img/Icon-menu-01.svg") 0/100% no-repeat;
              }
            }
            .avatar{
              display: block;
              width: 100%;
              height: 100%;
              border-radius: 50%;
              overflow: hidden;
              img{
                width: 100%;
                height: auto;
                vertical-align: middle;
              }
            }
          }
          .user-name{
            font-size: 16px;
            font-weight: bold;
            margin: 12px auto;
          }
          .btn-active-user{
            background-color: $color2;
            color: $color1;
            width: 137px;
            height: 24px;
            font-size: 12px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            &:before{
              display: inline-block;
              content: '';
              background: url("../img/icon-check.svg") 0/100% no-repeat;
              width: 13px;
              height: 13px;
              margin-right: 6px;
            }
          }
          .info-rank{
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            &:before{
              content: '';
              display: block;
              background: url("../img/Icon-menu-01.svg") 0/100% no-repeat;
              width: 20px;
              height: 20px;
              margin-right: 8px;
            }
          }
          .info-level{
            display: flex;
            align-items: center;
            justify-content: space-between;
            .point-label{
              display: flex;
              align-items: center;
              &:before{
                content: '';
                display: block;
                background: url("../img/Icon-menu-02.svg") 0/100% no-repeat;
                width: 20px;
                height: 20px;
                margin-right: 8px;
              }
            }
            .number-user{
              display: flex;
              align-items: center;
              font-weight: bold;
              color: $color-text-common;
              &:after{
                display: block;
                content: '';
                background: url("../img/icon-arrowdown.png") 0/100% no-repeat;
                width: 9px;
                height: 6px;
                transform: rotate(-90deg);
                margin-left: 6px;
                margin-top: 3px;
              }
            }
          }
          .box-search{
            display: flex;
            align-items: center;
            background-color: $bg-color;
            height: 50px;
            width: 100%;
            border-radius: 5px;
            padding: 0 16px;
            margin-bottom: 39px;
            .btn-search{
              background: url("../img/search-01.svg") 0/100% no-repeat;
              width: 16px;
              height: 16px;
              margin-right: 12px;
              border: none;
            }
            input{
              border: none;
              background-color: transparent;
              flex: 1;
              height: 100%;
              &:focus{
                outline: none;
              }
              &::placeholder{
                color: #8C8C8C;
              }
            }
          }
          .box-user-action{
            margin-left: -20px;
            margin-right: -20px;
            .menu-action{
              display: flex;
              align-items: center;
              text-transform: uppercase;
              font-size: 16px;
              font-weight: 700;
              padding: 10px 20px;
              &:hover, &.active{
                color: $color2;
                background-color: #E7F2FF;
                border-right: 3px solid #A91116;
              }
              &:before{
                content: '';
                display: inline-block;
                width: 36px;
                height: 36px;
                margin-right: 14px;
              }
              &.icon-1{
                &:before{
                  background: url("../img/Icon-menu-03.svg") 0/100% no-repeat;
                }
                &:hover, &.active{
                  &:before{
                    background: url("../img/Icon-menu-03act.svg") 0/100% no-repeat;
                  }
                }
              }
              &.icon-2{
                &:before{
                  background: url("../img/Icon-menu-04.svg") 0/100% no-repeat;
                }
                &:hover, &.active{
                  &:before{
                    background: url("../img/Icon-menu-04act.svg") 0/100% no-repeat;
                  }
                }
              }
              &.icon-3{
                &:before{
                  background: url("../img/Icon-menu-06.svg") 0/100% no-repeat;
                }
                &:hover, &.active{
                  &:before{
                    background: url("../img/Icon-menu-06act.svg") 0/100% no-repeat;
                  }
                }
              }
              &.icon-4{
                &:before{
                  background: url("../img/Icon-menu-07.svg") 0/100% no-repeat;
                }
                &:hover, &.active{
                  &:before{
                    background: url("../img/Icon-menu-07act.svg") 0/100% no-repeat;
                  }
                }
              }
              &.icon-5{
                &:before{
                  background: url("../img/icon-menu-5.svg") 0/100% no-repeat;
                }
                &:hover, &.active{
                  &:before{
                    background: url("../img/icon-menu-5act.svg") 0/100% no-repeat;
                  }
                }
              }
              &.icon-6{
                &:before{
                  background: url("../img/icon-menu-6.svg") 0/100% no-repeat;
                }
                &:hover, &.active{
                  &:before{
                    background: url("../img/icon-menu-6act.svg") 0/100% no-repeat;
                  }
                }
              }
              &.icon-7{
                &:before{
                  background: url("../img/icon-menu-7.svg") 0/100% no-repeat;
                }
                &:hover, &.active{
                  &:before{
                    background: url("../img/icon-menu-7act.svg") 0/100% no-repeat;
                  }
                }
              }
            }
            .lst-order-menu{
              padding: 0 20px;
              li{
                a{
                  display: flex;
                  align-items: center;
                  padding: 15px 16px 10px;
                  &:before{
                    display: inline-block;
                    content: '';
                    background: url("../img/Icon-menu-05.svg") 0/100% no-repeat;
                    width: 12px;
                    height: 16px;
                    margin-right: 11px;
                    margin-top: -3px;
                  }
                }
                &:hover{
                  a{
                    &:before{
                      background: url("../img/Icon-menu-05-act.svg") 0/100% no-repeat;
                    }
                  }
                }
              }
            }
          }
        }
      }
      .box-rate{
        border-radius: 5px;
        background-color: $color1;
        .rate{
          display: flex;
          align-items: center;
          justify-content: space-around;
          height: 40px;
          padding: 0 20px;
          .icon-star{
            display: inline-block;
            background: url("../img/icon-star.png") 0/100% no-repeat;
            width: 23px;
            height: 20px;
          }
        }
      }
    }
    .box-main{
      .title-result{
        display: block;
        text-transform: uppercase;
        font-size: 24px;
        font-weight: bold;
        color: #A91116;
      }

      .box-top-main{
        margin-bottom: 22px;
        width: 100%;

        .slide-top{
          .slick-arrow{
            background-color: #E8E8E8;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 2;
            &.slick-prev{
              left: -10px;
              &:before{
                display: block;
                content: '';
                background: url("../img/btn-prev.png") 0/100% no-repeat;
                width: 6px;
                height: 11px;
              }
            }
            &.slick-next{
              right: -10px;
              &:before{
                display: block;
                content: '';
                background: url("../img/btn-prev.png") 0/100% no-repeat;
                transform: rotate(180deg);
                width: 6px;
                height: 11px;
              }
            }
          }
          .swiper-slide{
            background-color: $color2;
            height: 192px;
            padding: 20px;
            border-radius: 5px;
            margin-right: 16px;
            display: flex!important;
            &:last-child{
              margin-right: 0;
            }
            .label-info{
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              color: #ffffff;
              font-size: 16px;
              font-weight: 700;
              margin-right: 25px;
              .icon-label{
                display: block;
                width: 88px;
                height: 88px;
                border-radius: 50%;
                background-color: #99b9db;
                margin-bottom: 12px;

                &:before{
                  display: block;
                  content: '';
                  width: 88px;
                  height: 88px;
                }
                &.label1{
                  &:before{
                    background: url("../img/icon-01.svg") 0/100% no-repeat;
                  }
                }
                &.label2{
                  &:before{
                    background: url("../img/icon-02.svg") 0/100% no-repeat;
                  }
                }
                &.label3{
                  &:before{
                    background: url("../img/icon-03.svg") 0/100% no-repeat;
                  }
                }
              }
            }
            .detail-info-block{
              color: #000000;
              flex: 1;
              .item-block{
                border-radius: 5px;
                background-color: #ccdced;
                height: 40px;
                margin-bottom: 16px;
                font-size: 14px;
                display: flex;
                align-items: center;
                padding: 0 10px;
              }
              .btn-control{
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: 47%;
                height: 40px;
                border-radius: 5px;
                border: 1px solid #ffffff;
                color: #ffffff;
                text-transform: uppercase;
                font-size: 11px;
                font-weight: 700;
              }
            }
          }
        }
      }
      .box-detail-main{
        background-color: $color1;
        border-radius: 5px;
        margin-bottom: 32px;
        .tab-menu{
          border-bottom: 1px solid $color3;
          margin-bottom: 32px;
          li{
            a{
              font-weight: 700;
              font-size: 24px;
              padding: 15px 21px;
              border-radius: 5px 5px 0 0;
              height: 68px;
              position: relative;
              &:hover, &.active{
                background-color: $color3;
                color: $color2;
                border-bottom: 2px solid $color2;

              }
              &.tab-result{
                position: relative;
                padding-right: 45px;
                .number-notif{
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  width: 30px;
                  height: 30px;
                  border-radius: 50%;
                  background-color: #A91116;
                  border: 1.5px solid #FFFFFF;
                  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
                  font-weight: bold;
                  font-size: 18px;
                  color: #ffffff;
                  position: absolute;
                  top: 4px;
                  right: 8px;
                }
              }
            }
          }
          .btn-sort{
            display: block;
            background: url("../img/icon-04.svg") 0/100% no-repeat;
            width: 40px;
            height: 40px;
            margin-right: 20px;
            &:hover{
              background: url("../img/icon-04-act.svg") 0/100% no-repeat;
            }
          }

        }
        .box-sort{
          padding: 0 20px;
          .lst-sort{
            overflow: auto;
            white-space: nowrap;
            a{
              display: inline-block;
              text-align: center;
              height: 30px;
              padding: 5px 16px;
              font-weight: 500;
              &:hover, &.active{
                color: $color-text-common;
                background-color: #F1F2F5;
                border-bottom: 1px solid #0050A6;
              }
            }
          }
          .sort-order{
            position: relative;
            min-width: 120px;
            padding: 0 24px 0 8px;
            height: 30px;
            display: flex;
            align-items: center;
            select{
              -webkit-appearance: none;
              cursor: pointer;
              padding: 0 25px 0 0;
              border: none;
              position: relative;
              z-index: 2;
              background-color: transparent;
              &:focus{
                outline: none;
              }
              -webkit-appearance: none;
            }
            &:after{
              display: none;
              content: '';
              background: url(../img/icon-arrowdown.png) 0/100% no-repeat;
              width: 9px;
              height: 6px;
              position: absolute;
              top: 50%;
              margin-top: -3px;
              right: 0;
            }

          }
        }
        .lst-item-order{
          margin-top: 14px;
          padding: 0 20px;
          border-top: 1px solid $color3;
          .item-order{
            margin-bottom: 20px;
            border-bottom: 1px solid $color3;
            .info-status-order{
              padding: 12px 0;
              border-bottom: 1px solid $color3;
              display: flex;
              align-items: center;
              justify-content: space-between;
              .btn-detail{
                  width: 206px;
                height: 40px;
                text-transform: uppercase;
                font-weight: 700;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #E8E8E8;
                padding: 3px 0 0;
                font-size: 14px;

                &:before{
                  display: inline-block;
                  content: '';
                  background: url("../img/icon-05.svg") 0/100% no-repeat;
                  width: 14px;
                  height: 18px;
                  margin-right: 9px;
                  margin-top: -3px;
                }
                &:hover{
                  box-shadow: 2px 2px 2px 0px #e8e8e8;
                  background-color: $bg-color;
                  &:before{
                    background: url("../img/icon-05-blue.svg") 0/100% no-repeat;
                  }
                }
              }
              .btn-cancel{
                background-color: #F1F2F5;
                margin-right: 12px;
                text-transform: uppercase;
                color: #8C8C8C;
                font-weight: 700;
                height: 40px;
                padding: 0 19px;
                display: inline-flex;
                align-items: center;
                font-size: 14px;
                &:hover{
                  background-color: #0050a6;
                  color: #ffffff;
                }
              }
              .info{
                color: #8C8C8C;
                .top-info{
                  font-weight: 700;
                  font-size: 16px;
                  color: $color-text-common;
                  display: flex;
                  align-items: center;
                  .code{
                    color: $color2;
                    display: inline-block;
                    margin-left: 6px;
                  }
                  .status{
                    display: flex;
                    align-items: center;
                    padding: 2px 16px 0;
                    border-radius: 5px;
                    margin-left: 44px;
                    color: #ffffff;
                    font-weight: 500;
                    text-transform: uppercase;
                    font-size: 10px;
                    height: 20px;
                    &.btn-buy{
                      background-color: #A91116;
                    }
                    &.btn-cancel{
                      background-color: #8C8C8C;
                    }
                    &.btn-wait{
                      background-color: #FFB703;
                    }
                    &.btn-success{
                      background-color: #238832;
                    }
                    &.btn-delivery{
                      background-color: #0050A6;
                    }
                    &.btn-wait-pay{
                      background-color:  #219EBC;
                    }
                    &.btn-transport-inner{
                      background-color: #DE6F0E;
                    }
                  }
                }
                p{
                  font-size: 13px;
                  margin-top: 3px;
                  span{
                    display: inline-block;
                    margin-right: 35px;
                  }
                }
              }
            }
            .detail-info-order{
              padding: 11px 16px 11px 8px;
              display: flex;
              color: #8C8C8C;
              .item-detail-product{
                border-right: 1px solid $color3;
                &.address-info{
                  padding: 0 16px;
                  display: flex;
                  flex-direction: column;
                  p{
                    color: $color-text-common;
                    margin-top: 8px;
                  }
                }
                &:nth-child(1){
                  width: 50%;
                }
                &:nth-child(2){
                  width: 20%;
                }
                &:last-child{
                  width: 30%;
                  border-right: none;
                }
                .thumb-product{
                  display: block;
                  width: 70px;
                  overflow: hidden;
                  img{
                    width: 100%;
                    height: auto;
                  }
                }
                .info-product{
                  padding: 0 34px;
                  width: calc( 100% - 70px);
                  h5{
                    color:  $color-text-common;
                    font-size: $font-size-page;
                    font-weight: 700;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 2;
                    overflow: hidden;
                    margin-bottom: 10px;
                  }
                }
                .info-bottom{
                  .detail-info-bottom{
                    display: flex;
                    align-items: center;
                    width: 33%;
                    span{
                      display: inline-block;
                      margin-left: 5px;
                      color: #4B4B4B;
                    }
                  }
                }
                .price-number{
                  color: #b42f33;
                  margin-top: 8px;
                }
              }
            }
          }
          .item-order-home{
            .accordion{
              flex: 1;
              .card{
                border: 1px solid #e8e8e8;
                overflow: hidden;
                border-radius: 0;
                border-top: 0;
                border-bottom: 0;
                &:last-child{
                  .card-header{
                    margin-bottom: -1px;
                  }
                  .card-body{
                    border-bottom: none;
                  }
                }
              }
              .card-header{
                display: flex;
                align-items: center;
                justify-content: space-between;
                background-color: #ffffff;
                border-bottom: 1px solid #E8E8E8;
                height: 50px;
                padding: 0 12px;
                //margin-bottom: -1px;
                .btn-link{
                  background-color: #E8E8E8;
                  width: 20px;
                  height: 20px;
                  border-radius: 50%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  padding: 0;
                  position: relative;
                  span{
                    display: block;
                    text-indent: -999em;
                    background: url("../img/icon-arrowdown.png")0/100% no-repeat;
                    width: 9px;
                    height: 6px;
                    position: absolute;
                    top: 50%;
                    margin-top: -3px;
                    left: 50%;
                    margin-left: -5px;
                  }
                }
                button[aria-expanded="true"] {
                  transform: rotate(180deg);
                }
                .box-left-header-tracking{
                  flex: 1;
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                  color: #4B4B4B;
                  margin-right: 16px;
                  .text-red{
                    color: #A91116;
                  }
                  .info-header-tracking{
                    display: flex;
                    align-items: center;
                    .name{
                      flex: 1;
                    }
                    span{
                      display: inline-block;
                      margin-left: 8px;
                    }
                  }
                }
              }
              .card-body{
                padding: 12px 0;
                border-bottom: 1px solid #E8E8E8;
              }
              .box-item-tracking{
                .table{
                  margin-bottom: 0;
                  td{
                    height: 70px;
                    padding: 0 8px;
                    vertical-align: middle;
                    border: none;
                    color: #4B4B4B;
                    span{
                      display: block;
                      padding: 0 8px;
                    }
                  }
                  .col-images{
                    width: 80px;
                    text-align: center;
                    .img{
                      display: block;
                      width: 60px;
                      height: 60px;
                      margin: 0 auto;
                      overflow: hidden;
                      padding: 0;
                      img{
                        max-width: 100%;
                      }
                    }
                  }
                }
              }

            }
            .detail-info-order{
              padding: 0;
              .item-detail-product{
                padding: 0 12px;
                color: #4B4B4B;
                label{
                  height: 50px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin-bottom: 0;
                  color: #8C8C8C;
                }
                .price-number{
                  font-weight: bold;
                }
                &:nth-last-child(2){
                  width: 126px;
                }
                &:last-child{
                  width: 178px;
                }
              }
            }
          }
        }
        .lst-detail-export{
          margin-top: 14px;
          padding: 0 20px;
          border-top: 1px solid $color3;
          .box-export{
            padding: 20px 0;
            border-bottom: 1px solid $color3;
            .code-export{
              margin-bottom: 4px;
              display: flex;
              align-items: center;
              font-weight: bold;
              font-size: 14px;
              .code{
                display: inline-block;
                min-width: 150px;
                color: $color2;
                margin-left: 5px;
                margin-right: 10px;
              }
              .status{
                display: flex;
                align-items: center;
                height: 20px;
                padding: 2px 16px 0;
                color: $color1;
                text-transform: uppercase;
                font-size: 10px;
                font-weight: 500;
                border-radius: 5px;
                &.delivery{
                  background-color: $color2;
                }
                &.buy{
                  background-color: #A91116;
                }
                &.cancel{
                  background-color: #8C8C8C;
                }
                &.wait{
                  background-color: #FFB703;
                }
                &.success{
                  background-color: #238832;
                }
                &.wait-pay{
                  background-color: #219EBC;
                }
              }
            }
            .info-export-item{
              font-size: 13px;
              color: #8C8C8C;
              display: flex;
              align-items: center;
              justify-content: space-between;
              .btn-control{
                display: inline-flex;
                align-items: center;
                justify-content: center;
                padding: 3px 14px 0;
                height: 40px;
                text-transform: uppercase;
                font-weight: bold;
                margin-left: 16px;
                border-radius: 5px;
                line-height: 1;
                font-size: 14px;
                &.btn-download-price{
                  background-color: $bg-color;
                  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
                  &:before{
                    content: '';
                    display: block;
                    background: url("../img/icon-06.svg") 0/100% no-repeat;
                    width: 20px;
                    height: 20px;
                    margin-right: 10px;
                    margin-top: -3px;
                  }
                  &:hover{
                    background-color: #0050A6;
                    color: #ffffff;
                    &:before{
                      background: url("../img/icon-06-white.svg") 0/100% no-repeat;
                    }
                  }
                }
                &.btn-view-detail{
                  background-color: $color1;
                  border: 1px solid $color3;
                  &:before{
                    content: '';
                    display: block;
                    background: url("../img/icon-07.svg") 0/100% no-repeat;
                    width: 24px;
                    height: 16px;
                    margin-right: 10px;
                    margin-top: -3px;
                  }
                  &:hover{
                    background-color: #0050A6;
                    color: #ffffff;
                    &:before{
                      background: url("../img/icon-07-white.svg") 0/100% no-repeat;
                    }
                  }
                }
              }
            }
            .table-detail-export{
              text-align: center;
              margin-top: 20px;
              vertical-align: middle;
              .text-blue{
                color: $color2;
              }
              .price-total{
                color: #A91116;
              }
              .bg-gray{
                background-color: $bg-color;
              }
              td, th{
                border: 1px solid $color3;
                padding: 9px 8px;
                vertical-align: middle;
                &.border-dash-top{
                  border-top: 1px dashed $color3!important;
                  border-bottom: 0 transparent;
                }
              }
              thead{
                background-color: $color3;
                th{
                  border: 1px solid $color1;
                  height: 50px;
                }
              }
              .total-exp{
                padding: 8px 10px;
              }
              .bg-total-exp{
                background-color: $color3;
                color: #A91116;
                font-weight: 900;
              }
              .info-table{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                p{
                  font-size: 13px;
                  color: #8C8C8C;
                }
                .text-code-green{
                  color: #238832;
                  font-weight: bold;
                }
              }
            }
          }
          .box-info-tracking{
            width: 288px;
            display: flex;
            align-items: center;
            text-align: left;
            .thumb-product{
              display: block;
              width: 78px;
              height: 60px;
              overflow: hidden;
              margin-right: 16px;
              img{
                width: 100%;
                height: auto;
              }
            }
            .detail-tracking{
              flex: 1;
              color: $color-text-common;
              font-weight: 400;
              span{
                color: #8C8C8C;
              }
              .name{
                font-weight: bold;
                color: #0050A6;
              }
            }
          }
          .info-table-2{
            display: flex;
            align-items: center;
            justify-content: space-between;
          }
        }
        .top-complaint{
          height: 60px;
          border-bottom: 1px solid #E8E8E8;
          padding: 0 20px;
          font-weight: bold;
          font-size: 24px;
          display: flex;
          align-items: center;
        }
        .detail-complaint{
          padding: 20px;
          .title{
            font-size: 16px;
            font-weight: bold;
          }
          .lst-detail-complaint{
            label{
              width: 195px;
              span{
                display: inline-block;
                color: #A91116;
              }
            }
            input{
              border: 1px solid #e8e8e8;
              &::placeholder{
                color: #4B4B4B;
              }
            }
            .form-control{
              flex: 1;
              height: 40px;
              padding: 0 20px;
              font-size: 14px;
              color: #4B4B4B;
            }
          }
          .detail-text-complaint{
            width: 100%;
            height: 206px;
            border: 1px solid #e8e8e8;
            font-size: 14px;
            color: #4B4B4B;
            padding: 20px;
          }
          .btn-upload{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 158px;
            height: 40px;
            background-color: #ffffff;
            border: 1px solid #0050a6;
            border-radius: 4px;
            color: #0050a6;
            font-weight: bold;
            font-size: 14px;
            text-transform: uppercase;
            &:before{
              content: '';
              display: inline-block;
              background: url("../img/icon-upload-2.svg") 0/100% no-repeat;
              width: 14px;
              height: 14px;
              margin-right: 8px;
            }
            &:hover{
              background-color: #0050a6;
              color: #ffffff;
              &:before{
                background: url("../img/icon-upload-white.svg") 0/100% no-repeat;
              }
            }
          }
          .lst-upload-images{
            display: flex;
            .lst-images{
              display: flex;
              flex-wrap: wrap;
              margin: 0 36px;
              flex: 1;
              .item-img{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100px;
                height: 100px;
                border: 1px solid #E8E8E8;
                border-radius: 4px;
                margin: 0 12px 24px;
                padding: 15px;
                span{
                  display: block;
                  width: 100%;
                  height: 100%;
                  overflow: hidden;
                  img{
                    width: 100%;
                  }
                }
              }
            }
          }
          .box-control-bottom{
            display: flex;
            justify-content: end;
            button{
              height: 50px;
              padding: 0 25px;
              border-radius: 4px;
              margin-left: 24px;
              text-transform: uppercase;
              font-size: 14px;
              font-weight: bold;
              background-color: #E8E8E8;
              color: #8C8C8C;
              border: 1px solid transparent;
              &:hover{
                background-color: #F1F2F5;
                border: 1px solid #0050a6;
                color: #0050a6;
              }
            }
            .btn-send{
              background-color: #0050a6;
              color: #ffffff;
            }
          }
          .progress-complaint{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 48px;
            .progress-item{
              color: #4B4B4B;
              font-size: 16px;
              font-weight: bold;
              text-transform: uppercase;
              height: 60px;
              display: flex;
              align-items: center;
              justify-content: center;
              .number{
                font-weight: bold;
                font-size: 32px;
                margin-right: 8px;
              }
              &.active{
                color: #ffffff;
              }
            }
            .progress-1{
              background: url("../img/bg-progress1.png") 0/100% no-repeat;
              width: 235px;
              &.active{
                background: url("../img/bg-progress1act.png") 0/100% no-repeat;
              }
            }
            .progress-2{
              background: url("../img/bg-progress2.png") 0/100% no-repeat;
              width: 235px;
              margin: 0 -15px;
              &.active{
                background: url("../img/bg-progress2act.png") 0/100% no-repeat;
              }
            }
            .progress-3{
              background: url("../img/bg-progress3.png") 0/100% no-repeat;
              width: 235px;
              &.active{
                background: url("../img/bg-progress3act.png") 0/100% no-repeat;
              }
            }
          }
          .detail-info-complaint{
            display: flex;
            justify-content: space-between;
            .box-left-detail{
              .item-detail-complaint{
                display: flex;
                align-items: center;
                margin-bottom: 12px;
                label{
                  width: 180px;
                }
                small{
                  color: #8C8C8C;
                  font-size: 14px;
                }
              }
            }
            .box-right-contact{
              width: 355px;
              background-color: #F1F2F5;
              border: 1px solid #E8E8E8;
              border-radius: 4px;
              padding: 20px;
              .item-group-contact{
                margin-bottom: 24px;
                &:last-child{
                  margin-bottom: 0;
                }
                .item-contact{
                  display: flex;
                  font-weight: bold;
                  label{
                    width: 140px;
                    font-weight: normal;
                  }
                  .lst-contact-social{
                    display: flex;
                    li{
                     margin-right: 15px;
                      a{
                        display: block;
                        width: 20px;
                        height: 20px;
                        &.phone{
                          background: url("../img/icon-contact1.png") 0/100% no-repeat;
                        }
                        &.zalo{
                          background: url("../img/icon-contact2.png") 0/100% no-repeat;
                        }
                        &.skype{
                          background: url("../img/icon-contact3.png") 0/100% no-repeat;
                        }
                        &.mess-fb{
                          background: url("../img/icon-contact4.png") 0/100% no-repeat;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
          .box-item-content{
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            padding: 24px 0;
            border-top: 1px solid #E8E8E8;
            border-bottom: 1px solid #E8E8E8;
            margin: 32px 0;
            .title{
              margin-bottom: 8px;
            }
            .detail-content{
              flex: 1;
              margin-right: 94px;
              .title{
                color: #000;
              }
            }
            .box-images-content{
              width: 354px;
              .box-upload-images{
                padding: 12px 0 0;
              }
            }
          }
          .lst-images-2{
            display: flex;
            flex-wrap: wrap;
            margin: 8px 0 0;
            flex: 1;
            .item-img{
              display: flex;
              align-items: center;
              justify-content: center;
              width: 60px;
              height: 60px;
              border: 1px solid #E8E8E8;
              border-radius: 4px;
              margin: 12px 12px 0 0;
              padding: 9px;
              &:nth-child(5n){
                margin-right: 0;
              }
              span{
                display: block;
                width: 100%;
                height: 100%;
                overflow: hidden;
                img{
                  width: 100%;
                }
              }
            }
          }
          .box-comment{
            .lst-comment{
              .item-comment{
                &:nth-child(odd){
                  flex-direction: row-reverse;
                  .detail-comment{
                    margin-left: 0;
                    margin-right: 32px;
                  }
                }
              }
            }
            .item-comment{
              display: flex;
              .avatar-comment{
                display: block;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                overflow: hidden;
                img{
                  width: 100%;
                }
              }
              .detail-comment{
                flex: 1;
                margin-left: 32px;
                border: 1px solid #E8E8E8;
                border-radius: 4px;
                padding: 20px;
                .box-text-comment{
                  display: flex;
                  .type-comment{
                    flex: 1;
                    border: none;
                    font-size: 14px;
                    color: #4B4B4B;
                    margin-right: 12px;
                    &:focus{
                      outline: none;
                    }
                    &::placeholder{
                      color: #8C8C8C;
                    }
                  }
                  .btn-upload{
                    background-color: #E8E8E8;
                    border: 1px solid #E8E8E8;
                    color: #8C8C8C;
                    &:before{
                      background: url("../img/icon-upload-3.svg") 0/100% no-repeat;
                    }
                    &:hover{
                      background-color: #0050a6;
                      color: #ffffff;
                      &:before{
                        background: url("../img/icon-upload-white.svg") 0/100% no-repeat;
                      }
                    }
                  }
                }
              }
            }
            .btn-comment-send{
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: #0050a6;
              border-radius: 4px;
              font-size: 14px;
              width: 354px;
              height: 50px;
              color: #ffffff;
              text-transform: uppercase;
              font-weight: bold;
              border: 1px solid #0050a6;
              &:hover{
                background-color: #F1F2F5;
                color: #0050a6;
              }
            }
          }
        }
        .detail-list-complaint{
          .top-menu{
            border-bottom: 1px solid #e8e8e8;
            margin-bottom: 32px;
            align-items: flex-start;
            .tab-menu{
              border-bottom: 0;
              margin-bottom: 0;
              a{
                border-radius: 4px 4px 0 0;
                height: 50px;
                text-transform: uppercase;
                font-weight: bold;
                padding: 8px 24px 0;
                border: 1px solid transparent;
                border-bottom: 2px solid transparent;
                &.active, &:hover{
                  color: #0050a6;
                  border: 1px solid #E8E8E8;
                  border-bottom: 2px solid #0050A6;
                }
              }
            }
            .sort-order{
              min-width: 136px;
              padding: 0 12px;
              height: 40px;
              color: #8C8C8C;
              .select-selected{
                color: #8C8C8C;
                &:after{
                  background: url("../img/arr-down-8c.png") 50% 50% no-repeat #fff;
                }
              }
            }
          }
          .lst-acc-history{
            .item-acc-history{
              .card{
                margin-bottom: 16px;
                border-radius: 4px;
                &:last-of-type{
                  border-bottom: none;
                }
                &.active{
                  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
                }
                .btn-link{
                  background-color: #E8E8E8;
                  width: 20px;
                  height: 20px;
                  border-radius: 50%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  padding: 0;
                  position: relative;
                  span{
                    display: block;
                    text-indent: -999em;
                    background: url("../img/icon-arrowdown.png")0/100% no-repeat;
                    width: 9px;
                    height: 6px;
                    position: absolute;
                    top: 50%;
                    margin-top: -3px;
                    left: 50%;
                    margin-left: -5px;
                  }
                  &:hover{
                    background-color: #0050A6;
                    span{
                      background: url("../img/icon-arrowdown-white.png")0/100% no-repeat;
                    }
                  }
                }
                button[aria-expanded="true"] {
                  transform: rotate(180deg);
                }
              }
              .date-time{
                margin: 32px 0 20px;
              }
              .item-acc-history-detail{
                border: none;
                border-bottom: 1px solid rgba(0, 0, 0, 0.125);
                margin-bottom: 0;
                background-color: #ffffff;
                padding: 18px 12px 17px;
                .icon-card{
                  &:before{
                    background: url("../img/icon-kn.svg") 0/100% no-repeat;
                    height: 24px;
                  }
                }
                .code{
                  width: 200px;
                }
                .status{
                  width: 170px;
                }
                .price{
                  width: 240px;
                }
                .status-pay{
                  width: 100px;
                  &:before{
                    display: none;
                  }
                }
              }
              .content-left{
                flex: 1;
                .title{
                  margin: 16px 0 8px;
                  font-size: 14px;
                }
                p{
                  color: #8C8C8C;
                }
              }
              .info-right{
                width: 312px;
                margin-left: 50px;
                .lst-group-right{
                  margin-bottom: 12px;
                }
                .btn-view{
                  height: 40px;
                  background-color: #E8E8E8;
                  border-radius: 4px;
                  color: #8C8C8C;
                  text-transform: uppercase;
                  font-weight: bold;
                  width: 100%;
                  &:hover{
                    background-color: #0050a6;
                    color: #ffffff;
                  }
                }
              }
            }
          }
        }
      }
      .nav-menu-detail{
        display: flex;
        font-size: 14px;
        margin-bottom: 24px;
        color: #8C8C8C;
        a{
          color: #8C8C8C;
          display: inline-flex;
          align-items: center;
          &:hover{
            color: $color2;
          }
          &:after{
            content: '';
            display: inline-block;
            background: url("../img/arr-2.png") 0/100% no-repeat;
            width: 9px;
            height: 8px;
            margin: 0 8px;
          }
        }
      }
      .top-detail-product{
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $color3;
        padding: 20px;
        .info-detail-order{
          color: #8C8C8C;
          h4{
            font-size: 16px;
            font-weight: bold;
          }
          .text-code{
            color: $color2;
          }
          p{
            margin-right: 25px;
            &:last-child{
              margin-right: 0;
            }
          }

        }
        .status{
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 21px;
          height: 40px;
          color: #8C8C8C;
          border-radius: 5px;
          font-weight: 700;
          text-transform: uppercase;
          line-height: 40px;
          background-color: #F1F2F5;
          border: 1px solid #E8E8E8;
          &.btn-action-send{
            &:hover{
              background-color: #ffffff;
              border: 1px solid #0050A6;
              color: #0050a6;
            }
          }
          &.status-delivery{
            background-color: #0050A6;
            color: #ffffff;
            border: 1px solid #0050A6;
            &:hover{
              background-color: #ffffff;
              border: 1px solid #0050A6;
              color: #0050a6;
            }
          }
          &.status-success{
            background-color: #238832;
            color: #ffffff;
            border: 1px solid #238832;
          }
          &.status-buy{
            background-color: #A91116;
            color: #ffffff;
            border: 1px solid #A91116;
          }
          &.status-cancel{
            background-color: #8C8C8C;
            color: #ffffff;
            border: 1px solid #8C8C8C;
          }
          &.status-wait{
            background-color: #FFB703;
            color: #ffffff;
            border: 1px solid #FFB703;
          }
          &.status-wait-pay{
            background-color: #219EBC;
            color: #ffffff;
            border: 1px solid #219EBC;
          }
        }
      }
      .main-detail-order{
        padding: 20px 0;
        .box-status-order{
          padding: 0 55px;
        }
        .bar-progress-status{
          padding: 16px;
          margin-bottom: 32px;
          display: flex;
          justify-content: space-between;
          .item-bar{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: calc(100% / 7);
            font-weight: bold;
            position: relative;
            &:before{
              content: '';
              display: block;
              width: 100%;
              height: 1px;
              background-color: $color3;
              position: absolute;
              bottom: 40px;
              left: 0;
            }
            &:nth-child(1){
              &:before{
                width: 50%;
                left: 50%;
              }
            }
            &:last-child{
              &:before{
                width: 50%;
                right: 50%;
              }
            }
            .item-level{
              width: 70px;
              height: 70px;
              background-color: #ffffff;
              border: 8px solid $bg-color;
              border-radius: 50%;
              position: relative;
              margin-bottom: 45px;
              color: #8C8C8C;
              font-weight: bold;
              display: flex;
              align-items: center;
              justify-content: center;

              &:before{
                display: block;
                content: '';
                width: 10px;
                height: 10px;
                background-color: $bg-color;
                transform: rotate(45deg);
                position: absolute;
                bottom: -12px;
                left: 50%;
                margin-left: -5px;
              }
              &:after{
                display: block;
                content: '';
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: $color1;
                border: 3px solid $bg-color;
                position: absolute;
                bottom: -40px;
                left: 50%;
                margin-left: -6px;
              }
              .icon{
                width: 32px;
                height: 24px;
                display: block;
              }
              @for $i from 1 through 7 {
                .icon-#{$i} {
                  background: url("../img/icon-status-" + $i + ".svg")
                  50% 50%
                  no-repeat;
                }
              }
            }
            &.disable{
              .item-level{
                border: 8px solid #9DCDFF;
                &:before{
                  background-color: #9DCDFF;
                }
                &:after{
                  border: 3px solid #9DCDFF;
                }
                @for $i from 1 through 7 {
                  .icon-#{$i} {
                    background: url("../img/icon-status-" + $i + "a.svg")
                    50% 50%
                    no-repeat;
                  }
                }
              }
            }
            &.active{
              color: $color2;
              .item-level{
                border: 8px solid $color2;
                &:before{
                  background-color: $color2;
                }
                &:after{
                  border: 3px solid $color2;
                }
                @for $i from 1 through 7 {
                  .icon-#{$i} {
                    background: url("../img/icon-status-" + $i + "b.svg")
                    50% 50%
                    no-repeat;
                  }
                }
              }
            }
          }

        }
        .bar-progress-detail{
          background-color: $bg-color;
          padding: 30px 37px;
          margin: 0 45px 32px;
          border-radius: 10px;
          display: flex;
          flex-direction: column-reverse;
          .item-bar-column{
            display: flex;
            padding-bottom: 18px;
            position: relative;
            &:before{
              content: '';
              display: block;
              height: 100%;
              width: 1px;
              background-color: #8C8C8C;
              position: absolute;
              top: 0;
              left: 5px;
            }
            &:first-child{
              padding-bottom: 0;
              &:before{
                top: auto;
                bottom: 15px;
              }
            }
            &:last-child{
              &:before{
                top: 15px;
              }
            }
            .date{
              display: flex;
              align-items: center;
              justify-content: center;
              color: #8C8C8C;
              margin-right: 26px;
              &:before{
                display: block;
                content: '';
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: $color1;
                border: 1px solid #8C8C8C;
                margin-right: 15px;
                z-index: 2;
              }
            }
            &.active{
              .date{
                color: #A91116;
                &:before{
                  background-color: #A91116;
                  border: 1px solid #A91116;
                }
              }
            }
          }
        }
        .title-detail-order{
          height: 40px;
          background-color: $bg-color;
          font-weight: 700;
          font-size: 14px;
          padding: 0 20px;
          display: flex;
          align-items: center;
          &:before{
            display: inline-block;
            content: '';
            width: 21px;
            height: 16px;
            margin-right: 10px;
          }
          &.icon-user{
            &:before{
              background: url("../img/icon-08-blue.svg") 50% 50% no-repeat;
            }
          }
          &.icon-delivery{
            &:before{
              background: url("../img/icon-09-act.svg") 50% 50% no-repeat;
            }
          }
          &.icon-payment{
            &:before{
              background: url("../img/icon-pay-3act.svg") 50% 50% no-repeat;
            }
          }
        }
        .bar-info-user{
          display: flex;
          justify-content: space-between;
          align-items: stretch;
          padding: 26px 0;
          margin: 0 26px;
          border-top: 1px solid $color3;
          border-bottom: 1px solid $color3;
          .bar-item-info{
            width: 49%;
            background-color: #FFFFFF;
            border: 1px solid #E8E8E8;
            border-radius: 5px;
            &:nth-child(1){
              .detail-user{
                p{
                  label{
                    width: 85px;
                  }
                }
              }

            }
            .detail-user{
              padding: 18px 20px;
              display: flex;
              flex-flow: column nowrap;
              align-items: stretch;
              justify-content: space-between;
              height: calc(100% - 40px);
              p{
                display: flex;
                label{
                  width: 125px;
                  margin-right: 10px;
                  color: #8C8C8C;
                }
                span{
                  display: inline-block;
                  flex: 1;
                }
              }

              .text-note{
                color: $color2;
              }
              .btn-copy{
                display: inline-block;
                background: url("../img/icon-code.svg") 50% 50% no-repeat #E8E8E8;
                width: 30px;
                height: 20px;
                border-radius: 5px;
                margin-left: 22px;
                &:hover{
                  background: url("../img/icon-code-white.svg") 50% 50% no-repeat #0050a6;
                }
              }
            }
          }
        }
        .box-info-payment{
          margin: 26px 26px 12px 26px;
          border-radius: 5px 5px 0 0;
          .btn-status-payment{
            display: inline-flex;
            align-items: center;
            height: 30px;
            padding: 0 16px;
            background-color: #E8E8E8;
            color: #238832;
            font-size: 14px;
            border-radius: 5px;
            min-width: 110px;
            letter-spacing: 0.014px;
          }
          table{
            th,td{
              padding: 9px 8px;
                &:nth-child(1){
                  min-width: 130px;
                }
              &:nth-child(2){
                width: 200px;
              }
            }
          }
        }
      }
      .box-create-buy{
        background-color: #ffffff;
        padding: 20px;
        border-radius: 4px;
        p{
          line-height: 16px;
        }
        .box-share-link{
          display: flex;
          align-items: center;
          justify-content: space-between;
          height: 50px;
          background-color: #F1F2F5;
          border-radius: 4px;
          margin: 30px auto;
          input{
            flex: 1;
            height: 100%;
            padding: 0 40px 0 20px;
            background-color: transparent;
            border: none;
            color: #8C8C8C;
          }
          .btn-share{
            width: 80px;
            height: 50px;
            border-radius: 8px;
            background: url("../img/icon-cart-white.svg") 50% 50% no-repeat #0050A6;
          }
        }
      }
      .box-option-service{
        padding: 28px 32px;
        background-color: #ffffff;
        .list-service{
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          padding: 32px 116px 0;
          .item-service{
            width: 48%;
            max-width: 381px;
            height: 246px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 1px solid #E8E8E8;
            border-radius: 8px;
            margin-bottom: 32px;
            .icon-service{
              display: block;
              width: 134px;
              height: 101px;
              margin-bottom: 24px;
              &.icon-1{
                background: url("../img/icon-service1.svg") 50% 50% no-repeat;
              }
              &.icon-2{
                background: url("../img/icon-service2.svg") 50% 50% no-repeat;
              }
              &.icon-3{
                background: url("../img/icon-service3.svg") 50% 50% no-repeat;
              }
              &.icon-4{
                background: url("../img/icon-service4.svg") 50% 50% no-repeat;
              }
            }
            .name-service{
              font-weight: 700;
              display: block;
              color: #8C8C8C;
              font-size: 18px;
              text-transform: uppercase;
            }
            &:hover{
              border: 2px solid $color2;
              box-shadow: 3px 3px 5px 0px #AAA9A9BF;
              .name-service{
                color: $color2;
              }
              .icon-service{
                &.icon-1{
                  background: url("../img/icon-service1-act.svg") 50% 50% no-repeat;
                }
                &.icon-2{
                  background: url("../img/icon-service2-act.svg") 50% 50% no-repeat;
                }
                &.icon-3{
                  background: url("../img/icon-service3-act.svg") 50% 50% no-repeat;
                }
                &.icon-4{
                  background: url("../img/icon-service4-act.svg") 50% 50% no-repeat;
                }
              }
            }
          }
        }
        .btn-continue{
          width: 100%;
          height: 40px;
          background-color: $color2;
          color: #ffffff;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 700;
        }
      }
    }
    .paging{
      display: flex;
      align-items: center;
      justify-content: center;
      a{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #E8E8E8;
        width: 30px;
        height: 30px;
        border-radius: 5px;
        background-color: $color1;
        color: $color-text-common;
        font-size: 14px;
        margin: 0 6px;
        &:hover, &.active{
          background-color: $color2;
          color: $color1;
        }
        &.prev-pag{
          &:hover{
            background-color: $color3;
          }
          &:before{
            display: block;
            content: '';
            background: url("../img/icon-arrowdown.png") 0/100% no-repeat;
            width: 9px;
            height: 6px;
            transform: rotate(90deg);
          }
        }
        &.next-pag{
          &:hover{
            background-color: $color3;
          }
          &:before{
            display: block;
            content: '';
            background: url("../img/icon-arrowdown.png") 0/100% no-repeat;
            width: 9px;
            height: 6px;
            transform: rotate(-90deg);
          }
        }
      }
    }
  }
  .footer{
    background-color: $color1;
    .main-footer{
      border-bottom: 1px solid #E8E8E8;
      padding: 20px 0;
      .title{
        padding-bottom: 5px;
        font-size: 14px;
        border-bottom: 1px solid #4B4B4B;
        display: inline-block;
        font-weight: bold;
        margin-bottom: 20px;
      }
      .item-footer{
        margin-bottom: 15px;
        width: 100%;
        .icon-ft{
          display: inline-block;
          width: 17px;
          height: 17px;
          margin-right: 6px;
          &.address{
            background: url("../img/icon-address.png") 50% 50% no-repeat;
          }
          &.phone{
            background: url("../img/icon-phone1.png") 50% 50% no-repeat;
          }
          &.time{
            background: url("../img/icon-time.png") 50% 50% no-repeat;
          }

        }
        h4{
          font-size: 14px;
          font-weight: bold;
          margin-bottom: 13px;
        }
        p{
          display: flex;
          align-items: center;
          color: #8C8C8C;
          margin-bottom: 12px;
          line-height: 17px;
        }
      }
      .list-info{
        padding-bottom: 10px;
        li{
          margin-bottom: 8px;
        }
        a{
          color: #8C8C8C;
          &:before{
            content: '';
            display: inline-block;
            width: 0;
            height: 0;
            border-top: 4px solid transparent;
            border-left: 4px solid #8C8C8C;
            border-bottom: 4px solid transparent;
            margin-right: 9px;
          }
          &:hover{
            color: #0050A6;
            &:before{
              border-left: 4px solid #0050A6;
            }
          }

        }
      }
      .list-payment{
        .item-pay{
          display: inline-block;
          width: 117px;
          height: 51px;
          margin: 0 6px;
          &.visa{
            background: url("../img/Store-01.png") 0/100% no-repeat;
          }
          &.mscard{
            background: url("../img/Store-02.png") 0/100% no-repeat;
          }
          &.atmbank{
            background: url("../img/Store-03.png") 0/100% no-repeat;
          }
          &.cash{
            background: url("../img/Store-04.png") 0/100% no-repeat;
          }
        }
      }
      .btn-download{
        display: inline-block;
        width: 166px;
        height: 50px;
        margin-right: 16px;
        &:last-child{
          margin-right: 0;
        }
        &.ios{
          background: url("../img/Store-05.png") 0/100% no-repeat;
        }
        &.android{
          background: url("../img/Store-06.png") 0/100% no-repeat;
        }
      }
    }
    .bottom-main{
      border-top: 1px solid #E8E8E8;
      padding: 18px 0 0;
      }
    .bottom-footer{
      height: 30px;
      color: #8C8C8C;
      font-size: 12px;
    }
  }
}
@media only screen and (min-width: 1366px) {
  .container{
    max-width: 1366px;
  }
  .wrapper-pcs{

    .main-pcs{
      .box-left{
        width: 300px;
        max-width: 300px;
      }
      .box-main{
        width: 1034px;
        max-width: 1034px;
      }
    }
  }
}
@media only screen and (max-width: 1365px) {
  .container{
    max-width: 100%;
    min-width: 1024px;

  }
  .wrapper-pcs{
    min-width: 1024px;
    overflow: auto;
    .main-pcs{
      padding: 24px 15px;
      .box-left{
        position: absolute;
        top: 0;
        left: -25%;
        min-width: 256px;
        z-index: 9;
        border: 1px solid  $color3;
        background-color: #ffffff;
        box-shadow :2px 4px 4px #4b4b4b;
        .toggle{
          display: flex;
        }
        &.active{
          left: 0;
        }
      }
      .box-right{
        flex: 1;
        max-width:  100%;
        width:  100%;
      }
    }

  }
}
@media only screen and (max-width: 1024px) {
  .container{
    max-width: calc(100% - 45px);
    min-width: 1024px;
  }
  .wrapper-pcs{
    .main-pcs{
      padding: 24px 15px;
      .box-left{
        left: -256px;
      }
    }
    .footer{
      padding: 0 15px;
    }
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-button-next{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color3;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: none;
  margin-top: -10px;
  opacity: 1;
  right: 0;
  z-index: 5;
  &:before{
    display: block;
    content: '';
    background: url("../img/btn-prev.png") 0/100% no-repeat;
    width: 6px;
    height: 11px;
    transform: rotate(180deg);
  }
}
.swiper-button-prev{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color3;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: none;
  margin-top: -10px;
  opacity: 1;
  left: 0;
  z-index: 5;
  &:before{
    display: block;
    content: '';
    background: url("../img/btn-prev.png") 0/100% no-repeat;
    width: 6px;
    height: 11px;
  }
}
/*update popup download file*/
.box-download-file{
 position: absolute;
  width: 202px;
  height: 168px;
  padding-top: 14px;
  top: 40px;
  left: 50%;
  margin-left: -101px;
  z-index: 99;
  display: none;
  .main-box-download{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    position: relative;
    z-index: 3;
    border: 1px solid #E8E8E8;
    border-radius: 4px;
    box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.25);
    &:before{
      display: block;
      content: '';
      width: 20px;
      height: 20px;
      background-color:#ffffff ;
      border: 1px solid #E8E8E8;
      transform: rotate(45deg);
      position: absolute;
      top: -10px;
      left: 50%;
      margin-left: -10px;
    }
    .content{
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 2;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #ffffff;
    }
  }
  a{
    display: block;
    width: 139px;
    height: 51px;
    margin: 0 auto 14px;
    &:last-child{
      margin: 0 auto;
    }
  }
  .btn-dowwnload-pdf{
    background: url("../img/btn-download-pdf.png") 0/100% no-repeat;
  }
  .btn-dowwnload-excel{
    background: url("../img/btn-download-excel.png") 0/100% no-repeat;
  }
}
.box-report-price{
  &:hover{
    .box-download-file{
      display: block;
    }
  }
}