//popup video, footer. animate...
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse {
  -webkit-animation-name: pulse;
  animation-name: pulse;
}
.footer {
  width: 100%;
  padding: 40px 15px 50px;
  text-align: center;
  color: #fff;
  background: #000000;
}

.funtap {
  display: block;
  text-indent: -999em;
  background: url("https://cdn.smobgame.com/templates/hakibv/images/logo2.png")
    0 0 no-repeat;
  width: 136px;
  height: 38px;
  left: 0;
  top: -10px;
}

.ghdt {
  position: absolute;
  right: 0;
  top: 0;
}

.footerInner {
  color: #fff;
  font-size: 13px;
  text-align: center;
  position: relative;
  margin: 0 auto;
}

.footerInner a.bs {
  color: #fff;
  display: inline-block;
  margin: 0 10px;
}

.footerInner a:hover {
  color: #ff9500;
}

.footerInner p {
  margin-bottom: 6px;
}

.logo2 {
  display: block;
  text-indent: -999em;
  background: url(https://cdn.smobgame.com/templates/tqbn/images/logo2.png) 0 0
    no-repeat;
  width: 149px;
  height: 41px;
  left: 0;
  top: -10px;
}

.cnt {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) !important;
  -moz-transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
  -o-transform: translate(-50%, -50%) !important;
  transform: translate(-50%, -50%) !important;
}

.pop-video {
  position: fixed;
  top: 50%;
  left: 50%;
  height: auto;
  width: 650px;
  max-width: 100%;
  max-height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #000000;
}
.closeModal {
  z-index: 2;
  font-size: 24px;
  line-height: 40px;
}

#video_iframe {
  width: 100%;
  height: 100%;
  position: absolute;
}

#video_iframe iframe {
  width: 100%;
  height: 100%;
  position: absolute;
}
.lightbox {
  background-color: rgba(0, 0, 0, 0.8);
  /*overflow: scroll;*/
  position: fixed;
  display: none;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  z-index: 10000000;
}

.lightbox-container {
  position: relative;
  max-width: 800px;
  margin: 7% auto;
  display: block;
  height: auto;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  .lightbox-container {
    margin-top: 10%;
    padding: 0;
  }
}

@media screen and (max-width: 414px) {
  .lightbox-container {
    margin-top: 13%;
  }
}

.lightbox-content {
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.7);
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.7);
}

.lightbox-close {
  text-transform: uppercase;
  background: transparent;
  position: absolute;
  font-weight: 300;
  font-size: 12px;
  display: block;
  border: none;
  color: white;
  top: -22px;
  right: 0;
  opacity: 1;
}

.video-container {
  padding-bottom: 56.25%;
  position: relative;
  padding-top: 30px;
  overflow: hidden;
  height: 0;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.comming-soon {
  width: 290px;
  padding: 50px 0px;
  text-align: center;
  font-size: 22px;
  color: #333;
  background: #fff;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.comming-soon .closeModal {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #f44e19;
  color: #fff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  line-height: 38px;
  text-align: center;
  top: -17px;
  right: -17px;
  font-size: 32px;
}
.list-posts li {
  position: relative;
  border-bottom: 1px dotted #c7c7c7;
  display: flex;
  align-items: center;
}
.list-posts li:last-child {
  border: none;
}
.list-posts li a {
  display: block;
  width: 77%;

  color: #1b1c1c;
  padding: 0 15px;
  font-size: 15px;
  padding: 8px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.list-posts li a:before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 6px;
  margin-right: 6px;
  background: url(https://cdn.smobgame.com/templates/thegioirong/images/home/icon-li.webp)
    no-repeat 0/100%;
}
.list-posts li .date {
  position: absolute;
  right: 10px;
  top: 0;
  height: 36px;
  color: #6b6b6b;
  font-size: 14px;
  line-height: 36px;
}
.list-posts li a:hover {
  color: #767b7f;
}
.lg18{
  position: absolute;
  top: 77px;
  left: 0;
  z-index: 1;
}
@media (max-width: 1024px) {
  #tab9 .navtabs {
    display: none;
  }
  #tab9 {
    display: none !important;
  }
  #tab9.current {
    display: block !important;
  }
  .lg18 {
    top: 80px !important;
  }
  .list-posts li a::before {
    content: "";
    display: inline-block;
    width: 17px;
    height: 17px;
    margin-right: 6px;
    background: url(https://cdn.smobgame.com/template/F91vn/images/home/bullet-li-mb.png)
      no-repeat 0/100%;
  }
}

@media only screen and (max-width: 640px) {
  .list-posts li a {
    padding: 6px 0;
    font-size: 13px;
  }
  .list-posts li a::before {
    width: 10px;
    height: 10px;
    margin-right: 5px;
  }
  .lg18 {
    top: 50px !important;
    width: 100px !important;
  }
  .footer {
    padding: 40px 15px 60px;
  }
  .logo2 {
    position: static;
    margin: 0 auto 15px;
  }
  .ghdt {
    width: 35px;
    height: 49px;
    position: static;
    margin: 15px auto;
  }
}
