/* reset css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.5;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a,
a:hover {
  text-decoration: none;
}
input,
button {
  border: none;
  &:focus {
    outline: none;
  }
}
.rs {
  padding: 0;
  margin: 0;
}
/* reset css */

/* style article reset */
ul {
  /* list-style-position: inside; */
  padding-inline-start: 40px;
}
.box-detail p {
  padding: 7px 0;
  margin: 0; /* word-break: break-all; */
}
.box-detail a:hover {
  text-decoration: underline;
}
.box-detail img {
  /* display: block; */
  max-width: 100%;
}
.box-detail .head,
.box-detail .time {
  position: relative;
}
.box-detail table {
  border-collapse: collapse;
  margin: 0 auto;
  color: #fff;
}
.box-detail table td {
  border: 1px solid #000;
  padding: 10px;
  background: #cdc5bb;
}
.box-detail table tr:first-child td {
  background: #303030;
  font-weight: bold;
  text-align: center;
  color: #fff;
}
.box-detail table tr:nth-child(even) td {
  background: #a19f9b;
}
.box-detail table img {
  border: none;
}
/* style article reset */
